﻿@{
    
}
<div class="auAgua">
    	<div class="auAguaHead">
    		<img src="@Url.Content("~/images/logoAgua_aji.png")" alt="">
    		<span>Consumo de agua</span>
    		<ul>
    			<li class="process" onclick="saveAuth('agua')" title="Guardar información de consumo de agua" style="background-image:url('@Url.Content("~/images/save_aji.png")');"></li>
    		</ul>
    	</div>
        <div class="auAguaColumn">
            <div class="field"><span>Agua fría:</span><input id="aguaFria" type="number" onkeyup="setConsumoAguaTotal()" onkeypress="validate(event)"></div>
            <div class="field"><span>Agua caliente:</span><input id="aguaCaliente" type="number" onkeyup="setConsumoAguaTotal()" onkeypress="validate(event)"></div>            
        </div>
        <div class="auAguaColumn">
            <div id="ConsumoAguaTotal" class="result" style="max-width:270px">00.0m³/<span>Consumo de agua total.</span></div>
            <div id="ConsumoAguaAnualEmpleado" class="result" style="max-width:270px">00.0m³/<span>Consumo de agua anual por empleado.</span></div>
        </div>
</div>
