﻿@{
}
    <div class="auAire">
        <div class="auAireHead">
        	<img src="@Url.Content("~/images/logoAire_aji.png")" alt="">
        	<span>Aire Comprimido</span>
        	<ul>
        		<li class="process" onclick="saveAuth('aire')" title="Guardar  datos aire comprimido" style="background-image:url('@Url.Content("~/images/save_aji.png")');"></li>
        	</ul>
        </div>
        <div class="spliter"></div>
        <div class="auAireOne">
        	<div class="field"><span>Consumo de compresor/es:</span><input id="consumoCompresor" type="number" onkeypress="validate(event)"></div>
        	<div class="field"><span>Consumo de aire comprimido:</span><input id="consumoAireComprimido" type="number" onkeypress="validate(event)"></div>
        </div>
    </div>

