﻿@{
    
}
    <div class="auAnalisis">
    	<div class="auAnalisisHead">
    		<img src="@Url.Content("~/images/logoAnalisis_aji.png")" alt="">
    		<span>Analisis de Cogeneración</span>  
            <ul>
        		<li class="process" onclick="saveAuth('analisis')" title="Guardar  datos aire comprimido" style="background-image:url('@Url.Content("~/images/save_aji.png")');"></li>
        	</ul>                     
    	</div>
    	<div class="spliter" style="margin-left: 0%;"></div>
        <div class="auAnColumn">
            <div id="termico" class="result resultHalf">00.0kWh/a<span>Térmico.</span></div>
            <div id="electrico" class="result resultHalf">00.0kWh/a<span>Eléctrico.</span></div>
            <div id="resutlPerdida" class="result resultHalf">00.0kWh/a<span>Perdida.</span></div>
            <div id="combustibleQuemadoCogeneracion" class="result resultHalf">00.0kWh/a<span>Combistible quemado unidad de cogeneración (Calculado).</span></div>
            <div id="combustibleQuemadoCaldera"class="result">00.0kWh/a<span>Combustible quemado en la caldera.</span></div>
        </div>
        <div class="auAnColumn">
            <div id="consumoElectricidadAutogenerada" class="result resultHalf">00.0%<span>Autoconsumo de la electricidad autogenerada.</span></div>
            <div id="SuministroElectricidadAutogenerada" class="result resultHalf">00.0%<span>Suministro a la red de la electricidad Autogenerada.</span></div>            
            <div id="DemandaCombustibleClimatizacion" class="result resultHalf">00.0kWh/a<span>Demanda de combustible para climatización.</span></div>
            <div id="DemandaCombustibleElectricidad" class="result resultHalf">00.0kWh/a<span>Demanda de combustible para electricidad.</span></div>
            <div class="auAnTwoinfo">(Incluyen el 50% de perdidas anuales)</div>            
        </div>
        <div class="auAnColumn">
            <div id="CombustibleGeneracionElectricidadDemanadaPropia" class="result">00.0kWh/a<span>Combustible para generación de electricidad para demanada propia.</span></div>
            <div id="CombustibleGeneracionElectricidadSuministroRed" class="result">00.0kWh/a<span>Combustible para generacion de electricidad para suministro de red.</span></div>
            <div id="IndiceEnergiaTermica_areaUtilizada" class="result">00.0kWh/m²a<span>Índice energía térmica/area utilizada.</span><div style="color: red; line-height: 0.9rem;">Area utilizada: <span id="areaUtilizada"></span><br>(Registrada en la seccion de sitios)</div></div>
        </div>
        <div class="auAnColumn">
            <div class="field"><span>Costos promedio de combustible:</span><input id="costosPromedioCombustible" type="number" onkeyup="setCostoPromedioCombustibles()" onkeypress="validate(event)"></div>
            <div id="CostoPromedioCombustibles" class="result resultHalf">00.0€/kWh<span>Costo promedio de combustibles.</span></div>
            <div id="CostoEspecificoClimatizacionDistancia" class="result resultHalf">00.0€/kWh<span>Costo especifico de climatización a distancia.</span></div>
            <div class="field"><span>Costos de climatización a distancia por año:</span><input id="costosClimatizacionDistancia" type="number" onkeyup="setCostoEspecificoClimatizacionDistancia()" onkeypress="validate(event)"></div>
            <div id="CostoAceiteCombustibleClimatizacion" class="result resultHalf">00.0€/a<span>Costo de aceite combustible para climatización</span></div>
            <div id="CostoAceiteCombustibleElectricidadDemandaPropia" class="result resultHalf">00.0€/a<span>Costo de aceite combustible para electricidad, demanda propia</span></div>
        </div>
    </div>
