﻿@{
    
}
<div class="auClimatizacion">
        <div class="auclimatizacionHead">
        	<img src="@Url.Content("~/images/logoClimatizacion_aji.png")" alt="">
        	<span>Climatización y Cogeneración</span>
        	<ul>
        		<li class="process" onclick="saveAuth('climatizacion')" title="Guardar datos de climatización y cogeneración" style="background-image:url('@Url.Content("~/images/save_aji.png")');"></li>
        	</ul>
        </div>
        <div class="spliter"></div>
        <div id="clColumn1" class="auClimaColumn">
            <div class="field"><span>Tipo de climatización:</span><select name="" id="tipoClimatizacion">
            		<option value="Aire acondicionado">Aire acondicionado</option>
            		<option value="Calefaccion">Calefacción</option>
            	</select></div>
            <div class="field"><span>Combustible para cogeneración:</span><select name="" id="combustibleCogeneracion">
            		<option value="Aceite combustible">Aceite combustible</option>
            		<option value="Gas natural">Gas natural</option>
            		<option value="Pellets de madera">Pellets de madera</option>
            	</select></div>
            <div class="field"><span>Combustible para climatización:</span><select name="" id="combustibleClimatizacion">
            		<option value="Aceite combustible">Aceite combustible</option>
            		<option value="Gas natural">Gas natural</option>
            		<option value="Pellets de madera">Pellets de madera</option>
            	</select></div>
            <div class="field"><span>Climatización a distancia:</span>
                <form action="">
                    <input type="radio" name="climDist" value="true">Si<br>
                    <input type="radio" name="climDist" value="false">No
                </form> 
            </div>  
            @*<div class="field"><span>Consumo de combustible anual:</span><input id="consumoCombustibleAnual" type="number" onkeypress="validate(event)"></div>*@
            <div class="field"><span>Valor calorífico de aceite combustible:</span><input id="valorCalorificoAceiteCombustible" type="number" onkeyup="setcombustibleAnual()" onkeypress="validate(event)"></div>
            <div class="field"><span>Valor calorífico de gas natural:</span><input id="valorCalorificoGasNatural" type="number" onkeyup="setcombustibleAnual()" onkeypress="validate(event)"></div>        
        </div>
        <div id="clColumn2" class="auClimaColumn">
            <div id="pelletsMadera" class="field"><span>Valor calorífico de pellets de madera:</span><input id="valorCalorificoPelletsMadera" type="number" onkeyup="setcombustibleAnual()" onkeypress="validate(event)"></div>
            <div id="combustibleAnual" class="result"></div>
            <div id="climatizacionDistancia" class="field"><span>Sistema de climatización a distacia:</span><input id="sistemaClimatizacionDistacia" type="number" onkeyup="setIndiceEnergiaTermica_areaUtilizada()" onkeypress="validate(event)"></div>
            <div class="field"><span>Suministro por cogeneracion del ultimo año:</span><input id="suministroCogeneracion" type="number" onkeyup="setelectricidadProducida()" onkeypress="validate(event)"></div>
            <div id="cogeneracion" class="result resultHalf">00.0kWh/a<span>Autoconsumo de electricidad de la unidad de cogeneración</span></div>
            <div id="electricidadProducida" class="result resultHalf">00.0kWh<span>Total de electricidad producida por unidad de cogeneración</span></div>
        </div>
        <div class="auClimaColumn">            
            <span style="border-bottom: solid 1px red;width: 100%;display: inline-block;margin: 5px 0px;padding: 5px 0px;">Datos técnicos de cogeneración</span>
            <div class="field"><span>Transformación en energía eléctrica:</span><input id="transformacionEnergiaElectrica" type="number" onkeypress="validate(event)"></div>
            <div class="field"><span>Transformación en energía térmica:</span><input id="transformacionEnergiaTermica" type="number" onkeypress="validate(event)"></div>
            <div class="field"><span>Pérdidas:</span><input id="Perdidas" type="number" onkeypress="validate(event)"></div>
    </div>
</div>
