﻿@{
    
}

 <div class="auEquipos">
        <div class="auEquiposHead">
            <img src="@Url.Content("~/images/logoEquipo_aji.png")" alt="">
            <span>Equipos</span>
            <ul>
                <li class="process" onclick="showFormEQ('inline-block','none')" title="Regresar" style="background-image:url('@Url.Content("~/images/add_aji.png")');"></li>
                <li class="process"  onclick="saveAuth('equipo')" title="Guardar equipo" style="background-image:url('@Url.Content("~/images/save_aji.png")');"></li>
                <li class="process" onclick="showFormEQ('none','inline-block')" title="Regresar" style="background-image:url('@Url.Content("~/images/back_aji.png")');"></li>
            </ul>
        </div>
        <div class="spliter"></div>
        <div class="auEquiposColumn">
            <div class="field"><span>Descripción:</span><input id="eqDescripcion" type="text"></div>
            <div class="field"><span>Departamento:</span><input id="eqDepartamento" type="text"></div>
            <div class="field"><span>Tipo:</span>
                <select name="" id="eqTipo">           
                        @foreach (var item in ViewBag.PolicyOrgs)
                        {
                            <option value="@item.nombre">@item.nombre</option>
                        }
                </select>
            </div>
            <div class="field"><span>Uso:</span><select name="" id="eqUso">
            		<option value="Lavado">Lavado</option>
            		<option value="Iluminación">Iluminación</option>
            	</select></div>
            <div class="field"><span>Potencia:</span><input id="eqPotencia" type="number" placeholder="kW" onkeypress="validate(event)"></div>
        </div>
        <div class="auEquiposColumn">
            <div class="field"><span>Cantidad:</span><input id="eqCantidad" type="number" onkeypress="validate(event)"></div>
            <div class="field"><span>Horas/Uso:</span><input id="eqHoras" type="number" onkeypress="validate(event)"></div>
            <div class="field"><span>Consumo:</span><input id="eqConsumo" type="number" placeholder="kWh" onkeypress="validate(event)"></div>
            <div class="field"><span>Observaciones:</span><textarea name="" id="eqObservaciones" cols="30" rows="10"></textarea></div>
        </div>
        <input style="display:none" name="" id="eqIdEquipo" type="number" disabled/>
<link href="@Url.Content("~/Scripts/sync/themes/default-theme/ej.widgets.all.min.css")" rel="stylesheet" />
<link href="@Url.Content("~/Scripts/sync/themes/default.css")" rel="stylesheet" />
<link href="@Url.Content("~/Scripts/sync/themes/default-responsive.css")" rel="stylesheet" />
<link href="@Url.Content("~/Scripts/sync/themes/responsive-css/ej.responsive.css")" rel="stylesheet" />

<div id="gridContainerEQ" class="content-container-fluid">
        <div class="row">
            <div class="cols-sample-area">
                <div id="Grid"></div>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">  
    $(document).ready(function () {
        showFormEQ("none","inline-block")
    });
    function showFormEQ(act1,act2){
        var colsForm = document.getElementsByClassName('auEquiposColumn');
        for (i = 0; i < colsForm.length; i++) {
            colsForm[i].style.display = act1;
        }
        gridContainerEQ.style.display = act2;
        var colsForm = $('.auEquiposHead ul li.process');
        for (i = 0; i < colsForm.length; i++) {
            colsForm[i].style.display = act1;
        }
        if (act1 == "none") {
            colsForm[0].style.display = act2;
        } else {
            colsForm[0].style.display = act2;
        }
    }
    function loadEq(id) {
        $.ajax({
            url: "@Url.Content("~/AjaxTest/getEquipo")",
            type: "POST",
            dataType: "json",
            traditional: true,
            data: {
                'id_equipo': id
            },
            success: successGetEq
        });
        
    }
    function successGetEq(data, status) {
        setEquipos(data);
        showFormEQ("inline-block", "none");
    }
    function setEquipos(cl) {
        $("#eqTipo").val(cl.nombre);
        $("#eqUso").val(cl.uso);
        eqDescripcion.value = cl.descripcion;
        eqDepartamento.value = cl.departamento;
        eqPotencia.value = cl.potencia;
        eqCantidad.value = cl.cantidad;
        eqHoras.value = cl.horas_uso;
        eqConsumo.value = cl.consumo;
        eqObservaciones.value = cl.observacion;
        eqIdEquipo.value = cl.id_equipo;
    }
</script>