﻿@{
    
}
    <div class="auTransporte">
        <div class="auTransHead"><img src="@Url.Content("~/images/logoTransporte_aji.png")" alt="">
            <span>Transporte/Viajes de Trabajo</span>
            <ul>
            	<li class="process" onclick="saveAuth('transporte')" title="Guardar datos de transporte/viajes de trabajo" style="background-image:url('@Url.Content("~/images/save_aji.png")');"></li>
            </ul>
        </div>    
        <span class="auTransSubtitle">Datos técnicos calle/pista</span>
        <div id="transporteContainer"  class="auTransColumn" style="max-width: 1000px;">
            <div class="titleTransport">
                <span class="auTransSubtitle0">Medio de transporte</span>
                <ul>
        	        <li class="process" onclick="showFormTR('inline-block','none')" title="Regresar" style="background-image:url('@Url.Content("~/images/add_aji.png")');"></li>
                    <li class="process" onclick="saveAuth('transporte')" title="Guardar transporte" style="background-image:url('@Url.Content("~/images/save_aji.png")');"></li>                    
                    <li class="process" onclick="showFormTR('none','inline-block')" title="Regresar" style="background-image:url('@Url.Content("~/images/back_aji.png")');"></li>
                </ul>
            </div>
            <div id="formTransporte" class="formTransporte">
            <div style="max-width:210px" class="field"><span>Marca de vehiculo:</span><input id="marcaVehiculo" type="text"></div>
            <div style="max-width:210px" class="field"><span>Placa de vehiculo:</span><input id="placaVehiculo" type="text"></div>
            <div style="max-width:210px" class="field"><span>Tipo de combustible:</span>
                <select name="" id="tipoCombustible">
            		<option value="Diesel">Diesel</option>
            		<option value="Gasolina">Gasolina</option>
            	</select></div>
            <div style="max-width:210px" class="field"><span>Consumo de combustible:</span><input id="consumoCombustible" type="number" onkeypress="validate(event)"></div>
            <input id="id_transporte" disabled style="display:none" type="number" />
            </div>            
            <div id="gridContainerTR" class="content-container-fluid">
                <div class="row">
                    <div class="cols-sample-area">
                        <div id="GridTR"></div>
                    </div>
                </div>
            </div>
            <div class="result resultHalf"><num id="valorConsumoPromedioGasolina" ></num><br> l/100km<span>Consumo promedio de Gasolina.</span></div>
            <div class="result resultHalf"><num id="valorConsumoPromedioDiesel" ></num><br> l/100km<span>Consumo promedio de Diesel.</span></div>
        </div>
        
        <div class="auTransColumn">
            <div class="field"><span>Consumo total de diesel por año:</span><input id="consumoTotalDieselAunual" type="number" onkeyup="setTrechosRecorridosDiesel()" onkeypress="validate(event)"></div>
            <div class="field"><span>Costos de diesel:</span><input id="costosDiesel" type="number" onkeypress="validate(event)"></div>
            <div id="TrechosRecorridosDiesel" class="result resultHalf">00.0km/a<span>Trechos recorridos (diesel).</span></div>
            <div id="EnergiaConsumidaDiesel" class="result resultHalf">00.0kWh/a<span>Energía consumida (diesel)</span></div>
            <div class="field"><span>Consumo total de gasolina por año:</span><input id="consumoTotalGasolinaAnual" type="number" onkeyup="setTrechosRecorridosGasolina()" onkeypress="validate(event)"></div>
            <div class="field"><span>Costos de gasolina:</span><input id="costosGasolina" type="number" onkeypress="validate(event)"></div>
            <div id="TrechosRecorridosGasolina" class="result resultHalf">00.0km/a<span>Trechos recorridos (gasolina). </span></div>
            <div id="EnergiaConsumidaGasolina" class="result resultHalf">00.0kWh/a<span>Energía consumida (gasolina)</span></div>
            <div id="EnergiaConsumidaCalle_Pista" class="result">00.0kWh/a<span>Energía consumida (calle/pista)</span></div>
        </div>
        <div class="auTransColumn">
            <div class="field"><span>Viajes en tren:</span><input id="viajesTren" type="number" onkeypress="validate(event)"></div>
            <div class="field"><span>Consumo de energía en recorrido:</span><input id="consumoEnergiaRecorrido" type="number" onkeypress="validate(event)"></div>
            <div class="field"><span>Costos de los viajes en tren:</span><input id="costosViajeTren" type="number" onkeypress="validate(event)"></div>
            <div id="EnergiaConsumidaViajesTren" class="result">00.0kWh/a<span>Energía consumida de viajes en tren (anual)</span></div>
        </div>
        <div class="auTransColumn">
            <div class="field"><span>Viajes en avión:</span><input id="viajesAvion" type="number" onkeyup="setConsumoEnergiaKilometroAvion()" onkeypress="validate(event)"></div>
            <div class="field"><span>Consumo de kerosene:</span><input id="consumoKerosene" type="number" onkeyup="setConsumoEnergiaViajesAvion((parseFloat(consumoKerosene.value) / 100 * 9.6))" onkeypress="validate(event)"></div>
            <div class="field"><span>Valor calorífico de kerosene:</span><input id="valorCaloríficoKerosene" type="number" onkeypress="validate(event)"></div>
            <div class="field"><span>Costos de viajes en avión:</span><input id="costosViajesAvion" type="number" onkeypress="validate(event)"></div>
            <div id="ConsumoEnergiaKilometroAvion" class="result resultHalf">00.0kWh/a<span>Consumo de energía por kilómetro en avión.</span></div>
            <div id="ConsumoEnergiaViajesAvion" class="result resultHalf">00.0kWh/a<span>Consumo de energía de viajes en avión por año.</span></div>
            <div id="ConsumoEnergiaViajesServicio" class="result">00.0kWh/a<span>Consumo de energía de viajes de servicio por año.</span></div>
            <div id="IndiceConsumoEnergiaEmpleado" class="result">00.0kWh/Empleado<span>Índice de consumo de energía por empleado.</span>
            <div style="font-size: 0.7rem;">Empleados de sitio: <span id="empleadosDeSitio" style="width:auto !important"></span></div></div>
        </div>
    </div>
<link href="@Url.Content("~/Scripts/sync/themes/default-theme/ej.widgets.all.min.css")" rel="stylesheet" />
<link href="@Url.Content("~/Scripts/sync/themes/default.css")" rel="stylesheet" />
<link href="@Url.Content("~/Scripts/sync/themes/default-responsive.css")" rel="stylesheet" />
<link href="@Url.Content("~/Scripts/sync/themes/responsive-css/ej.responsive.css")" rel="stylesheet" />

<script type="text/javascript">  
    $(document).ready(function () {
        showFormTR("none", "inline-block");
        setTimeout("setTrechosRecorridosDiesel()", 3000);
        setTimeout("setTrechosRecorridosGasolina()", 3000);
    });
    function showFormTR(act1,act2){        
        formTransporte.style.display = act1;
        gridContainerTR.style.display = act2;
        var colsForm = $('.titleTransport ul li.process');
        for (i = 0; i < colsForm.length; i++) {
            colsForm[i].style.display = act1;
        }
        if (act1 == "none") {
            colsForm[0].style.display = act2;
        } else {
            colsForm[0].style.display = act2;
        }
    }
    function loadTR(id) {
        $.ajax({
            url: "@Url.Content("~/AjaxTest/getTransporte")",
            type: "POST",
            dataType: "json",
            traditional: true,
            data: {
                'id_transporte': id
            },
            success: successGetTR
        });

    }
    function successGetTR(data, status) {
        setTransporte(data);
        showFormTR("inline-block", "none");
    }
    function setTransporte(tr) {
        $("#tipoCombustible").val(tr.tipo_combustible);
        marcaVehiculo.value = tr.marca_vehiculo;
        placaVehiculo.value = tr.placa_vehiculo;
        consumoCombustible.value = tr.consumo_combustible;
        id_transporte.value = tr.id_transporte;
    }
</script>