﻿@{
    
}
<div style="width:100%;display:block;position:relative;height:10px"></div> 
    <div class="content-container-fluid">      
        <div class="row">                
             <div class="cols-sample-area">                                  				
				<div id="containerBar" style="height:600px"></div> 					                   
            </div>				
        </div>
	</div>
 <style>
	.e-waitpopup-pane
	{
		background-color:transparent
	}
 </style>
 <script type="text/javascript" language="javascript">      
     $(function () {
         $("#containerBar").ejChart({
             //Initializing Primary X Axis	
             primaryXAxis: { title: { text: 'Vehiculos' } },
             //Initializing Primary Y Axis	
             primaryYAxis: { range: { min: 0, max: 100, interval: 20 }, title: { text: 'Consumo' } },
             //Initializing Common Properties for all the series
             commonSeriesOptions:
             {
                 type: 'column',
                 enableAnimation: true,
                 tooltip: { visible: true, format: "#point.x# : #point.y#[l/100km]. #series.name# Diesel" }
             },
             //Initializing Series
             series:
             [
                 {
                     points: [@Html.Raw(ViewBag.dataBar)],
                     name: 'Consumo',
                     opacity: 1,
                     fill: '#87ceeb'
                 }
             ],
             load: "loadTheme",
             canResize: true,
             title: { text: 'Consumo de vehiculos (Diesel)' },
             size: { height: "300" },
             legend: { visible: true, position: 'top' }
         });
         var chart = $("#containerBar").ejChart("instance");

         $('#sidebyside').click(function () {
             if ($("#sidebyside").is(":checked"))
                 chart.model.sideBySideSeriesPlacement = true;
             else
                 chart.model.sideBySideSeriesPlacement = false;
             chart.redraw();
         });
     });
     $("#sampleProperties").ejPropertiesPanel();
 </script>

