﻿@{
    
}
<div class="content-container-fluid">
        <div class="row">
            <div class="cols-sample-area">
                <div id="containerPie3d"></div>
            </div>
        </div>
    </div>
 <script type="text/javascript" language="javascript">
     $(function () {
         $("#containerPie3d").ejChart(
         {
             //Initializing Common Properties for all the series     		
             commonSeriesOptions:
             {
                 labelPosition: 'outside',
                 tooltip: { visible: true, format: "#point.x# : #point.y# kWh/a" },
                 marker:
                 {
                     dataLabel:
                     {
                         shape: 'none',
                         visible: true,
                         textPosition: 'top',
                         border: { width: 1 },
                         connectorLine: { height: 70, stroke: "black" }
                     }
                 }
             },

             //Initializing Series
             series:
             [
                 {
                     points: [@Html.Raw(@ViewBag.dataPie)],

                     explodeIndex: 0,
                     border: { width: 2, color: 'white' },
                     type: 'pie',
                     labelPosition: 'outside',
                     startAngle: 145
                 }
             ],

             //Enabling 3D Chart			
             enable3D: true,
             enableRotation: true,
             depth: 30,
             tilt: -30,
             rotation: -30,
             perspectiveAngle: 90,
             canResize: true,
             load: "onchartload",
             title: { text: "Valores Térmicos, eléctricos y perdidas" },
             size: { height: "400", width: "470" },
             legend: { visible: false }
         });
     });

     function onchartload(sender) {
         loadTheme(sender);
         if (sender.model.theme == "flatdark" || sender.model.theme == "gradientdark")
             sender.model.commonSeriesOptions.marker.dataLabel.connectorLine.stroke = "white";
     }
 </script>
