﻿.content-container-fluid {
    padding-right: 0px;
    padding-left: 0px;
    width: 100%;
    display: block;
    max-width: 480px;
}
.cols-sample-area {
    min-height: 0px !important;
    padding: 0px !important;
}
/*animacion guardar*/
#saving {
    color: #454545;
    background-color: #B9B9B9;
    animation: cls 3s linear 1s infinite alternate; /* Firefox */
    -webkit-animation: cls 3s linear 1s infinite alternate; /* Chrome, Safari, Opera */
    width: 100%;
    text-align: center;
    position: fixed;
    right: 1%;
    font-size: 2rem;
    z-index: 99999;
    line-height: 200px;
    height: 100%;
    top: 0px;
    opacity: 0.8;
    display:none;
}
@keyframes cls {
    70% {background-color: #B9B9B9;color:#454545;}
    100% {background-color: #607D60;color:white;}
}

@-webkit-keyframes cls {
    70% {background-color: #B9B9B9;color:#454545;}
    100% {background-color: #607D60;color:white;}
}
      /*Equipos*/
.editEquipos {
    width: 100%;
    background-size: 20px auto;
    background-position: center;
    background-repeat: no-repeat;
    color: transparent;
    height: 20px;
    cursor:pointer;
}
.auMainFirst {
    width: 100%;
    margin: auto;
    padding: 0% 2%;
}
.auEquipos {
    width: auto;
    display: inline-block;
    margin: 0px;
    padding: 0.2%;
    float: left;
    box-shadow: 4px 0px 4px -4px black;
    min-height: 350px;
    min-width: 450px;
}
    .auEquiposHead {
        display: inline-block;
        width: 100%;
    }
        .auEquiposHead img {
            float: left;
            height: 40px;
            width: 40px;
            margin: 5px;
        }
        .auEquiposHead span {
            color: red;
            font-size: 1.3rem;
            line-height: 50px;
            margin: 1%;
        }
        .auEquiposHead ul {
            margin: 5px;
            padding: 0px;
            width: 60px;
            float: right;
        }
    .spliter {
        width: 98%;
        height: 2px;
        background-color: red;
        margin: auto;
        margin-bottom: 5px;
        margin-top: 0px;
    }
    .auEquiposColumn {
        width: 49%;
        float: left;
        padding: 0.5%;
        display: inline-block;
        max-width: 240px;
    }

        /*Climatizacion*/
    .auClimatizacion {
        width: auto;
        display: inline-block;
        margin: 0px;
        padding: 0.2%;
        float: left;
    }
    
    .auclimatizacionHead {
        display: inline-block;
        width: 100%;
    }
        .auclimatizacionHead img {
            float: left;
            height: 40px;
            width: 40px;
            margin: 5px;
        }
        .auclimatizacionHead span {
            color: red;
            font-size: 1.3rem;
            line-height: 50px;
            margin: 1%;
        }
        .auclimatizacionHead ul {
            margin: 5px;
            padding: 0px;
            width: 30px;
            float: right;
        }
.auClimaColumn {
    width: 31%;
    float: left;
    display: inline-block;
    padding: 0.5%;
    max-width: 270px;
}
        /*Aire comprimido*/
    .auAire {
        width: auto;
        display: inline-block;
        margin: 0px;
        padding: 0.2%;
        float: left;
        box-shadow: 4px 0px 4px -4px black;
        max-width:50%
    }
    .auAireHead {
        display: inline-block;
        width: 100%;
    }
        .auAireHead img {
            float: left;
            height: 40px;
            width: 40px;
            margin: 5px;
        }
        .auAireHead span {
            color: red;
            font-size: 1.3rem;
            line-height: 50px;
            margin: 1%;
        }
        .auAireHead ul {
            margin: 5px;
            padding: 0px;
            width: 30px;
            float: right;
        }

            /*Analisis*/
    .auMainSecond {
        display: inline-block;
        width: 100%;
        padding: 0% 2%;
    }
    .auAnalisis {
        width: 98%;
        display: inline-block;
        margin: 0px;
        padding: 0.2%;
        float: left;
    }
    .auAnalisisHead {
        display: inline-block;
        width: 100%;
    }
        .auAnalisisHead img {
            float: left;
            height: 40px;
            width: 40px;
            margin: 5px;
        }
        .auAnalisisHead span {
            color: red;
            font-size: 1.3rem;
            line-height: 50px;
            margin: 1%;
        }
        .auAnalisisHead ul {
            margin: 5px;
            padding: 0px;
            width: 30px;
            float: right;
        }
    .auAnColumn {
        width: 25%;
        float: left;
        padding: 2px 0px;
        display: inline-block;
        min-width: 250px;
    }
    .auAnOne .result, .auAnTwo .result, .auAnThree .result, .auAnFour .result {
        margin: 2px;
    }
    .auAnTwoinfo {
        background-color: rgb(255, 255, 255);
        color: gray;
        text-align: left;
        padding: 0px;
        font-size: 0.9rem;
        min-height:60px
    }
            /*Transporte*/
.editTrans {
    width: 100%;
    background-size: 20px auto;
    background-position: center;
    background-repeat: no-repeat;
    color: transparent;
    height: 20px;
    cursor:pointer;
}
    .auMainThird {
        display: inline-block;
        width: 100%;
        padding: 0% 2%;
    }
    .auTransporte {
        width: auto;
        display: inline-block;
        margin: 0px;
        padding: 0.2%;
        float: left;
    }
    .auTransHead {
        display: inline-block;
        width: 98%;
    }
    .auTransHead img {
            float: left;
            height: 40px;
            width: 40px;
            margin: 5px;
        }
        .auTransHead span {
            color: red;
            font-size: 1.3rem;
            line-height: 50px;
            margin: 1%;
        }
        .auTransHead ul {
            margin: 5px;
            padding: 0px;
            width: 30px;
            float: right;
        }
    .auTransSubtitle {
        display: inline-block;
        width: 98%;
        margin-left: 0%;
        border-bottom: solid 1px red;
        font-size: 1rem;
        padding-bottom: 10px;
        border-top: solid 2px red;
        padding-top: 10px;
        margin-bottom: 10px;
        box-shadow: 0px 5px 6px -4px black;
    }
    .auTransSubtitle0 {
        width: 90%;
        margin-left: 1%;
        font-size: 1rem;
        float: left;
        line-height: 30px;
    }
.auTransColumn {
    width: 32%;
    float: left;
    padding: 2px 0px;
    display: inline-block;
    max-width: 270px;
    min-width: 220px;
}
.titleTransport {
    display: inline-block;
    width: 96%;
    border-bottom: solid 1px red;
    margin-bottom: 10px;
}
    .titleTransport ul {
        margin: -30px 0px 0px;
        padding: 0px;
        float: right;
        margin-top: -30px !important;
        width:65px;
    }
.auTitleContainer {
    color: black;
    width: 96%;
    text-align: left;
    font-size: 1.3rem;
    margin-right: 2%;
    border-bottom: solid 2px red;
    float: right;
    padding-bottom: 0px;
    margin-bottom: 20px;
}
    .auTitleContainer span {
        color: red;
        width: 96%;
        text-align: left;
        font-size: 1.3rem;
        margin-right: 2%;
        padding-bottom: 0px;
    }
.autitleSection {
    color: red !important;
    display: block;
    width: 37%;
    text-align: right;
    font-size: 1.5rem;
    float: right;
    margin: 0px;
}
    .autitleSection img {
        border-radius: 50%;
        width: 75px;
        height: 75px;
        border: solid 2px red;
        overflow: hidden;
        margin-bottom: -20px;
        float: right;
        background-color: red;
    }
.auControls {
    position: relative;
    display: inline-block;
    width: 98%;
    text-align: right;
    padding: 0% 1%;
    background-color: #E3E3E3;
    margin-bottom: 5px;
    border-top: solid 2px red;
}
.result {
    display: inline-block;
    padding: 2%;
    width: 94%;
    background-color: #D60000;
    color: #FFF;
    font-size: 1.6rem;
    text-align: left;
    margin-bottom: 2px;
    margin-top: 5px;
    min-height: 90px;
    line-height: 1.4rem;
}
.resultHalf {
    max-width: 44%;
    float: left;
    margin: 2% 2% 0% 0px;
    display: inline-block;
    min-height: 90px;
    font-size: 1.3rem;
    min-width: 90px;
}
    .resultHalf span {
        font-size: 0.7rem !important;
        line-height: 0.8rem;
    }
.result span {
    font-size: 0.8rem;
    width: 100%;
    display: inline-block;
    line-height: 0.9rem;
}
.auAgua {
    width: auto;
    display: inline-block;
    margin: 0px;
    padding: 0.2%;
    float: left;
    max-width: 50%;
    box-shadow: 4px 0px 4px -4px black;
}
.auAguaHead {
    display: inline-block;
    width: 98%;
    border-bottom: solid 2px red;
}
.auAguaColumn .result {
    width: 40%;
    max-width: 265px;
    float: left;
    margin-right: 2%;
    font-size: 1.2rem;
}
    .auAguaHead img {
        float: left;
        height: 40px;
        width: 40px;
        margin: 5px;
    }
    .auAguaHead span {
        color: red;
        font-size: 1.3rem;
        margin: 1%;
        float: left;
    }
    .auAguaHead ul {
        margin: 5px;
        padding: 0px;
        width: 30px;
        float: right;
    }
.auAguaColumn {
    width: 50%;
    float: left;
    padding: 2px 0px;
    display: inline-block;
}
        /*Consumo agua*/
#idAuditoria {
    width: 50%;
    float: left;
    font-size: 0.7rem;
    background-color: transparent;
    border: medium none;
    margin: 10px;
    color: #F00;
}
.process {
    float: right;
    margin-left: 2px;
}
