/**
 *
 *
 */

main {
    width: 0%;
    height: 20px;
    margin-left: 50%;
    margin-top: 25%;
    margin-right: auto;
    position: fixed;
}
    main.loaded {
        transition: opacity .25s linear;
        opacity: 1;
    }
    main header {
        width: 100%;
    }
        main header > div {
            width: 50%;
        }
        main header > .left, main header > .right {
            height: 100%;
        }
    main .loaders {
        width: 100%;
        box-sizing: border-box;
        display: flex;
        flex: 0 1 auto;
        flex-direction: row;
        flex-wrap: wrap;
    }
        main .loaders .loader {
            box-sizing: border-box;
            display: flex;
            flex: 0 1 auto;
            flex-direction: column;
            flex-grow: 1;
            flex-shrink: 0;
            flex-basis: 25%;
            max-width: 25%;
            height: 200px;
            align-items: center;
            justify-content: center;
        }

