﻿    
    
    .titleSection {
        color: red !important;
        padding: 1% 5%;
        display: block;
        width: 89%;
        text-align: right;
        font-size: 2rem;
    }
    .listaEmpresas li {
        border: solid 2px rgb(224, 224, 224);
        max-width: 30%;
        margin: 1%;
        min-width: 280px;
        background-color: rgb(236, 236, 236);
    }
    #accionSU {
        color: #D60000;
        border-bottom: solid 1px #D60000;
        padding: 2%;
        background-color: #ECECEC;
        margin-top: -4%;
        margin-left: -2%;
        margin-right: -6%;
    }
    .listaEmpresas li {
        max-height:1000px;
    }
    .rightContent_Emp img{
        float:left;
        width:30%;
        margin:1%;
    }
    .consumoFinalValor {
        color: black;
        display: block;
        font-size: 1.5rem;
    }
    .consumoFinalLabel {
        color: gray;
        display: block;
        font-size: 1.5rem;
        margin: 3% 1%;
    }
    .rightContent_Emp ul {
        display: inline-block;
        width: 30%;
        padding: 1%;
        float: left;
    }
        .rightContent_Emp ul li {
            list-style: none;
            border-bottom: solid 2px red;
            padding-bottom: 6%;
            border-top: solid 2px red;
            padding-top: 2%;
            margin-bottom: -2px;
        }
    .rightContent_Emp {
        display: inline-block;
        width: 73%;
        padding: 1%;
        min-width: 290px;
        float: right;
    }
    .controls {
        display: inline-block;
        text-align: right;
        width: 98%;
        margin-bottom: -10px;
        margin-top: -20px;
    }
    .controls ul{
        margin:0px;
    }
    .leftContent_Emp {
        display: inline-block;
        width: 23%;
        padding: 1%;
        min-width: 290px;
        float: left;
        box-shadow: 0px 10px 10px black;
    }
    .listaMainSitios {
        width: 100%;
    }
    .empresasForm {
        width:100%;
        padding: 1%;
        background-color: #fff;
    }
    .empresasForm_label {
        color:rgb(138, 138, 138);
    }    
    .empresasForm_txt {
        width: 98% !important;
        max-width: 300px;
        min-width: 150px;
        display: block;
    }
    #listaMainEmpresas {
        display:none;
        width: 100%;
    }