﻿/*----------------------------------------------------------
The base color for this template is #5c87b2. If you'd like
to use a different color start by replacing all instances of
#5c87b2 with your new color.
----------------------------------------------------------*/

/*--------------------------------------------------------*/
/*Sitios List*/
/*--------------------------------------------------------*/
#name {
    width: 100px;
    background-color: rgb(227, 227, 227);
    border: medium none;
    text-align:center;
}
.field {
    width: 100% !important;
    margin: 0px 0px 5px 0px;
    position: relative;
    padding: 0px;
    display: inline-block;
    max-width: 300px;
    min-width: 200px;
    height:auto;
    min-height:40px
    }
        .field span {
            width: 100%;
            display: inline-block;
            font-size: 0.8rem;
        }
        .field input {
            width: 96%;
            padding: 2px;
            margin: 0px;
            height: 16px;
            font-size: 0.8rem;
            float: left;
            border: solid 1px #656565;
        }
        .field input[type=radio] {
            width: 6%;
            padding: 2px;
            margin: 0px;
            height: 16px;
            font-size: 0.8rem;
            float: left;
            border: solid 1px #656565;
        }
        .field select {
            width: 99%;
            padding: 0px;
            height: 24px;
            font-size: 0.8rem;
            float: left;
            border: solid 1px #656565;
        }
        .field textarea {
            height: 60px;
            width: 96%;
        }

.listaEmpresas {
    width: 96%;
    height: 100%;
    display: inline-block;
    padding: 2%;
    background-color: #fff;
}
        .listaEmpresas span {
            color: red;
            font-size:  1.5rem;
        }
        .listaEmpresas h2 {
            color: black;
            width: 100%;
            margin: 1%;
            display: inline-block;
            font-size: 1rem;
        }
        .listaEmpresas h3 {
            color: black;
            width: 100%;
            margin: 1%;
            display: inline-block;
            font-size: 0.8rem;
        }
        .listaEmpresas h4 {
            color: black;
            width: 100%;
            margin: 1%;
            display: inline-block;
            font-size: 0.7rem;
            float: right;
            text-align: right;
            padding-bottom: 10px;
        }
        .listaEmpresas img {
            border-radius: 50%;
            width: 75px;
            height: 75px;
            display: inline-block;
            margin: 1%;
            border: solid 2px red;
            overflow: hidden;
        }
        .listaEmpresas ul {
            width: 100%;
            padding-left: 0px;
        }

        .listaEmpresas li {
            list-style: none;
            display: inline-block;
            width: 100%;
            max-height: 90px;
            border-bottom: solid red 2px;
        }
    .datosEmpresa {
        width: 65%;
        top: -23px;
        display: inline-block;
        height: 100%;
        position: relative;
        min-width: 180px;
        vertical-align: middle;
    }
/*--------------------------------------------------------*/
/*--------------------------------------------------------*/

.sitiosList span {
        color:red;
        font-size: 1.5rem;
        display: block;
    }
.sitiosList ul {
padding: 0px;
max-height: 400px;
display: inline-block;
width: 98%;
}
        .sitiosList ul li {
            list-style: none;
            display: inline-block;
            width: 98%;
            max-width: 600px;
            padding: 1%;
        }
    .sitiosList_li h2{
        color:black;
        font-size: 0.9rem;
        margin: 0px;
    }
    .sitiosList_li h3 {
        color: black;
        font-size: 0.7rem;
        margin: 0px;
    }
    .sitiosList_li h4 {
        color: black;
        float: right;
        margin: 0px 2%;
        font-size: 0.7rem;
    }
/*--------------------------------------------------------*/

/*Sitios*/
.process {
    width: 23px;
    height: 23px;
    display: inline-block;
    background-size: 100% 100%;
    cursor: pointer;
    border: solid 2px red;
    opacity: 0.7;
}
.process:hover {
    width: 21px;
    height: 21px;
    border: solid 3px red;
    background-color:rgb(201, 201, 201);
    opacity: 1;
}
/*--------------------------------------------------------*/


/*loader*/
.listaMainSitios {
    width:68%;
    display:inline-block;
    float:right;    
    overflow-x: hidden;
    overflow-y: auto;
}
.listaMainEmpresas{
    width:30%;
    display:inline-block;        
    overflow-x: hidden;
    overflow-y: auto;
}
#ascrail2000-hr {
    display:none !important;
}
.ui-widget-content {
    max-height: 400px;
    overflow-y: scroll;
    overflow-x: hidden;
}
html {
    /*overflow: hidden;*/
    width: 100%;
height: 100%;
}


.loginButton {
width: auto;
height: auto;
display: inline-block;
margin-right: 5%;
float: right;
position: relative;
border: solid 2px #FFFFFF;
cursor: pointer;
padding: 1% 5%;
font-size: 1rem;
color: white;
}
.LoginForm {
font-family: lato;
background-color: rgba(218, 0, 0, 0.83);
width: 30%;
min-width: 250px;
position: absolute;
max-width: 550px;
float: right;
right: 3%;
height: 360px;
margin-top: 100px;
min-height: 240px;
}
    .LoginForm span {
display: block;
text-align: left;
margin: 0% 5%;
color: white;
font-size: 1.2rem;
    }
    .LoginForm img {
        width: 60%;
        margin-left: auto;
        margin-right: auto;
        display: block;
        position: relative;
        margin-top: 20px;
        margin-bottom: 10px;
        padding: 4%;
    }
.LoginForm input[type="text"]{
font-family: lato;
display: block;
margin: 5px;
width: 90%;
height: 25px;
margin-left: auto;
margin-right: auto;
color: rgb(109, 109, 109);
font-size: 1.2rem;
}
.LoginForm input[type="password"]{
font-family: lato;
display: block;
margin: 5px;
width: 90%;
height: 25px;
margin-left: auto;
margin-right: auto;
color: rgb(109, 109, 109);
font-size: 1.2rem;
}
.login {
font-family: lato;
background-size: 100% 100%;
display: inline-block;
background-repeat: no-repeat;
}
.loginContent {
    width:100%;
    height:100%;
    display:inline-block;
}

::-webkit-input-placeholder {
   color: #696969;
}

.ui-menu .ui-menu-item {
    border-bottom: solid 1px #CECECE;
    font-family: lato;
}
.ui-state-focus {
background-color:transparent !important;
color:black;
background-image:none !important;
    font-family: lato;
}

.ui-widget-content {
    border: 1px solid #FF8100;
    background: #FFE5CB !important;
    color: #696969 !important;
    max-width: 450px;
}

:-moz-placeholder { /* Firefox 18- */
   color: #696969; 

}

@media only screen and (max-width : 1250px) {
    .revCenterContainer {
        display: inline-block;
        width: 33%;
        float: right;
        text-align: right;
        min-width: 70px;
        margin-right: 1%;
        margin-top: 0.3%;
    }
    .filters {
        display:none;
    }
}

@media only screen and (max-width : 1020px) {
    .plazasTrabajo {
        min-width: 250px;
        border-left: none !important;
        padding-left: 0px !important;
        border-top: solid 1px red;
    }
    .containerLeftSitios div.datosEnergia {
        width: 92% !important;
        min-width: 250px;
        margin-right: -42%;
        float: right;
    }
    .containerLeftSitios div.result2Container {
        width:90% !important;
    }
    .containerRightSitios {
        float: right !important;
        padding-right: 20px;
        margin-left: -50%;
    }
}
@media only screen and (max-width : 800px) {
    /*AJI mediasQuerys*/
    .containerRightSitios {
        margin-left: 0%;
        width: 96% !important;
    }
    .plazasTrabajo {
        border-top: solid 0px red;
    }
    .containerLeftSitios {
        width: 98% !important;
    }

        .containerLeftSitios div.datosEnergia {
            width: 92% !important;
            min-width: 250px;
            margin-right: 0%;
            float: left;
        }

        .containerLeftSitios div.spliter {
            width: 100% !important;
            max-width: 100%;
        }

        .containerLeftSitios div {
            width: 90% !important;
        }
    /*++++++*/    
}
@media only screen and (max-width : 800px) {

}

.loaderContainer {
    width:100%;
    height:auto;
}

.imgload1 {
    margin-left: auto;
    margin-right: auto;
    margin-top: 130px;
    display: block;
     margin-bottom: -193px;
}

body {
    background-color: #fff;
    font-size: .85em;
    font-family: lato;
    margin: 0;
    padding: 0;
    color: #696969;
}

.logo {
display: inline-block;
height: auto;
}
.logo img {
    width:100%;
}

p, ul {
    margin-bottom: 20px;
    line-height: 1.6em;
}

header,
footer,
nav,
section {
    display: block;
}

/* Graphics  
----------------------------------------------------------*/

.notfound {
    color: gray;
    position: absolute;
    font-size: 3rem;
    width: 100%;
    text-align: center;
    display:none;
    margin-top: 120px;
}
.mainNotfound {
    margin-left: -1%;
    background-color: rgba(255, 129, 0, 0.26);
    padding: 1%;
    z-index: 2;
    color: gray;
    position: absolute;
    font-size: 3rem;
    width: 96%;
    text-align: center;
    display:none;
    margin-top: 120px;
}
.centerNotfound {
    font-size: 2rem !important;
    margin-left: -4%;
    background-color: rgba(255, 129, 0, 0.26);
    padding: 1%;
    z-index: 999;
    color: gray;
    width: 106%;
    text-align: center;
    display: none;
    margin-top: 150px;
    margin-bottom: 210px;
}
.shortGraphic {
    width: 30%;
    margin-right: auto;
    background-color: white;
    padding: 1px 1%;
    margin-top: 10px;
    display: inline-block;
    margin-left: 0.8%;
    overflow: hidden;
    box-shadow: black 1px 3px 3px;
}
.bigGraphic {
width: 96%;
margin-left: auto;
margin-right: auto;
background-color: white;
padding: 1px 1%;
margin-top: 10px;
box-shadow: black 1px 3px 3px;
}
.viewmore {
    float: right;
    height: 25px;
    width: 25px;
    border: 0px;
    background-color: #FF9900;
    text-align: center;
    margin-top: -25px;
    cursor: pointer;
    margin-right: -15px;
}
/* HEADINGS   
----------------------------------------------------------*/
h1, h2, h3, h4, h5, h6 {
    font-size: 1.5em;
    color: #000;
    font-weight: 500;
}

/* PRIMARY LAYOUT ELEMENTS   
----------------------------------------------------------*/

/* you can specify a greater or lesser percentage for the 
page width. Or, you can specify an exact pixel width. */
.page {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    overflow:hidden;
}

header, #header, .header {
    margin-bottom: 0px;
    color: #000;
    padding: 0;
    width: 100%;
    margin-right: auto;
    margin-left: auto;
    background-color: #E3E3E3;
    display: inline-block;
    border-bottom: solid red 10px;
    box-shadow: -1px 4px 4px -3px black;
}

header h1, #header h1 {
    font-weight: bold;
    padding: 5px 0;
    margin: 0;
    color: #fff;
    border: none;
    line-height: 2em;
    font-size: 32px !important;
    text-shadow: 1px 1px 2px #111;
}

#main {
    padding: 0px 0px 15px 0px;
    min-height: 600px;
    width: 98.7%;
}

footer, 
#footer {
    color: #000;
    padding: 10px 0;
    text-align: center;
    line-height: normal;
    font-size: 0.7rem;
    font-weight: bold;
    display: inline-block;
    width: 100%;
    margin: 0px !important;
    background-color: #A5A1A2;
    border-top: solid 1px #FF0000;
    min-height: 25px;
    bottom: 0px;
}

/* TAB MENU   
----------------------------------------------------------*/
ul#menu {
padding: 0 0 2px;
    position: relative;
    margin: 0;
    text-align: left;
    color: #ff7f00;
    font-size: 1.5rem;
    display: inline-block;
    width: 70%;
    float: left;
    height: auto;
    min-width: 630px;
}

ul#menu li {
    display: inline;
    list-style: none;
    cursor: pointer;
}

ul#menu li#greeting {
    padding: 10px 20px;
    font-weight: bold;
    text-decoration: none;
    line-height: 2.8em;
    color: #fff;
}

ul#menu li a {
padding: 10px 5px;
text-decoration: none;
color: #ff7f00;
font-size: 1.5rem;
}

ul#menu li a:hover {
    text-decoration: underline;
}

ul#menu li a:active {
    color:aliceblue !important;
    text-decoration: none;
}

ul#menu li.selected a {
    background-color: #fff;
    color: #000;
}

.revenueSector.shrink {
     position: fixed !important;
     border-top:none !important;
     border-bottom: solid #FF0000 5px;
}
.revenueSector.shrink h1
{
    font-size: 1.31rem;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
}
.revenueSector {
z-index: 3;
    top: 0;
    left: 0;
        z-index: 5;
}


/* TABLE
----------------------------------------------------------*/

.totals {
background-color: rgb(0, 0, 0);
    text-align: right;
    padding-right: 12%;
    font-size: 1.3rem;
    padding-bottom: 10px;
    padding-top: 10px;
    color: #989898;
    box-shadow: inset 0px 0px 30px #FFFFFF;
}
.totalValue {
    color: #FF8100;
    margin: 10px;

}
.nameTable {
    background-color: white;
    padding: 0.5% 3%;
    font-size: 1.3rem;
    color: black;
    position: absolute;
    width: 91%;
    display: inline-block;
    height: 60px;
}

.headers {
color: #ff7f00;
    position: absolute;
    width: 94%;
    padding: 8px 1%;
    margin-top: 70px;
    margin-left: -1%;
    background-color: rgba(216, 216, 216, 0.87);
    display: inline-table;
    box-shadow: #333 0px 1px 2px;
}
.moreAccount {
    float: right;
    background-color: #252525;
    color: #FF8100 !important;
    padding: 5px;
    margin-top: -25px;
}
.headers div{
   color: #ff7f00 !important;
text-decoration: none;
font-weight: 600;
font-size: 0.8rem;
display: inline-block;
}

.theaderMainTable td {
padding: 6px 5px;
text-align: left;
background-color: #D8D8D8;
}
.theaderMainTable td a{
       color: #ff7f00 !important;
text-decoration: none !important;
    }
/* MISC  
----------------------------------------------------------*/
.clear {
    clear: both;
}

.error {
    color: Red;
}

nav, 
#menucontainer {
}

.searchSpace {
   	        width: 35%;
   	        display: inline-block;
   	        float: left;
   	        height: 30px;
   	        margin: -1% 2%;
   	    }
.searchParam {
    width: 100% !important;
    border-radius: 0px;
    background-color: #FFFFFF;
    height: 100%;
    border: solid red 1px;
}
   	    .searchButtonM {
   	        height: 30px;
   	        background-color: transparent;
   	        width: 30px;
   	        background-size: 100% 100%;
   	        border: none;
   	        float: right;
   	        bottom: -34px;
   	        display: inline-block;
   	        position: relative;
   	    }
.userMain {
    width: 70px;
    height: 70px;
    border-radius: 50%;
    float: right;
    border: solid red 2px;
    margin:0px;
    margin-right: 10px;
    overflow:hidden;
    background-size: 100% 100%;
    line-height: 70px;
    text-shadow: -1px 0 #FF0000, 0 1px #FF0000, 1px 0 #FF0000, 0 -1px #FF0000;
}
   	    .nContainer {
   	        color: black;
   	        font-family: lato;
   	        font-size: 0.9rem;
   	        margin-top: 0.8%;
   	        width: 55px;
   	        float: left;
   	    }
   	    .nContainer span {
               font-size: 0.5rem;
display: inline-block;
   	    }
   	    .headerSpacer {
               height:20px;
   	    }
   	    .spacer {
               height:110px
   	    }
   	    .logOut {
   	        color: white;
   	        font-size: 0.8rem;
   	        background-color: rgba(0, 0, 0, 0.55);
   	        position: absolute;
   	        top: 0;
   	        text-align: center;
   	        padding: 0.2%;
            opacity: 0;
            cursor:pointer;
   	    }
   	    .logOut:hover {
               opacity: 1;
   	    }

div#title {
    display: block;
    text-align: left;
    width: 110px;
    margin-bottom: -5px;
    padding: 5px;
    float: left;
}

#logindisplay {
font-size: 1.1em;
display: block;
text-align: right;
color: white;
float: right;
width: 45%;
min-width: 500px;
height: auto;
}

#logindisplay a:link {
    color: white;
    text-decoration: underline;
}

#logindisplay a:visited {
    color: white;
    text-decoration: underline;
}

#logindisplay a:hover {
    color: white;
    text-decoration: none;
}

/* Styles for validation helpers
-----------------------------------------------------------*/

/*clock styles*/
.title-p {
float: right;
padding: 0% 2%;
width: 150px;
right: 0;
top: 0;
height: 50px;
margin-top: 0.6%;
color: black;
}

/*end clock styles*/

/*module links styles*/
.modules {
width: 400px;
z-index: 999;
text-align: center;
display: inline;
}
.logout2 {
    width: 80px;
    height: 37px;
    margin-left: -20px;
    margin-top: 1%;
    display: inline-block;
    background: none;
}
    .logout2 span {
        color: red;
font-size: 0.7rem;
    }
.imagesModules {
width: 40px;
height: 100%;
border: none !important;
background-repeat: no-repeat;
background-position: bottom;
background-size: 100%;
cursor: pointer;
background-color: transparent;
margin-left: auto;
margin-right: auto;
}


.Admin {
background-image: url('../images/admin_aji.png');
}
.Usuario {
background-image: url('../images/user_aji.png');
}
.Emisiones {
background-image: url('../images/emisiones_aji.png');
}
.Sitios {
background-image: url('../images/sitios_aji.png');
}
.Empresas {
background-image: url('../images/empresas_aji.png');
}
.Auditor {
background-image: url('../images/auditor_aji.png');
}
@-moz-document url-prefix() { 
  html{
    /*overflow: scroll !important;*/
    width: 100%;
    height: 100%;
}
