﻿/*-----------------------------------------------------------
The base color for this template is #5c87b2. If you'd like
to use a different color start by replacing all instances of
#5c87b2 with your new color.
----------------------------------------------------------*/

/*--------------------------------------------------------*/
/*Sitios
/*--------------------------------------------------------*/

#accionSU {
    list-style:none;
     font-size: 1.5rem;
     float: left;
     display: none;
     width: 78%;
     text-align: left;
     line-height: 30px;
     margin-left: 2%;
     box-shadow: -6px 0px 9px -7px black;
     padding: 0% 2%;
}

    .sitiosList ul li {
    list-style: none;
    display: inline-block;
    width: 22%;
    max-width: 3000px;
    padding: 1%;
    margin: 0.2%;
    min-height: 125px;
    float: left;
    min-width: 200px;
}
    .listaMainSitios {
        display: none;
        width: 90%;
        float: none;
        margin-left: auto;
        margin-right: auto;
    }
    .containerLeftSitios div.datosEnergia {
        width: 95% !important;
        border-top: solid 1px red;
        padding-top: 0.5%;
    }
    .containerLeftSitios div.plazasTrabajo {
        border-left: solid 1px red;
        padding-left: 6%;
        width: 38% !important;
    }
    .containerLeftSitios div.result2Container {
        width: 32% !important;
        display: inline-block;
        float: left;
        height: auto;
        max-height: 100%;
        padding: 0.2%;
        min-height: 175px;
    }
    /*dsdsdsdsdsd*/
    .infoPanel {
    float: left;
    margin-left: 10px;
  }
  #infoPanel div {
    margin-bottom: 5px;
  }
    /*sasasasasasasa*/

    .titleSection {
        color: red !important;
        padding: 1% 0% 1% 1%;
        display: block;
        width: 37%;
        text-align: left;
        font-size: 1.5rem;
        float: right;
        margin: 0px;
        border-left: solid 1px red;
        box-shadow: -10px 0px 16px -10px black;
    }
        .titleSection img {
            border-radius: 50%;
            width: 75px;
            height: 75px;
            border: solid 2px red;
            overflow: hidden;
            margin-bottom: -35px;
            float: right;
            margin-top: -50px;
        }
    .controls {
        display: inline-block;
        width: 58%;
        float: left;
        text-align: right;
        bottom: -20px;
        position: relative;
    }
    .controls ul{
        margin:0px;
        padding: 0px;
    }
    
    .sitioTitleContainer {
        color: red;
        width: 96%;
        text-align: right;
        font-size: 2rem;
        margin-right: 2%;
        border-bottom: solid 2px red;
        float: right;
        padding-bottom: 0px;
    }
        .sitioTitleContainer input {
            color: #808080 !important;
            font-size: 1.4rem;
            border: none;
        }
    .containerLeftSitios {
        display: inline-block;
        width: 60%;
        padding-left: 3%;
        padding-top: 1%;
        float: left;
        min-width: 500px;
    }
        .containerLeftSitios div {
            float: left;
            width: 49% !important;
            display: inline-block;
            position: relative;
            margin-bottom: 20px;
        }
        .containerLeftSitios div h1 {
            color: rgb(255, 0, 0) !important;
            font-size: 1.3rem;
            margin: 0px;
            display: inline-block;
            padding: 5px;
            width: 100%;
        }
        .containerLeftSitios div div {
            width: 65% !important;
            margin: 0px 0px 5px 0px;
            position: relative;
            max-height: 42px;
            padding: 0px;
            display: block;
            max-width: 300px;
            min-width: 200px;
        }
                
    .containerLeftSitios div.spliter {
        background-color: red !important;
        margin: 1% !important;
        height: 1px !important;
        margin-top: 15px !important;
        width: 80% !important;
    }
    .containerLeftSitios div div input {
        width: 96%;
        padding: 2px;
        margin: 0px;
        height: 16px;
        font-size: 0.8rem;
        float: left;
        border: solid 1px #656565;
    }
    .containerLeftSitios div div select {
        width: 99%;
        padding: 0px;
        height: 24px;
        font-size: 0.8rem;
        float: left;
        border: solid 1px #656565;
    }
    .containerLeftSitios div div span {
        width: 100%;
        display: inline-block;
        font-size: 0.8rem;
    }
    .containerLeftSitios div.result {
        color: white;
        background-color: red;
        padding: 10px;
        width: 100px !important;
        display: inline-block;
        float: right;
        margin-top: -100px;
        margin-right: -10%;
        position: relative;
        min-height: 100px;
        font-size: 3.5rem;
        text-align: center;
        font-weight: 400;
        line-height: 50px;
        min-width: 20px;
    }
        .containerLeftSitios div.result span {
            font-size: 0.8rem;
            width: 90%;
            padding: 0px;
            top: -20%;
            display: inline-block;
            position: relative;
            line-height: 20px;
        }
    .containerLeftSitios div.result2 {
        color: white;
        background-color: red;
        padding: 10px;
        width: 70% !important;
        display: block;
        position: relative;
        min-height: 50px;
        font-size: 1.5rem;
        text-align: center;
        font-weight: 400;
        margin: 0.4% 3%;
        margin-left: 0%;
    }
        .containerLeftSitios div.result2 span {
            font-size: 0.7rem;
            width: 90%;
            padding: 0px;
            display: inline-block;
            position: relative;
        }
    .containerLeftSitios div.leftSitios {
        width: 32% !important;
        display: inline-block;
        float: left;
        height: auto;
        max-height: 100%;
        padding: 0.2%;
        min-height: 175px;
    }
    .containerLeftSitios div.plazas {
        max-height: 300px;
    }
.containerRightSitios div.verDatos {
    color: red;
    font-size: 1.2rem;
    border: solid 1px red;
    border-radius: 5px;
    padding: 5px;
    width: 100% !important;
    position: relative;
    display: block;
    margin-left: auto;
    margin-right: auto;
    float: left;
    top: 15px;
    cursor: pointer;
    margin-bottom: 20px;
    text-align: center;
    min-width: 225px;
}
    .containerRightSitios div.verDatos a {
        color: red;
        font-size: 1rem;
    }
    /*+++++++++++++*/
    .containerRightSitios {
        display: inline-block;
        width: 35%;
        padding-left: 1%;
        padding-top: 1%;
        float: left;
        min-width: 290px;
    }
    .containerRightSitios img.geoImg{
        width: 30%;
        height:auto;
    }
    #geo {
        position: relative;
        width: 100%;
        padding: 2px;
        background-color: red;
        color: white;
        border-bottom: solid 1px black;
        min-height: 16px;
        font-size: 0.8rem;
    }
    #routebtn {
        background-color: gray;
        padding: 3px;
        width: 100px;
        text-align: center;
        color: white;
        margin-bottom: 1%;
        cursor: pointer;
    }
    #map-canvas {
            width: 100%;
            margin: 0px 0px 5px 0px;
            position: relative;
            max-height: 1000px;
            padding: 0px;
            display: block;
            max-width: 100%;
            height: 300px;
        }
        
