﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>@ViewBag.Title</title>
    <link href="@Url.Content("~/Content/Site.css")" rel="stylesheet" type="text/css" />
    <script src="//code.jquery.com/jquery-1.10.2.js"></script>
    <script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>

    <script type="text/javascript" src="https://www.google.com/jsapi"></script>

    <script> 

        //var s$ = jQuery.noConflict();
        //s$(document).ready(function () {
        //    if (!Modernizr.touch || !Modernizr.inputtypes.date) {
        //        s$('input[type=date]')
        //            .attr('type', 'text')
        //            .datepicker({
        //                dateFormat: 'yy-mm-dd'
        //            });
        //    }
        //});
    </script>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>   

    <script src="@Url.Content("~/Scripts/modernizr-2.5.3.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/chartkick.js")" type="text/javascript"></script>
    <script src="http://www.google.com/jsapi"></script>
    <link href='https://fonts.googleapis.com/css?family=Lato:100,300,400,700,900,100italic,300italic,400italic,700italic,900italic' rel='stylesheet' type='text/css'>
    <script lang="javascript" type="text/javascript">
                
        function minimizar(msg) {
            document.getElementById(msg).style.display = "none";
        }
        function maximizar(msg) {
            document.getElementById(msg).style.display = "block";
        }
                
        var now = new Date();
        
    </script>
    	<link rel="stylesheet" href="@Url.Content("~/Content/main.css")">

      <link rel="stylesheet" type="text/css" href="@Url.Content("~/Content/demo.css")"/>
  <link rel="stylesheet" type="text/css" href="@Url.Content("~/Content/loaders.css")"/>
</head>
<body id="body"> 	
    <div class="page">
        <header id="revenueSector" class="revenueSector">
            <div id="logindisplay">
                <div id="divM" class="title-p">
                    <div class="nContainer">
                    <input id="name" visible="False" value="@ViewBag.User" /> 
                    <span>Ultima vez 10-11-2015</span>
                    <span>Empresas: @ViewBag.Nenpresas Sitios: @ViewBag.Nsitios</span>
                    </div>
                    <span id="Buttonlogout" class="logOut">Cerrar sesión</span>
                    <img class="userMain" src="@ViewBag.foto" />
                    <br />                    
                </div>
                <div class="modules">                    
                    <div class="logout2" id="Auditor">
                        <div class="Auditor imagesModules"></div>
                        <span>Auditor</span>
                    </div>
                    <div class="logout2" id="Empresas">
                        <div class="Empresas imagesModules" ></div>
                         <span>Empresas</span>
                    </div>
                    <div class="logout2" id="Sitios">
                        <div class="Sitios imagesModules" ></div>
                         <span>Sitios</span>
                    </div>
                    @*<div class="logout2" id="Emisiones" >
                        <div class="Emisiones imagesModules" ></div>
                         <span>Emisiones CO2</span>
                    </div>*@
                    <div class="logout2" id="Usuario">
                        <div class="Usuario imagesModules" ></div>
                         <span>Usuario</span>
                    </div>
                    <div class="logout2" id="Administrador">
                        <div class="Admin imagesModules" ></div>
                         <span>Admin</span>
                    </div>
                </div>
            </div>
            
            <div id="title">
                <a id="logo" href="#">
                    <div  class="logo">
                        <img src="@Url.Content("~/images/logo_aji_H.png")" />
                    </div>
                </a>
            </div>        
        </header>
        <div class="headerSpacer"></div>       
        <section id="main">
            @RenderBody()
        </section>
        <footer id="footer" class="foot">  
            by Avanza Media        
        </footer>
        
        <script type="text/javascript">
            ///METODOS AJI
            $(document).ready(function () {
                if ("@ViewBag.Tipo" != "Administrador") {
                    $('#Administrador').remove();
                }
                $("#logo").click(function () {
                    window.location.replace("@Url.Content("~/")?User=" + document.getElementById("name").value);
                }); 
                $("#Sitios").click(function () {
                    window.location.replace("@Url.Content("~/Home/Sitios")/?User=" + document.getElementById("name").value);
                });
                $("#Empresas").click(function () {
                    window.location.replace("@Url.Content("~/Home/Empresas")/?User=" + document.getElementById("name").value);
                });
                $("#Administrador").click(function () {
                    window.location.replace("@Url.Content("~/Home/Administrador/")?User=" + document.getElementById("name").value);
                });
                $("#Usuario").click(function () {
                    window.location.replace("@Url.Content("~/Home/Usuario/")?User=" + document.getElementById("name").value);
                });
                $("#Auditor").click(function () {
                    window.location.replace("@Url.Content("~/Home/Auditoria/")?User=@ViewBag.User");
                });
                $("#Buttonlogout").click(function () {
                    $.ajax({
                        url: "@Url.Content("~/Home/LogOut")",
                    type: "POST",
                    dataType: "json",
                    data: { 'user': document.getElementById("name").value },//JSON.stringify({ 'param': param, 'fromDate': from.toString(), 'toDate': to.toString() }),
                    success: successFunc
                });
                    function successFunc(data, status) {
                        if (data == "false") {
                            window.location.replace("@Url.Content("~/Home/Login")");
                             }
                         }
                });
                ///END AJI
            });             
        </script>
    </div>
    <link rel="stylesheet" href="//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">
     <div id="scripts">
    <script lang="javascript" type="text/javascript">
           $(function () {
               var shrinkHeader = 30;
               $(window).scroll(function () {
                   var scroll = getCurrentScroll();
                   if (scroll >= shrinkHeader) {                      
                       $('.headerSpacer').addClass('spacer');
                       $('#revenueSector').addClass('shrink');
                       revenueSector.style.position = "fixed";

                       $('#guardarAu').addClass('auCon');
                   }
                   else {
                       $('#guardarAu').removeClass('auCon');

                       $('#revenueSector').removeClass('shrink');
                       revenueSector.style.position = "relative";
                       $('.headerSpacer').removeClass('spacer');
                   }
               });
               function getCurrentScroll() {
                   return window.pageYOffset || document.documentElement.scrollTop;
               }
           });
           function format2(n, currency) {
               return currency + " " + parseFloat(n).toFixed(2).replace(/(\d)(?=(\d{3})+\.)/g, "$1,");
           }
           //if (!Modernizr.touch || !Modernizr.inputtypes.date) {
           //    s$('input[type=date]')
           //        .attr('type', 'text')
           //        .datepicker({
           //            dateFormat: 'yy-mm-dd'
           //        });
           //}
    </script>
<script src="@Url.Content("~/Scripts/jquery.nicescroll.min.js")"></script>
    <script>
        $(document).ready(function () {
            $("html").niceScroll({
                touchbehavior: false,
                cursorcolor: "#666",
                cursoropacitymax: 0.7,
                cursorwidth: 15,
                background: "transparent",
                autohidemode: false
            });
        });        
    </script>
    <style>
        .active{
            color: #FFEAD9 !important;
        }
        .auCon {
            position: fixed;
            background: #E3E3E3 none repeat scroll 0% 0%;
            z-index: 999;
            width: auto;
            right: 1%;
            top: 88px;
            box-shadow: 0px 0px 4px 2px #0054FF !important;
            min-width: 70px;
            background-size: 22px !important;
            background-repeat: no-repeat;
            opacity: 1;
            text-align: left;
            padding-left: 25px;
            font-size: 0.7rem;
        }
        .auCon span{
            display:block !important;
        }
        #selectLogo {
            height:25px;
        }
    </style>
         </div>
	<script>window.jQuery || document.write('<script src="@Url.Content("~/Scripts/vendor/jquery-1.9.1.min.js")"><\/script>')</script>
	<script src="@Url.Content("~/Scripts/main.js")"></script>
</body>
</html>
