﻿@{
    ViewBag.Title = "Lista de auditorias";
}
<div class="AuditoriaList">
    <br>
<span id="numSitios"></span>
    <ul id="AuditoriasUL">
        <a id="nuevoSitio" href="#" ><li style="color: rgb(226, 0, 0);font-size: 1.2rem;" class='sitiosList_li'><br>Nuevo +<br><br><br><br><br></li></a>
        
    </ul>
</div>

<script>
    $(document).ready(function () {
        $.ajax({
            url: "@Url.Content("~/AjaxTest/getAuditorias")",
            type: "POST",
            dataType: "json",
            data: { 'par': location.href, 'aud': document.getElementById("name").value },
            success: successFuncGetAuds
        });
        $('#nuevoSitio').attr('href', "@Url.Content("~/Home/Auditoria/")" + "?User=" + document.getElementById("name").value);

        function successFuncGetAuds(data, status) {
            for (i = 0; i < data.length; i++) {

                var date = new Date(parseInt(data[i].fecha_ingreso.substr(6)));
                var year = date.getUTCFullYear();
                var month = date.getUTCMonth() + 1;
                var day = date.getUTCDate();
                if (month < 10) { month = '0' + month; }
                var dateString = year + "-" + month + "-" + day;

                document.getElementById("AuditoriasUL").innerHTML = document.getElementById("AuditoriasUL").innerHTML +
                    "<li class='sitiosList_li'>" +
                    "<a href='" + "@Url.Content("~/Home/Auditoria/")" +
                "?User=" + document.getElementById("name").value +
                "&review=" + data[i].nombre_empresa + "/" + data[i].nombre_sitio + "'>" +
                "<img title='Nueva auditoria' src='@Url.Content("~/images/new_auditor_aji.png")' /></a>" +
                "<a href='" + "@Url.Content("~/Home/Auditoria/")" +
                "?User=" + document.getElementById("name").value +
                "&code=" + data[i].codigo +"'>"+
                "<img  title='Ver auditoria' style='margin-top:60px' src='@Url.Content("~/images/see_auditor_aji.png")' /></a>" +
                "<h2>" + data[i].nombre_empresa + "</h2>" +
                "<h2>" + data[i].nombre_sitio + "</h2>" +
                "<h3>Auditor: " + data[i].nombre_auditor + "</h3>" +
                "<h3>Codigo: </h3><h4>" + data[i].codigo + "</h4>" +
                "<h4>Fecha: " + dateString + "</h4>" +
                "</li>";
            }
            colorList();
        }
    });
    
    function colorList() {
        var ls = document.getElementsByClassName("sitiosList_li");
        var c = 0;
        for (i = 0; i < ls.length; i++) {
            if (c == 0) {
                ls[i].style.backgroundColor = "#E3E3E3";
                c = 1;
            } else {
                if (c == 1) {
                    ls[i].style.backgroundColor = "#BDBDBD";
                    c = 2;
                } else {
                    ls[i].style.backgroundColor = "#C8D8FC";
                    c = 0;
                }
            }
        }
    }
    setTimeout("countLis()", 1000);
    function countLis() {
        try{
            var lisE = document.getElementById("empresas").getElementsByTagName("li");
            var lisS = document.getElementById("sitios").getElementsByTagName("li");
            for (i = 0; i < lisE.length; i++) {
                var sitNum = 0;
                for (ii = 0; ii < lisS.length; ii++) {
                    try{
                        if (lisS[ii].getElementsByTagName("h2")[0].innerText.indexOf(lisE[i].getElementsByTagName("h2")[0].innerText) > -1) {
                            sitNum = sitNum + 1;
                        }
                    } catch (ex) { }
                }
                lisE[i].getElementsByTagName("h4")[0].innerText = " Sitios: " + sitNum;
            }
            numSitios.innerText = "Sitios: " + (lisS.length - 1);
        } catch (ex) { }
    }
</script>
<style>
    .AuditoriaList ul li {
        list-style: outside none none;
        display: inline-block;
        width: 22%;
        max-width: 600px;
        padding: 1%;
        margin: 0.2%;
        min-width: 250px;
        float: left;
    }
        .AuditoriaList ul li img {
            width: 40px;
            margin: 5px;
            float: right;
            position: absolute;
            margin-left: 19%;
        }
            .AuditoriaList ul li img:hover {
                border: solid 1px #F00;
                background-color:rgba(255, 81, 0, 0.14);
            }
    h1, h2, h3, h4, h5, h6 {
        font-size: 1.5em;
        color: #000;
        font-weight: 500;
        min-height: 23px;
        width: 100%;
    }
    .sitiosList_li h4 {
        margin: 0px 0%;
    }
    .AuditoriaList ul {
        padding: 0px 0px 20px;
        max-height: none;
        width: 100%;
        display: inline-block;
        height: auto;
    }
</style>
