﻿@{
    ViewBag.Title = "listaEmpresas";
}
<div class ="listaEmpresas">
<span>Ultimas Empresas</span>
    <ul id="empresas" ></ul>
</div>
<script>
    $(document).ready(function () {
        $.ajax({
            url: "@Url.Content("~/AjaxTest/getEmpresas")",
            type: "POST",
            dataType: "json",
            data: {},
            success: successFunc
        });
        function successFunc(data, status) {           
            for (i = 0; i < data.length; i++) {
                document.getElementById("empresas").innerHTML = document.getElementById("empresas").innerHTML +
                "<a href='" + "@Url.Content("~/Home/Empresas")" +
                "?User=" + document.getElementById("name").value +
                "&review=" + data[i].nombre + "'><li>" +
                "<img src='" + data[i].logo + "' />" +
                "<div class='datosEmpresa'>" +
                "<h2>" + data[i].nombre + "</h2>" +
                "<h3>Ultima vez 10-11-2015</h3>" +
                "<h4></h4>" +
                "</div>" +
                "</li></a>";
            }
        }        
    });
    
</script>