﻿@{
    ViewBag.Title = "listaSitios";
}
<div class="sitiosList">
    <br>
<span id="numSitios"></span>
    <ul id="sitios">
        <a id="nuevoSitio" href="#" ><li style="color: rgb(226, 0, 0);font-size: 1.2rem;" class='sitiosList_li'>Nuevo +</li></a>
    </ul>
</div>
<script>
        $(document).ready(function () {
            $.ajax({
                url: "@Url.Content("~/AjaxTest/getSitios")",
            type: "POST",
            dataType: "json",
            data: { 'par': location.href },
            success: successFunc
            });
            $('#nuevoSitio').attr('href', "@Url.Content("~/Home/Sitios/")" + "?User=" + document.getElementById("name").value);
            function successFunc(data, status) {                
                for (i = 0; i < data.length; i++) {
                    document.getElementById("sitios").innerHTML = document.getElementById("sitios").innerHTML +
                    "<a href='" + "@Url.Content("~/Home/Sitios/")" +
                "?User=" + document.getElementById("name").value +
                "&review=" + data[i].nombre_empresa + "/" + data[i].nombre_sitio + "'><li class='sitiosList_li'>" +
                "<h2>" + data[i].nombre_empresa + "/" + data[i].nombre_sitio + "</h2>" +
    	        "<h3>Ultima vez 10-11-2015</h3>" +
    	        "<h4>Consumo total: €" + ((data[i].potencia_pc + data[i].potencia_iluminacion) / 1000 * data[i].plazas_utilizadas * 8 * 250) + "</h4>" +
    	        "<h4>Empleados: " + (data[i].tiempo_completo + data[i].tiempo_parcial) + "</h4>" +
    	        "<h4>Equipos:25</h4>" +
                "</li></a>";
                }
                colorList();
        }
        });
    
    function colorList() {
        var ls = document.getElementsByClassName("sitiosList_li");
        var c = 0;
        for (i = 0; i < ls.length; i++) {
            if (c == 0) {
                ls[i].style.backgroundColor = "#E3E3E3";
                c = 1;
            } else {
                if (c == 1) {
                    ls[i].style.backgroundColor = "#BDBDBD";
                    c = 2;
                } else {
                    ls[i].style.backgroundColor = "#C8D8FC";
                    c = 0;
                }
            }
        }
    }
    setTimeout("countLis()", 1000);
    function countLis() {
        try{
            var lisE = document.getElementById("empresas").getElementsByTagName("li");
            var lisS = document.getElementById("sitios").getElementsByTagName("li");
            for (i = 0; i < lisE.length; i++) {
                var sitNum = 0;
                for (ii = 0; ii < lisS.length; ii++) {
                    try{
                        if (lisS[ii].getElementsByTagName("h2")[0].innerText.indexOf(lisE[i].getElementsByTagName("h2")[0].innerText) > -1) {
                            sitNum = sitNum + 1;
                        }
                    } catch (ex) { }
                }
                lisE[i].getElementsByTagName("h4")[0].innerText = " Sitios: " + sitNum;
            }
            numSitios.innerText = "Sitios: " + (lisS.length - 1);
        } catch (ex) { }
    }
</script>
