﻿@{
    ViewBag.Title = "operaciones";
}
<script>
    function allOp() {
        setcombustibleAnual();        
        setEnergiaConsumidaViajesTren();
        setConsumoEnergiaKilometroAvion();
        setConsumoAguaTotal();
    }
    //Consumo de combustibles por año
    function setcombustibleAnual() {
        var toolt = "(valor Calorifico Aceite Combustible+" +
            "valor Calorifico GasNatural+" +
            "valor Calorifico Pellets Madera) * 17313";
        combustibleAnual.innerHTML = '<num id="valorcombustibleAnual" data-toggle="tooltip" data-placement="top" title="' +
            toolt +'">'+ floorFigure(((
            parseFloat(valorCalorificoAceiteCombustible.value) +
            parseFloat(valorCalorificoGasNatural.value) +
            parseFloat(valorCalorificoPelletsMadera.value)) * 17313),2) +
            ' kWh/a</num><br><span data-toggle="tooltip" data-placement="top" title="' +
            toolt + '">Consumo de combustibles por año</span>';
        setCostoPromedioCombustibles();
        
    }
    //Autoconsumo de electricidad de la unidad de cogeneración
    function setCogeneracion(data){
        var toolt = "Este valor proviene de la seccion de 'sitios' en el campo 'cogeneracion'";
        cogeneracion.innerHTML = '<num id="valorCogeneracion" data-toggle="tooltip" data-placement="top" title="' +
            toolt +'">'+ data +
            ' kWh/a</num><br><span data-toggle="tooltip" data-placement="top" title="' +
            toolt + '">Autoconsumo eléctrico de unidad de cogeneración</span>';
        setelectricidadProducida();
    }
    //Total de electricidad producida por unidad de cogeneración
    function setelectricidadProducida() {
        var toolt = "valor Cogeneracion + suministro Cogeneracion";
        electricidadProducida.innerHTML = '<num id="valorelectricidadProducida" data-toggle="tooltip" data-placement="top" title="' +
            toolt + '">' +
            floorFigure((parseFloat(valorCogeneracion.innerHTML) + parseFloat(suministroCogeneracion.value)),2) +
            ' kWh</num><br><span data-toggle="tooltip" data-placement="top" title="' +
            toolt + '">Total de electricidad producida por unidad de cogeneración</span>';
        setelectrico();
        settermico();
        setperdida();
        setautoconsumoElectricidadAutogenerada();
        setSuministroElectricidadAutogenerada();
    }
    //Eléctrico.
    function setelectrico() {
        var toolt = "proviene de 'Total de electricidad producida por unidad de cogeneración'";
        electrico.innerHTML = '<num id="valorelectrico" data-toggle="tooltip" data-placement="top" title="' +
            toolt + '">' +
            valorelectricidadProducida.innerHTML.replace("kWh", "kWh/a") +
            '</num><br><span data-toggle="tooltip" data-placement="top" title="' +
            toolt + '">Eléctrico.</span>';
    }
    //Térmico.
    function settermico() {
        var toolt = "valor electricidad Producida / (transformacion Energia Electrica * transformacion Energia Termica)";
        termico.innerHTML = '<num id="valueTermico" data-toggle="tooltip" data-placement="top" title="' +
            toolt + '">' +
            floorFigure((parseFloat(valorelectricidadProducida.innerHTML) / (parseFloat(transformacionEnergiaElectrica.value) * parseFloat(transformacionEnergiaTermica.value))), 2) +
            ' kWh/a</num><br><span data-toggle="tooltip" data-placement="top" title="' +
            toolt + '">Térmico.</span>';
    }
    //Perdida.
    function setperdida() {
        var toolt = "electrico / (transformacion Energia Electrica * Perdida)";
        resutlPerdida.innerHTML = '<num id="valorperdida" data-toggle="tooltip" data-placement="top" title="' +
            toolt + '">' +
            floorFigure((parseFloat(valorelectrico.innerHTML) / (parseFloat(transformacionEnergiaElectrica.value) * parseFloat(Perdidas.value))),2) +
            ' kWh/a</num><br><span data-toggle="tooltip" data-placement="top" title="' +
            toolt + '">Perdida.</span>';
        setcombustibleQuemadoCogeneracion();
        
    }
    //Combistible quemado unidad de cogeneración (Calculado).
    function setcombustibleQuemadoCogeneracion() {
        var toolt = "perdida * electrico";
        combustibleQuemadoCogeneracion.innerHTML = '<num id="valorQuemadoCogeneracion" data-toggle="tooltip" data-placement="top" title="' +
            toolt + '">' +
            floorFigure((parseFloat(valorperdida.innerHTML) + parseFloat(valorelectrico.innerHTML)), 2) +
            ' kWh/a</num><br><span data-toggle="tooltip" data-placement="top" title="' +
            toolt + '">Combistible quemado unidad de cogeneración (Calculado).</span>';
        setcombustibleQuemadoCaldera();
    }
    //Combustible quemado en la caldera.
    function setcombustibleQuemadoCaldera() {
        var toolt = "valor consumo combustible Anual - valor combustible Quemado Cogeneracion";
        combustibleQuemadoCaldera.innerHTML = '<num id="valorQuemadoCaldera" data-toggle="tooltip" data-placement="top" title="' +
            toolt + '">' +
            floorFigure((parseFloat(valorcombustibleAnual.innerHTML) - parseFloat(valorQuemadoCogeneracion.innerHTML)),2) +
            ' kWh/a</num><br><span data-toggle="tooltip" data-placement="top" title="' +
            toolt + '">Combustible quemado en la caldera.</span>';
        setDemandaCombustibleClimatizacion();
        setDemandaCombustibleElectricidad();
    }
    //Autoconsumo de la electricidad autogenerada.
    function setautoconsumoElectricidadAutogenerada() {
        var toolt = "Cogeneracion/(Cogeneracion + suministro cogeneracion)";
        consumoElectricidadAutogenerada.innerHTML = '<num id="valorConsumoElectricidadAutogenerada" data-toggle="tooltip" data-placement="top" title="' +
            toolt + '">' +
            (floorFigure((parseFloat(valorCogeneracion.innerHTML) / (parseFloat(valorCogeneracion.innerHTML) + parseFloat(suministroCogeneracion.value))), 5)*100).toFixed(2) +
            '%</num><br><span data-toggle="tooltip" data-placement="top" title="' +
            toolt + '">Autoconsumo de la electricidad autogenerada.</span>';
    }
    //Suministro a la red de la electricidad Autogenerada.
    function setSuministroElectricidadAutogenerada() {
        var toolt = "suministro Cogeneracion/ (Cogeneracion + suministro Cogeneracion)";
        SuministroElectricidadAutogenerada.innerHTML = '<num id="valorSuministroElectricidadAutogenerada" data-toggle="tooltip" data-placement="top" title="' +
            toolt + '">' +
            (floorFigure((parseFloat(suministroCogeneracion.value) / (parseFloat(valorCogeneracion.innerHTML) + parseFloat(suministroCogeneracion.value))), 5) * 100).toFixed(2) +
            '%</num><br><span data-toggle="tooltip" data-placement="top" title="' +
            toolt + '">Suministro a la red de la electricidad Autogenerada.</span>';
        setCombustibleGeneracionElectricidadDemanadaPropia();
        setCombustibleGeneracionElectricidadSuministroRed();
        setIndiceEnergiaTermica_areaUtilizada();
        setCostoPromedioCombustibles();
        setCostoEspecificoClimatizacionDistancia();
        
    }
    //Demanda de combustible para climatización.
    function setDemandaCombustibleClimatizacion() {
        var toolt = "Termico + 0.5 * perdida + suministro Cogeneracion";
        DemandaCombustibleClimatizacion.innerHTML = '<num id="valorDemandaCombustibleClimatizacion" data-toggle="tooltip" data-placement="top" title="' +
            toolt + '">' +
            (floorFigure((parseFloat(valueTermico.innerHTML) + 0.5 * (parseFloat(valorperdida.innerHTML) + parseFloat(suministroCogeneracion.value))), 2) * 100) +
            ' kWh/a</num><br><span data-toggle="tooltip" data-placement="top" title="' +
            toolt + '">Demanda de combustible para climatización.</span>';
        setCostoAceiteCombustibleClimatizacion();
    }
    //Demanda de combustible para electricidad.
    function setDemandaCombustibleElectricidad() {
        var toolt = "electrico + 0.5 * perdida";
        DemandaCombustibleElectricidad.innerHTML = '<num id="valorDemandaCombustibleElectricidad" data-toggle="tooltip" data-placement="top" title="' +
            toolt + '">' +
            (floorFigure((parseFloat(valorelectrico.innerHTML) + 0.5 * (parseFloat(valorperdida.innerHTML))), 2) * 100) +
            ' kWh/a</num><br><span data-toggle="tooltip" data-placement="top" title="' +
            toolt + '">Demanda de combustible para electricidad.</span>';
        
    }
    //Combustible para generación de electricidad para demanada propia.
    function setCombustibleGeneracionElectricidadDemanadaPropia() {
        var toolt = "Demanda Combustible Electricidad * Consumo Electricidad Autogenerada";
        CombustibleGeneracionElectricidadDemanadaPropia.innerHTML = '<num id="valorCombustibleGeneracionElectricidadDemanadaPropia" data-toggle="tooltip" data-placement="top" title="' +
            toolt + '">' +
            (floorFigure((parseFloat(valorDemandaCombustibleElectricidad.innerHTML) * (parseFloat(valorConsumoElectricidadAutogenerada.innerHTML)*0.01)), 2)) +
            ' kWh/a</num><br><span data-toggle="tooltip" data-placement="top" title="' +
            toolt + '">Combustible para generación de electricidad para demanada propia.</span>';
        setCostoAceiteCombustibleElectricidadDemandaPropia();
    }
    //Combustible para generacion de electricidad para suministro de red.
    function setCombustibleGeneracionElectricidadSuministroRed() {
        var toolt = "Demanda Combustible Electricidad * Suministro Electricidad Autogenerada";
        CombustibleGeneracionElectricidadSuministroRed.innerHTML = '<num id="valorCombustibleGeneracionElectricidadSuministroRed" data-toggle="tooltip" data-placement="top" title="' +
            toolt + '">' +
            (floorFigure((parseFloat(valorDemandaCombustibleElectricidad.innerHTML) * (parseFloat(valorSuministroElectricidadAutogenerada.innerHTML) * 0.01)), 2)) +
            ' kWh/a</num><br><span data-toggle="tooltip" data-placement="top" title="' +
            toolt + '">Combustible para generacion de electricidad para suministro de red.</span>';
    }
    //Índice energía térmica/area utilizada.
    function setIndiceEnergiaTermica_areaUtilizada() {
        var toolt = "Demanda Combustible Climatizacion + Sistema Climatizacion Distacia) / area Utilizada";
        IndiceEnergiaTermica_areaUtilizada.innerHTML = '<num id="valorIndiceEnergiaTermica_areaUtilizada" data-toggle="tooltip" data-placement="top" title="' +
            toolt + '">' +
            (floorFigure((parseFloat(valorDemandaCombustibleClimatizacion.innerHTML) + parseFloat(sistemaClimatizacionDistacia.value)) / parseFloat(areaUtilizada.innerHTML.replace("m²", "")), 2)) +
            ' kWh/m²a</num><br><span data-toggle="tooltip" data-placement="top" title="' +
            toolt + '">Índice energía térmica/area utilizada.</span><div style="color:#FFF;font-size:0.7rem;line-height: 0.3rem;margin: 1rem 0px 0px;text-align: left;width: 100%;">Area utilizada: <span style="width:auto" id="areaUtilizada">' + areaUtilizada.innerHTML + '</span><br>(Registrada en la seccion de sitios)</div>';
        setCostoEspecificoClimatizacionDistancia();
    }
    //Costo promedio de combustibles
    function setCostoPromedioCombustibles() {
        var toolt = "costos Promedio Combustible / (valor Calorifico Aceite Combustible + valor Calorifico Gas Natural + valor Calorifico Pellets Madera)";
        CostoPromedioCombustibles.innerHTML = '<num id="valorCostoPromedioCombustibles" data-toggle="tooltip" data-placement="top" title="' +
            toolt + '">' +
            (floorFigure((parseFloat(costosPromedioCombustible.value) / (parseFloat(valorCalorificoAceiteCombustible.value) + parseFloat(valorCalorificoGasNatural.value) + parseFloat(valorCalorificoPelletsMadera.value))), 2)) +
            ' €/kWh</num><br><span data-toggle="tooltip" data-placement="top" title="' +
            toolt + '">Costo promedio de combustibles.</span>';
    }
    //Costo especifico de climatización a distancia.
    function setCostoEspecificoClimatizacionDistancia() {
        var toolt = "costos Climatizacion Distancia / sistema Climatizacion Distacia";
        CostoEspecificoClimatizacionDistancia.innerHTML = '<num id="valorCostoEspecificoClimatizacionDistancia" data-toggle="tooltip" data-placement="top" title="' +
            toolt + '">' +
            (floorFigure((parseFloat(costosClimatizacionDistancia.value) / parseFloat(sistemaClimatizacionDistacia.value)), 2)) +
            ' €/kWh</num><br><span data-toggle="tooltip" data-placement="top" title="' +
            toolt + '">Costo especifico de climatización a distancia.</span>';
    }
    //Costo de aceite combustible para climatización
    function setCostoAceiteCombustibleClimatizacion() {
        var toolt = "valor DemandaCombustible Climatizacion * valor Costo Promedio Combustibles";
        CostoAceiteCombustibleClimatizacion.innerHTML = '<num id="valorCostoAceiteCombustibleClimatizacion" data-toggle="tooltip" data-placement="top" title="' +
            toolt + '">' +
            (floorFigure((parseFloat(valorDemandaCombustibleClimatizacion.innerHTML) * parseFloat(valorCostoPromedioCombustibles.innerHTML)), 2)) +
            ' €/kWh</num><br><span data-toggle="tooltip" data-placement="top" title="' +
            toolt + '">Costo de aceite combustible para climatización.</span>';
    }
    //Costo de aceite combustible para electricidad, demanda propia
    function setCostoAceiteCombustibleElectricidadDemandaPropia() {
        var toolt = "valor Combustible Generacion Electricidad Demanada Propia * valor Costo Promedio Combustibles";
        CostoAceiteCombustibleElectricidadDemandaPropia.innerHTML = '<num id="valorCostoAceiteCombustibleClimatizacion" data-toggle="tooltip" data-placement="top" title="' +
            toolt + '">' +
            (floorFigure((parseFloat(valorCombustibleGeneracionElectricidadDemanadaPropia.innerHTML) * parseFloat(valorCostoPromedioCombustibles.innerHTML)), 2)) +
            ' €/kWh</num><br><span data-toggle="tooltip" data-placement="top" title="' +
            toolt + '">Costo de aceite combustible para electricidad, demanda propia.</span>';
    }
    //Trechos recorridos (diesel)
    function setTrechosRecorridosDiesel() {
        var toolt = "consumo Total Diesel Aunual / Consumo Promedio Diesel*100";
        var num = parseFloat(valorConsumoPromedioDiesel.innerHTML);
            TrechosRecorridosDiesel.innerHTML = '<num id="valorTrechosRecorridosDiesel" data-toggle="tooltip" data-placement="top" title="' +
                toolt + '">' +
                (floorFigure((parseFloat(consumoTotalDieselAunual.value) / parseFloat(valorConsumoPromedioDiesel.innerHTML) * 100), 2)) +
                ' km/a</num><br><span data-toggle="tooltip" data-placement="top" title="' +
                toolt + '">Trechos recorridos (diesel).</span>';
            setEnergiaConsumidaDiesel();
    }
    //Energía consumida (diesel)
    function setEnergiaConsumidaDiesel() {
        var toolt = "consumo Total Diesel Aunual * 10";
        EnergiaConsumidaDiesel.innerHTML = '<num id="valorEnergiaConsumidaDiesel" data-toggle="tooltip" data-placement="top" title="' +
            toolt + '">' +
            (floorFigure((parseFloat(consumoTotalDieselAunual.value) * 10), 2)) +
            ' kWh/a</num><br><span data-toggle="tooltip" data-placement="top" title="' +
            toolt + '">Energía consumida (diesel).</span>';
        setEnergiaConsumidaCalle_Pista(consumoTotalGasolinaAnual.value);
    }

    //Trechos recorridos (gasolina)
    function setTrechosRecorridosGasolina() {
        var toolt = "consumo Total Gasolina Aunual / Consumo Promedio Gasolina*100";
        TrechosRecorridosGasolina.innerHTML = '<num id="valorTrechosRecorridosGasolina" data-toggle="tooltip" data-placement="top" title="' +
            toolt + '">' +
            (floorFigure((parseFloat(consumoTotalGasolinaAnual.value) / parseFloat(valorConsumoPromedioDiesel.innerHTML) * 100), 2)) +
            ' km/a</num><br><span data-toggle="tooltip" data-placement="top" title="' +
            toolt + '">Trechos recorridos (gasolina).</span>';
        setEnergiaConsumidaGasolina();
    }
    //Energía consumida (gasolina)
    function setEnergiaConsumidaGasolina() {
        var toolt = "consumo Total Gasolina Aunual * 10";
        EnergiaConsumidaGasolina.innerHTML = '<num id="valorEnergiaConsumidaGasolina" data-toggle="tooltip" data-placement="top" title="' +
            toolt + '">' +
            (floorFigure((parseFloat(consumoTotalGasolinaAnual.value) * 10), 2)) +
            ' kWh/a</num><br><span data-toggle="tooltip" data-placement="top" title="' +
            toolt + '">Energía consumida (gasolina).</span>';
        setEnergiaConsumidaCalle_Pista(consumoTotalGasolinaAnual.value);
    }
    //Energía consumida (calle/pista)
    function setEnergiaConsumidaCalle_Pista(val) {
        var toolt = "valor Energia Consumida Gasolina + valor Energia Consumida Diesel";
        EnergiaConsumidaCalle_Pista.innerHTML = '<num id="valorEnergiaConsumidaCalle_Pista" data-toggle="tooltip" data-placement="top" title="' +
            toolt + '">' +
            (floorFigure((parseFloat((val * 10)) + parseFloat(valorEnergiaConsumidaDiesel.innerHTML)), 2)) +
            ' kWh/a</num><br><span data-toggle="tooltip" data-placement="top" title="' +
            toolt + '">Energía consumida (calle/pista).</span>';
    }
    //Energía consumida de viajes en tren (anual)
    function setEnergiaConsumidaViajesTren() {
            var toolt = "viajes Tren * consumo Energia Recorrido";
            EnergiaConsumidaViajesTren.innerHTML = '<num id="valorEnergiaConsumidaViajesTren" data-toggle="tooltip" data-placement="top" title="' +
                toolt + '">' +
                (floorFigure((parseFloat(viajesTren.value) * parseFloat(consumoEnergiaRecorrido.value)), 2)) +
                ' kWh/a</num><br><span data-toggle="tooltip" data-placement="top" title="' +
                toolt + '">Energía consumida de viajes en tren (anual).</span>';
    }
    //Consumo de energía por kilómetro en avión.
    function setConsumoEnergiaKilometroAvion() {
        var toolt = "consumo Kerosene/100 * 9.6";
        var num = parseFloat(consumoKerosene.value) / 100 * 9.6;
        ConsumoEnergiaKilometroAvion.innerHTML = '<num id="valorConsumoEnergiaKilometroAvion" data-toggle="tooltip" data-placement="top" title="' +
            toolt + '">' +
            (floorFigure(parseFloat(num), 2)) +
            ' kWh/a</num><br><span data-toggle="tooltip" data-placement="top" title="' +
            toolt + '">Consumo de energía por kilómetro en avión.</span>';
        setConsumoEnergiaViajesAvion(num);
    }
    //Consumo de energía de viajes en avión por año.
    var tm;
    function setConsumoEnergiaViajesAvion(val) {
        var toolt = "viajes Avion * valor Consumo Energia Kilometro Avion";
        ConsumoEnergiaViajesAvion.innerHTML = '<num id="valorConsumoEnergiaViajesAvion" data-toggle="tooltip" data-placement="top" title="' +
            toolt + '">' +
            (floorFigure((parseFloat(viajesAvion.value) * parseFloat(val)), 2)) +
            ' kWh/a</num><br><span data-toggle="tooltip" data-placement="top" title="' +
            toolt + '">Consumo de energía de viajes en avión por año.</span>';
        setConsumoEnergiaViajesServicio();        
    }
    //Consumo de energía de viajes de servicio
    function setConsumoEnergiaViajesServicio() {
        try{
            var toolt = "Energia Consumida Calle/Pista + Energia Consumida Viajes Tren + Consumo Energia Viajes Avion";
            ConsumoEnergiaViajesServicio.innerHTML = '<num id="valorConsumoEnergiaViajesServicio" data-toggle="tooltip" data-placement="top" title="' +
                toolt + '">' +
                (floorFigure((parseFloat(valorEnergiaConsumidaCalle_Pista.innerHTML) + parseFloat(valorEnergiaConsumidaViajesTren.innerHTML) + parseFloat(valorConsumoEnergiaViajesAvion.innerHTML)), 2)) +
                ' kWh/a</num><br><span data-toggle="tooltip" data-placement="top" title="' +
                toolt + '">Consumo de energía de viajes de servicio por año.</span>';
            setIndiceConsumoEnergiaEmpleado();
            window.clearInterval(tm);
        } catch (ex) { window.setTimeout("setConsumoEnergiaViajesServicio()", 1000) }
    }
    //Índice de consumo de energía por empleado
    function setIndiceConsumoEnergiaEmpleado() {
        var toolt = "Consumo Energia Viajes Servicio /  numero empleados De Sitio";
            IndiceConsumoEnergiaEmpleado.innerHTML = '<num id="valorIndiceConsumoEnergiaEmpleado" data-toggle="tooltip" data-placement="top" title="' +
                toolt + '">' +
                (floorFigure((parseFloat(valorConsumoEnergiaViajesServicio.innerHTML) / parseFloat(empleadosDeSitio.innerHTML)), 2)) +
                ' kWh/Empleado</num><br><span data-toggle="tooltip" data-placement="top" title="' +
                toolt + '">Índice de consumo de energía por empleado.</span>'+
                '<div style="font-size: 0.7rem;">Empleados de sitio: <span id="empleadosDeSitio" style="width:auto !important">' +
                empleadosDeSitio.innerHTML + '</span></div>';
    }
    //Consumo de agua total
    function setConsumoAguaTotal() {
        var toolt = "agua Fria + agua Caliente";
        ConsumoAguaTotal.innerHTML = '<num id="valorConsumoAguaTotal" data-toggle="tooltip" data-placement="top" title="' +
            toolt + '">' +
            (floorFigure((parseFloat(aguaFria.value) + parseFloat(aguaCaliente.value)), 2)) +
            ' m³/a</num><br><span data-toggle="tooltip" data-placement="top" title="' +
            toolt + '">Consumo de agua total.</span>';
        setConsumoAguaAnualEmpleado();
    }
    //Consumo de agua anual por empleado.
    function setConsumoAguaAnualEmpleado() {
        var em = (floorFigure(((parseFloat(aguaFria.value) + parseFloat(aguaCaliente.value)) / empleadosDeSitio.innerHTML), 2))
        if (em > 0 || em > 0 || em == 0) {
            var toolt = "ConsumoAguaTotal / numero empleados De Sitio";
            ConsumoAguaAnualEmpleado.innerHTML = '<num id="valorConsumoAguaAnualEmpleado" data-toggle="tooltip" data-placement="top" title="' +
                toolt + '">' +
                em +
                ' kWh/Empleado</num><br><span data-toggle="tooltip" data-placement="top" title="' +
                toolt + '">Consumo de agua anual por empleado.</span>';
        }
        else { setTimeout("setConsumoAguaAnualEmpleado()", 1000); }
    }
    //*************************************
    
    function floorFigure(figure, decimals) {
        if (!decimals) decimals = 2;
        var d = Math.pow(10, decimals);
        return (parseInt(figure * d) / d).toFixed(decimals);
    };

</script>
<style>    
    .toolp + .tooltip > .tooltip-inner {background-color: #f00;}
</style>