
html, body {
    width: 100%;
    margin: 0;
}

/** {
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
}*/

body {
    font-family: lato;
    font-size: 14px;
    background-image: url("../themes/images/right side BG texture.png");
}

img {
    border: none;
}

.e-prop.e-bootstrap .ejinputtext {
    border-radius: 4px;
}

.cols-prop-area .e-prop.e-bootstrap [class^="col-md-"] {
    height: 34px;
}

.fixedlayout {
    overflow: hidden;
}

.navigation-btn .prev.e-btn {
    border-radius: 4px 0 0 4px;
}

.navigation-btn .next.e-btn {
    border-radius: 0 4px 4px 0;
}

.anchorclass {
    text-decoration: none;
    color: #838383;
    cursor: pointer;
}

.jslogo {
    height: 39px;
    width: 207px;
    padding-left: 22px;
}

.accordion {
    position: relative;
}

.cols-sample-area .cols-fe-area .e-fileexplorer {
    overflow: hidden;
}

.cols-sample-area .cols-fe-area {
    overflow: auto;
}

.cols-sample-area .cols-fe-area .cols-fe-table {
    padding: 10px;
    min-width: 450px;
}

.htmljssamplebrowser {
    height: 100%;
    margin: 0 auto;
    width: 100%;
    user-select: none;
    -o-user-select: none;
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
}

.darktheme #dashboardheader .dashboardhead {
    border-bottom: 1px solid #3E3E3E;
}

.darktheme .arrowback {
    background: url(../themes/images/arrow-dark-left.png) no-repeat;
}

.darktheme .downArrow .SB-Arrow {
    background: url(../themes/images/arrow-dark-down.png) no-repeat;
}

.darktheme .rightArrow .SB-Arrow {
    background: url(../themes/images/arrow-dark-right.png) no-repeat;
}

.downArrow .SB-Arrow {
    width: 16px;
    height: 15px;
    background: url(../themes/images/arrowdown.png) no-repeat;
    float: right;
    margin-right: 15px;
    margin-top: 4px;
}

.rightArrow .SB-Arrow {
    width: 16px;
    height: 14px;
    background: url(../themes/images/arrow2.png) no-repeat;
    float: right;
    margin-right: 15px;
    margin-top: 4px;
}

.search .search-icon {
    background: transparent url("../themes/images/search.png") no-repeat scroll 0% 0%;
    width: 20px;
    height: 20px;
    float: right;
    position: inherit;
    margin: -26px 30px 0px 0px;
}

.samplesCollection {
    display: none; /*position: absolute;*/ /*left: 250px;*/
    margin-top: -247px;
    left: 250px;
}
 .scrollit {
    overflow-x: hidden;
    -webkit-overflow-scrolling: touch
  } 
  .slidemenuicon {
	  display:none;
  }

.productpage {
    display: inline-block;
    width: 100%;
}

.samplesCollection .samples {
    display: none;
}

.essential {
    color: white;
}

.dashboarddiv {
    background-color: whitesmoke;
}
/* content style*/
.scrollit {
    overflow-x: hidden;
}

    .scrollit > .row {
        padding: 10px 10px 10px 30px;
        min-height: 570px;
    }

.CodeMirror {
    z-index: 0;
}
/*.samples,#accordion2
    {
        background-color: lightgray;
    }*/
.themedropdown {
    margin-top: 25px;
}

.aclass {
    text-decoration: none !important;
}

#themeDropdown, #themeDropdown_dropdown {
    background-color: #484848 !important;
    border-color: transparent;
    border-radius: 7px;
    color: #838383;
}

#auto_wrapper .e-autocomplete-container, #auto.e-autocomplete-suggestionList {
    background-color: #F5F5F5;
    border: 1px solid #D3D3D3;
    border-radius: 7px;
    color: #646464;
    overflow: hidden;
}

#auto_dropdown .arrow {
    background-image: url("../themes/common-images/icons-gray.png");
    background-position: -311px -2px;
    height: 14px;
    margin-top: -7px;
}

#auto_dropdown {
    border-radius: 0 7px 7px 0;
    background: #F5F5F5;
    border: 1px solid #d5d5d5;
}

    #auto_dropdown:hover .arrow {
        background-image: url("../themes/common-images/icons-gray.png");
    }

#auto.e-autocomplete-wrapper {
    border-radius: 0px 0px 4px 4px;
    border-bottom: 1px solid #222222;
}

#auto.e-autocomplete-suggestionList {
    width: 183px !important;
    color: #646464;
    margin-top: 5px;
}

.arrow, .arrowback {
    width: 16px;
    height: 16px;
    background: url(../themes/images/arrow2.png) no-repeat;
    float: right;
    margin-right: 10px;
    margin-top: 12px;
}

.arrowback {
    background: transparent url("../themes/images/arrowleft.png") no-repeat scroll 0% 0%;
    float: left;
    margin: 3px 0px 0px -20px;
}

.anchor {
    color: #5b5b5b;
}

.samplestatus {
    height: 19px;
    position: absolute;
    width: 66px;
    margin-top: 6px;
}

    .samplestatus.new {
        background: url("../themes/images/status_icon/tag-new.png") no-repeat scroll 7px 3px;
    }

    .samplestatus.update {
        background: url("../themes/images/status_icon/tag-update.png") no-repeat scroll 7px 3px;
    }

    .samplestatus.preview {
        background: url("../themes/images/status_icon/tag-preview.png") no-repeat scroll 7px 3px;
    }

.darktheme .samplestatus.new {
    background: url("../themes/images/status_icon/new-dark.png") no-repeat scroll 7px 3px;
}

.darktheme .samplestatus.update {
    background: url("../themes/images/status_icon/updated-dark.png") no-repeat scroll 7px 3px;
}

.darktheme .samplestatus.preview {
    background: url("../themes/images/status_icon/preview-dark.png") no-repeat scroll 7px 3px;
}

.header {
    width: 100%;
    z-index: 10;
    height: 58px;
}

.azure #dashboardheader .anchor, .darktheme .azure #dashboardheader .anchor {
    color: #66c1dc;
}

.lime #dashboardheader .anchor, .darktheme .lime #dashboardheader .anchor {
    color: #aecf49;
}

.saffron #dashboardheader .anchor, .darktheme .saffron #dashboardheader .anchor {
    color: #f9920b;
}

.azure .samplebutton, .azure .codebutton {
    background: #66c1dc;
}

.lime .samplebutton, .lime .codebutton {
    background: #aecf49;
}

.saffron .samplebutton, .saffron .codebutton {
    background: #f9920b;
}

.sampleheadingtext .sbtxt {
    text-shadow: none;
}

.sampleheadingtext .azure.sbtxt {
    color: #66c1dc;
}

.sampleheadingtext .lime.sbtxt {
    color: #aecf49;
}

.sampleheadingtext .saffron.sbtxt {
    color: #f9920b;
}

.headdiv1 {
    float: left;
    height: 100%;
}

.e-maindiv {
    height: 750px;
    width: 100%;
}

.headdiv2 {
    float: left;
    height: 100%;
    padding-left: 95px;
}

.header .controllist {
    float: left;
    margin-top: 12px;
}

.headdiv3 {
    color: #FFFFFF;
    float: right;
    padding-right: 15px;
}

#themeDropdown_wrapper, #themeDropdown {
    /*width: 153px !important;*/
}

.e-dropdownlist-wrapper .dropdown .arrow {
    background: url("../themes/images/icon-down.png") no-repeat scroll 0 0 transparent !important;
    margin-top: -11px !important;
    height: 24px !important;
    width: 24px;
}

#themeDropdown {
    border-radius: 7px 0 0 7px;
}

#themeDropdown_dropdown {
    border-radius: 0 7px 7px 0;
}

#buybutton.ejbutton {
    margin-top: 2px;
    height: 34px;
    cursor: pointer;
}

#themebutton .e-icon, #res_themebutton .e-icon {
    width: 60px;
    height: 55px;
}

    #themebutton .e-icon.e-uiLight ,#res_themebutton .e-icon.e-uiLight{
        background: url('../themes/images/dark-theme-blue-icon.png') no-repeat;
    }
	#res_themebutton {
		float:right;
	}

#themebutton .azure, #res_themebutton .azure{
    background: url('../themes/images/dark-theme-blue-icon.png') no-repeat;
}
#res_themebutton .e-icon {
	background-position: -11px -8px !important;
}

#themebutton .lime, #res_themebutton .lime {
    background: url('../themes/images/dark-theme-green-icon.png') no-repeat;
}

#themebutton .saffron, #res_themebutton .saffron {
    background: url('../themes/images/dark-theme-orange-icon.png') no-repeat;
}
.lime .res_header span.e-icon.slidepanel-nav:hover {
		color:#aecf49;
	}
.saffron .res_header span.e-icon.slidepanel-nav:hover {
	color:#f9920b;
}
#buybutton {
    background: transparent;
    border: none;
}

    #buybutton, #buybutton .e-buttondiv {
        height: 55px;
        width: 47px;
    }

        #buybutton .e-icon.e-uiLight {
            background: url('../themes/images/download-icon.png') no-repeat;
            width: 47px;
            height: 47px;
			background-position:-9px;
        }

.wrapper-demo .ejbutton, .productdownload .ejbutton, .themegallery .ejbutton {
    color: white;
    font-size: 17px;
    font-weight: 500;
    margin-right: 15px;
    text-align: center;
    width: 105px;
}

.wrapper-demo .ejbutton {
    background-image: none;
    border-radius: 4px;
}

.ejcolor {
    background-color: forestgreen;
}

#btnDownload {
    color: white;
}

.themegallery {
    float: right;
    margin-top: -4px;
    margin-right: -6px;
    width: 60px;
}

#auto {
    /*background-image: url("../themes/images/search.png");*/
    background-position: right center; /* temp fix */
    background-repeat: no-repeat;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
}

    #auto.e-autocomplete.watermark, #themeDropdown.e-dropdownlist.e-input.watermark {
        font-style: normal;
        font-size: 14px;
        color: #9B9B9B !important;
    }
    /*#themeDropdown_dropdown.arrow:after
    {        
	    background:url("../themes/images/icon-down.png") no-repeat scroll right center #484848;
    }*/
    #auto .autotext, #auto.e-autocomplete {
        background-position: 160px 4px;
        background-repeat: no-repeat;
        background-size: 15px;
    }

header .download {
    float: left;
    margin-right: 14px;
    margin-top: 11px;
}

.headdiv3 .help {
    background-repeat: no-repeat;
}

.panel-widget {
    width: 100%;
    height: 100%;
}

.ui-helper-clearfix {
    display: inline-block;
    padding-top: 0px;
}

.accordion-panel {
    /*background-color: lightgrey;*/
    background-image: url('../themes/images/left side tab bg.png');
    background-repeat: repeat; /*color: #FFFFFF;*/
    float: left;
    width: 250px;
    /*height: 1365px;*/
    border-right: 1px solid #BBB7B0;
    -moz-box-shadow: 0px 3px 4px 0.2px #BBB7B0;
    -webkit-box-shadow: 0px 3px 4px 0.2px #BBB7B0;
    box-shadow: 0px 3px 4px 0.2px #BBB7B0;
    left: 0px;
    overflow: hidden;
}

#subsamplesDiv {
    left: 250px;
    position: relative;
}

.search {
    /*border-top: 1px solid #4C4D4D;*/
    color: #FFFFFF; /*letter-spacing: 0.03em;     padding: 20px 5px 20px 0;*/
    height: 30px;
    padding: 12px 20px 17px;
    position: relative;
}

.SB-group .dashboard {
    padding-left: 45px;
}

.dashboard {
    border-top: none;
    color: #5B5B5B;
    font-size: 14px;
    padding-left: 34px;
    height: 30px;
    line-height: 30px;
    width: 216px;
    display: table-cell;
    vertical-align: middle;
}

.dashboardhover {
    background-image: url('../themes/images/left side tab hover.png');
}

.dashboardheader:hover {
    background: #F4F4F4;
}

.accordion-control {
    border: none !important;
    font-size: 15px !important;
    padding-left: 33px !important; /*color: black !important;*/
    background: none !important;
    border-bottom: 1px solid grey !important; /*color:darkgray !important;*/ /*color:gray !important;*/
}

.acolor {
    color: grey !important;
    font-size: 16px;
    font-weight: 500;
}

.control-panel {
    background-color: #F4F4F4;
    background-image: url('../themes/images/right side BG texture.png');
    background-repeat: repeat;
}

.controlText-section {
    padding-top: 7px;
    padding-left: 32px;
    width: 100%;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

.controlSamples-section {
    margin-bottom: 50px;
    display: inline-block;
    width: 100%;
}

.productContent {
    color: #747474;
    font-size: 14.5px;
    text-align: justify;
    line-height: 24px;
}

.producttitle {
    color: #333;
    font-size: 24px;
    padding-left: 12px;
    text-shadow: 0 1px #FFFFFF;
}

.featuredsamples {
    display: inline-block;
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 100%;
    list-style-position: outside;
}

.listsampleimage {
    float: left;
    height: 344px;
    width: 316px;
    padding: 15px 8px 0 8px;
}

.lisampleimage {
    height: 100%;
}

    .lisampleimage img {
        height: 344px;
        width: 316px;
    }

.litext {
    position: relative;
    display: inline-block;
    float: left;
    margin-top: -128px;
    margin-left: 20px;
    height: auto;
    color: #838383;
    text-align: justify;
    width: 138px;
}

    .litext > a {
        color: #4F4F4C;
        font-size: 13px;
        font-weight: 800;
    }

    .litext > p {
        margin-top: 6px;
        font-size: 12px;
    }

.qrcode {
    bottom: 120px;
    display: inline-block;
    position: relative;
    right: -197px;
    float: left;
}

    .qrcode .qrimage {
        height: 104px;
        width: 104px;
        display: block;
        border: 1px solid #AAAAAA;
    }

        .qrcode .qrimage.qrhealth {
            background: url("../themes/images/qrcode/health.png") no-repeat 2px 2px;
        }

        .qrcode .qrimage.qrhealth-angular {
            background: url("../themes/images/qrcode/health-angular.png") no-repeat 2px 2px;
        }
        .qrcode .qrimage.qrstock {
            background: url('../themes/images/qrcode/stock.png') no-repeat 2px 2px;
        }

        .qrcode .qrimage.qrweather {
            background: url('../themes/images/qrcode/weather.png') no-repeat 2px 2px;
        }

        .qrcode .qrimage.qrexpense {
            background: url('../themes/images/qrcode/expense.png') no-repeat 2px 2px;
        }

         .qrcode .qrimage.qrexpense-angular {
            background: url('../themes/images/qrcode/expense-angular.png') no-repeat 2px 2px;
        }
        .qrcode .qrimage.qrsales {
            background: url('../themes/images/qrcode/sales.png') no-repeat 2px 2px;
        }

        .qrcode .qrimage.qrdiagramBuilder {
            background: url('../themes/images/qrcode/diagramBuilder.png') no-repeat 2px 2px;
        }

        .qrcode .qrimage.qrairlineReservation {
            background: url('../themes/images/qrcode/airlineReservation.png') no-repeat 2px 2px;
        }

        .qrcode .qrimage.qrprojecttracker {
            background: url('../themes/images/qrcode/projecttracker.png') no-repeat 2px 2px;
        }

        .qrcode .qrimage.qrspreadsheet {
            background: url('../themes/images/qrcode/spreadsheet.png') no-repeat 2px 2px;
        }


.samplebutton {
    background: none repeat scroll 0 0 #66C1DC;
    color: #FFFFFF !important;
    display: inline-block;
    float: left;
    font-size: 13px;
    font-weight: 600;
    height: 25px;
    line-height: 23px;
    margin-left: 20px;
    margin-top: -43px;
    padding-left: 10px;
    position: relative;
    vertical-align: middle;
    width: 97px;
}

    .samplebutton > a {
        color: white;
        text-decoration: none;
    }

.sbheader {
    display: inline-block;
    padding: 5px 0 0;
    width: 100%;
    background-color: #2D2E2D;
    height: 53px;
}

    .sbheader .title {
        float: left;
        padding-top: 4px;
        padding-left: 15px;
    }

/*#footer {
    background-color: #4F4F4C;
    color: GrayText;
    height: 45px;
    width: 100%;
    float: left;
    position: relative; /*margin:68px auto 0;*/
    z-index: 0;
}*/

.bottom-links {
    bottom: 0;
    margin: 0 auto;
    padding-top: 9px;
    position: relative;
}

.left {
    float: left;
}

.right {
    float: right;
    position: absolute;
    right: 0px;
}

.syncfusion-image {
    background-image: url('../themes/images/footer.png');
    float: left;
    height: 30px;
    margin-top: 2px;
    width: 125px;
    background-position: -5px -50px;
    background-repeat: no-repeat;
}

#footer .right .left, #footer .left .sync-text {
    margin: 4px 25px 0;
}

.sync-text {
    color: #A4A09B;
    display: inline-block;
}

.sbcontainer {
    margin: 0;
}

.page {
    margin: 0px;
    min-width: 1190px;
    padding: 0px;
    width: 100%;
}

.productdownload {
    padding-top: 10px;
}

.downbutton {
    background-color: #DB373A;
    border-color: #E88180;
    height: 32px;
    display: table-cell;
    vertical-align: middle;
    border: none;
}

.darktheme .selecteddashboard {
    background: rgb(66, 66, 66) none repeat scroll 0% 0%;
}

.selecteddashboard {
    background: rgb(227, 229, 229) none repeat scroll 0% 0%;
}

.dashboardhead .anchor, .darktheme #dashboardheader .anchor {
    color: #66C1DC;
    font-weight: 600;
}

#dashboardheader #currentheader.dashboardhead {
    cursor: pointer;
}

#dashboardheader .dashboardhead {
    border-bottom: 1px solid #DDDDDD;
    padding-left: 34px;
    height: 30px;
    width: 216px;
    cursor: default;
}

.control_name {
    float: left;
    width: 125px;
}

.control_samplename {
    float: left;
}

.current_control .anchor {
    line-height: 34px;
}

#dashboardheader .current_control, .darktheme #dashboardheader .current_control {
    border-bottom: none;
    height: 34px;
}

.showpage {
    display: block;
}
.e-showcasetab{
	 touch-action:auto !important;
}

.hidepage {
    display: none;
}

.controlpage, .controlmainpage {
    float: left;
    padding-left: 50px;
    padding-top: 2%;
    width: 950px;
}

.sb-right .controlpage {
    width: 950px;
}

.controlmainpage {
    width: 985px;
}

.sampleheadingtext {
    font-size: 26px;
    text-shadow: 0 1px #FFFFFF;
    display: inline-block;
    margin-bottom: 20px;
	width:100%;
}

.downloaddiv {
    margin-top: -46px;
    margin-left: 200px;
}

.buttonwidth {
    width: 150px !important;
}

.samplecontainerparent {
    display: inline-block;
    min-width: 950px;
    width: 100%;
}

.samplecontainer {
    padding-top: 20px;
}

.samplecontainerparent > div {
    width: 100%;
}

.samplesection {
    float: left;
    width: inherit;
}

.samplediv {
    border: 1px solid #D9DEDD;
    background-color: white;
    height: auto;
    width: auto;
    min-width: 620px;
    min-height: 406px;
}

.sampleheadingtext, .evtsamplename {
    color: #807F7F;
    font-size: 16px;
    height: 40px;
    line-height: 40px;
    display: inline-block;
    vertical-align: middle;
    text-shadow: 0 1px #FFFFFF;
    padding-left: 1%;
}

.evtsamplename {
    width: 290px;
    padding-left: 10px;
}

.sampleheadingtext {
    background: none;
    font-size: 25px;
    border: none;
    padding: 7px 0 0;
}

.eventtracesection .samplebody {
    border: 1px solid #D9DEDD;
    border-bottom: none;
}

.samplebody {
    height: 100%;
    width: 100%;
}

.sourcetab, .sourcecodetab {
    float: left;
    padding-top: 30px;
    padding-bottom: 20px;
    width: 100%;
    position: relative;
}

.sourceviewimg {
    background: url(../themes/images/arrowdown.png) no-repeat;
    width: 16px;
    height: 16px;
    float: right;
    margin-right: 10px;
    margin-top: 6px;
}

.srcdesc {
    float: left;
    width: inherit;
    padding-top: 20px;
}

.description {
    height: 280px;
    background-color: white;
    border-radius: 8px 8px 8px 8px;
}

.e-state-active {
    background-color: lightgray;
}

/*.e-widget-content
{
    background-color: white;
}*/





.CodeMirror {
    height: auto !important;
    border: none;
}

    .CodeMirror pre, .divEventTrace {
        white-space: pre-wrap !important; /* CSS3 */
        white-space: -moz-pre-wrap !important; /* Firefox */
        white-space: -pre-wrap !important; /* Opera <7 */
        white-space: -o-pre-wrap !important; /* Opera 7 */
        word-wrap: break-word !important;
    }

.CodeMirror-vscrollbar {
    display: none !important;
}

.expandicon {
    background: url('../themes/images/arrowdown.png') !important;
}

.collapseicon {
    background: url('../themes/images/arrowup.png') !important;
}

.samplecontent {
    padding: 30px;
    min-width: 525px;
    min-height: 275px;
}

.img1 {
    background: url('../themes/images/dashboard_img/health_thumb.png');
}

.img2 {
    background: url('../themes/images/dashboard_img/stock_thumb.png');
}

.img3 {
    background: url('../themes/images/dashboard_img/weather_thumb.png');
}

.img4 {
    background: url('../themes/images/dashboard_img/expense_thumb.png');
}

.img5 {
    background: url('../themes/images/dashboard_img/sales-analysis.png');
}

.img6 {
    background: url('../themes/images/dashboard_img/Diagram_Builder.png');
}

.img7 {
    background: url('../themes/images/dashboard_img/Airline_reservation.png');
}

.img8 {
    background: url('../themes/images/dashboard_img/projecttracker.png');
}

.img9 {
    background: url('../themes/images/dashboard_img/spreadsheet.png');
    height: 344px;
    width: 316px;
}

.imgstyle {
    min-width: 316px;
    min-height: 344px;
    background-repeat: no-repeat;
}

#controldetails {
    width: inherit;
}

#propertyarea .samplediv {
    height: auto;
}

.proddiv {
    width: inherit;
    background-color: white;
}


.prodbody {
    line-height: 25px;
    text-align: justify;
    color: #707070;
}

#propertyarea .e-accordion.metrolight .e-icon {
    float: left;
}

.propicon {
    background: url('../themes/images/arrow.png') no-repeat;
    background-repeat: no-repeat;
    height: 16px;
    width: 16px;
    float: left;
}

.prop-collapseicon {
    background: url('../themes/images/arrowcollapse.png') no-repeat;
}

.propertydesc {
    background-color: white;
    display: none;
    padding: 10px;
    text-align: justify;
    width: 92%;
    border: 1px solid #dfdfdf;
}

.propsdesc {
    padding-bottom: 10px;
}

.controlmainpage .descheading {
    font-size: 16px;
    font-weight: 600;
    color: #3d3d3d;
}

.props table {
    border-top: 1px solid #dfdfdf;
}

#sbloadingcontent > p {
    color: black;
}

.controlmainpage td {
    width: 33%;
}

.samples .hideParent {
    display: none;
}

.sampledescription, source-block {
    text-align: justify;
    padding-top: 1%;
}

.sampledescription {
    display: none;
}

.source-block {
    border: 1px solid #D9DEDD;
}

    .source-block > div {
        padding-left: 15px;
    }

.evtprops {
    float: right;
}

.eventtracesection .EventLog {
    color: #807F7F;
    height: 290px;
    min-height: 275px;
    overflow: auto;
    text-align: left;
    padding: 10px;
    margin: 0 0 10px;
}

.eventtracesection .samplecontent table td {
    vertical-align: top;
}

.eventtracesection .rightalign table td {
    height: 30px;
}

.eventtracesection .propertiesdiv {
    width: 200px;
    margin-left: 0px;
}

.eventtracesection .samplecontent {
    padding: 25px;
    border: none;
    border-top: 1px solid #D9DEDD;
}

.eventtracesection .propertiesdiv td.leftalign {
    padding-left: 7px;
}

.eventtracesection .propertiesdiv table {
    color: #807F7F;
    font-size: 14px;
}

.eventtracesection {
    float: right;
    padding-top: 0;
    margin-left: 20px;
    background: white;
}

    .eventtracesection .propertiesdiv {
        height: auto;
        border: none;
    }

#theme_dropdown .arrow {
    background: url('../themes/images/arrowdown.png');
    background-position: 0px;
}

input[id=auto]:focus {
    /*border-color:#aaaaaa !important;*/
}

.darktheme input[id=auto]:focus {
    border-color: #6c6c6c !important;
}

#themeDropdown_popup {
    background-color: #484848;
    color: #9B9B9B;
    border: 1px solid #4C4C4C;
    box-shadow: 2px 2px 3px rgba(50, 50, 50, 0.5);
}

#auto_suggestion {
    background-color: white;
    border-color: #bbbcbb;
    z-index: 5 !important;
}

#themeDropdown_popup.dropdowntext a {
    color: #838383;
}

#auto_suggestion ul, #themeDropdown_popup ul {
    padding: 6px;
}

#auto_suggestion .e-content {
    background: white;
}

#auto_suggestion > div:first-child, #auto_suggestion {
    width: auto !important;
    min-width: 210px;
}

    #auto_suggestion ul li:last-child, #themeDropdown_popup ul li:last-child {
        border-bottom: 0px;
    }

    #auto_suggestion ul li {
        padding: 4px;
        height: 25px;
        font-size: 13px;
        color: #5B5B5B;
        background: white;
    }

        #auto_suggestion ul li.e-hover {
            background: #EAEAEA;
        }

.darktheme #auto_suggestion ul li.e-hover {
    background: #525252;
}

.darktheme #auto_suggestion ul li, .darktheme #auto_suggestion > div:first-child {
    background: #393939;
    color: white;
}

#themeDropdown_popup ul li {
    border-bottom: 1px solid #333333;
}
/*theme dropdown*/
.wrapper-demo {
    margin-top: -4px;
    float: left;
    height: 55px;
    width: 47px;
}

.ejthemestudio {
    margin-top: 9px;
    float: left;    
    width: 175px;
}
.e-button.themestudio {
	font-size: 14px;
	font-weight: bold;	
	font-family: 'lato';
	background: #2d2e2d; 	        
}
.e-button.themestudio:hover {
	background: #424242;	
}
.e-button.themestudio:active {
	background: #000000;	
}
.e-button.themestudio, 
.e-button.themestudio:hover , 
.e-button.themestudio:active {
	border-color: #939393;	
	color: #ffffff;
}
.e-button.themestudio .e-btntxt{
	cursor: pointer;
}
.themestudio-logo {
	background: url('../themes/images/themestudio.png') no-repeat scroll 0px 2px;	
}

#buybutton:hover, #themebutton:hover {
    background: #393939;
}

#themebutton , #res_themebutton{
    background: transparent;
    border: none;
    color: white;
}

.e-custom-theme {
    height: 55px;
    width: 65px;
}

    .e-custom-theme #themebutton > li > a.e-arrow-space,.e-custom-theme #res_themebutton > li > a.e-arrow-space {
        padding: 0px;
    }

    .e-custom-theme #themebutton > li > a > .e-icon.e-arrows,.e-custom-theme #res_themebutton > li > a > .e-icon.e-arrows {
        display: none;
    }

    .e-custom-theme #themebutton > li.e-list.e-mhover, .e-custom-theme #themebutton > li.e-list.e-mhover > a, .e-custom-theme #themebutton > li.e-list.e-active, .e-custom-theme #themebutton > li.e-list.e-active > a,
    .e-custom-theme #res_themebutton > li.e-list.e-mhover, .e-custom-theme #res_themebutton > li.e-list.e-mhover > a, .e-custom-theme #res_themebutton > li.e-list.e-active, .e-custom-theme #res_themebutton > li.e-list.e-active > a  {
        background: #2D2E2D;
    }

    .e-custom-theme #themebutton.e-menu.e-horizontal > li:hover,.e-custom-theme #res_themebutton.e-menu.e-horizontal > li:hover{
        background: #2D2E2D;
    }

    .e-custom-theme .e-list > ul .e-list {
        padding: 9px;
    }

    .e-custom-theme .e-horizontal > .e-list > ul:after, .e-custom-theme .e-list > a span.e-icon.e-arrows {
        display: none;
    }

    .e-custom-theme .e-list > a {
        padding-left: 15px;
    }

    .e-custom-theme li.e-list > a > img {
        top: -3px;
        left: 236px;
    }

    .e-custom-theme #themebutton > li > a > .e-icon:first-child,.e-custom-theme #res_themebutton > li > a > .e-icon:first-child {
        margin: 0px;
        left: 0px;
    }

    .e-custom-theme .e-horizontal .e-list > ul {
        width: 295px;
    }

	.res_header .e-custom-theme.e-hide {
        display:none;
    }
	
#propertyGrid.e-grid-core {
    font-size: 14px;
}

.custom-style-dropdown {
    /* Size and position */
    position: relative;
    width: 180px;
    margin: 0 auto;
    padding: 4px 10px;
    float: left; /* Styles */
    background: #484848;
    border-radius: 7px;
    border: 1px solid #222222;
    cursor: pointer;
    outline: none; /* Font settings */
    color: #838383;
}

    .custom-style-dropdown:after {
        content: "";
        width: 24px;
        height: 24px;
        position: absolute;
        right: 6px;
        top: 50%;
        margin-top: -13px;
        background: url("../themes/images/icon-down.png") no-repeat scroll right center #484848;
    }

.search .custom-style-dropdown:after {
    background: url("../themes/images/search.png") no-repeat scroll right center #F7F7F6;
}

.search .custom-style-dropdown {
    background: none repeat scroll 0 0 #F7F7F6;
    border-color: #DBD5D1;
}

.custom-style-dropdown .dropdown {
    /* Size & position */
    position: absolute;
    top: 118%;
    left: 0;
    right: 0; /* Styles */
    background: none repeat scroll 0 0 #3d3d3d;
    border-radius: inherit;
    border: 1px solid #4c4c4c;
    -webkit-box-shadow: 2px 2px 3px rgba(50, 50, 50, 0.5);
    -moz-box-shadow: 2px 2px 3px rgba(50, 50, 50, 0.5);
    box-shadow: 2px 2px 3px rgba(50, 50, 50, 0.5);
    font-weight: normal;
    -webkit-transition: all 0.5s ease-in;
    -moz-transition: all 0.5s ease-in;
    -ms-transition: all 0.5s ease-in;
    -o-transition: all 0.5s ease-in;
    transition: all 0.5s ease-in;
    list-style: none; /* Hiding */
    opacity: 0;
    pointer-events: none;
}

    .custom-style-dropdown .dropdown:after {
        width: 0;
        height: 0;
        position: absolute;
        bottom: 100%;
        right: 15px;
    }

    .custom-style-dropdown .dropdown:before {
        width: 0;
        height: 0;
        position: absolute;
        bottom: 100%;
        right: 13px;
    }

    .custom-style-dropdown .dropdown li a {
        display: block;
        padding: 7px 10px;
        text-decoration: none;
        color: #838383;
        border-bottom: 1px solid #535353;
        margin: 0px 10px 0px 10px;
    }

    .custom-style-dropdown .dropdown li i {
        float: right;
        color: inherit;
    }

    .custom-style-dropdown .dropdown li:first-of-type a {
        border-radius: 7px 7px 0 0;
    }

    .custom-style-dropdown .dropdown li:last-of-type a {
        border: none;
        border-radius: 0 0 7px 7px;
    }

    /* Hover state */

    .custom-style-dropdown .dropdown li a:hover {
        color: #ffffff;
        background-color: #3d3d3d;
    }


/* Active state */

.custom-style-dropdown.active .dropdown {
    opacity: 1; /*pointer-events: auto;*/
}

/* No CSS3 support */

.no-opacity .custom-style-dropdown .dropdown, .no-pointerevents .custom-style-dropdown .dropdown {
    display: none;
    opacity: 1; /* If opacity support but no pointer-events support */ /*pointer-events: auto; /* If pointer-events support but no pointer-events support */
}

.no-opacity .custom-style-dropdown.active .dropdown, .no-pointerevents .custom-style-dropdown.active .dropdown {
    display: block;
}

.themeslider {
    float: right;
}

#ejgradienttext .e-rad-state-active, #ejmetrotext .e-rad-state-active, #ejlighttext .e-rad-state-active, #ejdarktext .e-rad-state-active {
    background: url("../themes/images/toggle-button.png") no-repeat;
    width: 13px;
    height: 13px;
    top: 0;
}

#ejgradienttext .e-spaninner, #ejmetrotext .e-spaninner, #ejlighttext .e-spaninner, #ejdarktext .e-spaninner {
    left: -4px;
}

#ejgradienttext .e-div .e-spanicon, #ejmetrotext .e-div .e-spanicon, #ejlighttext .e-div .e-spanicon, #ejdarktext .e-div .e-spanicon {
    background: white;
}

#themeSlider1 .e-slider-handle, #themeSlider2 .e-slider-handle {
    background-image: url("../themes/images/toggle-button.png");
    width: 13px !important;
    height: 13px !important;
    margin: -1px 0 0 -7.5px !important;
}

#themeSlider1, #themeSlider2 {
    margin-left: 100px;
    margin-top: -12px;
    border-radius: 5px;
}

.themebuttonclass,.res_themebuttonclass{
    float: left;
    width: 173px;
    padding-top: 10px !important;
}

#themeok {
    margin-right: 18px;
    border-radius: 2px;
}

#themecancel {
    border-radius: 2px;
}

.themecolors {
    padding-bottom: 13px;
    padding-top: 0px !important;
}

#themeDialog_wrapper {
    position: fixed !important;
    width: 200px !important;
    background: #2D2E2D;
    border-radius: 7px;
    border-color: #636363;
    top: 65px;
}

#btnOpen {
    position: absolute;
    display: none;
    margin: 10px;
}

#themeDialog {
    border: none;
    background-color: transparent;
    /*color: #D5D2CD;*/
    color: white;
    height: 100%;
}

    #themeDialog > div {
        border-bottom: 1px solid #636363;
        height: 25px;
        padding-top: 12px;
    }

    #themeDialog .themestyle {
        padding-top: 4px;
    }

    #themeDialog > div:last-child {
        border-bottom: 0px;
    }

.circlebaseouter {
    -webkit-border-radius: 7px;
    -moz-border-radius: 7px;
    border-radius: 7px;
    float: left;
    margin-top: 5px;
    background-color: transparent;
    height: 23px;
    width: 44px;
    margin-left: 10px;
    border: 2px solid;
    border-color: transparent;
}

    .circlebaseouter:first-child {
        margin-left: 0px;
    }

.circlebaseinner {
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    float: left;
    height: 19px;
    width: 40px;
    margin-top: 2px;
    margin-left: 2px;
}

#themeDialog .azure {
    background: #66D1CC;
}

#themeDialog .lime {
    background: #AECF49;
}

#themeDialog .saffron {
    background: #f9920b;
}

.colorsel {
    border-color: white;
}

.hoverselcolor {
    border-color: #807F7F;
}

#themeSlider1 .e-slider-handle, #themeSlider2 .e-slider-handle {
    border-radius: 10px;
}

#themeDialog .gradienttext, #themeDialog .darktext {
    display: none;
}

.editcode {
    display: none;
    float: right;
    cursor: pointer;
    width: 112px;
    margin-top: -3px;
}

.metroblue.e-dialog .e-dialog-header {
    background: none repeat scroll 0 0 #1B95CF;
}

#spliter1.e-splitter .splitbar .h-arrow, #spliter1 .e-splitter .splitbar .v-arrow, #spliter0.e-splitter .splitbar .h-arrow, #spliter0 .e-splitter .splitbar .v-arrow {
    background-image: none;
}

#sbeditcodedialog_wrapper .e-dialog-titlebar {
    background: white;
    border: none;
    color: black;
    height: 35px;
    padding: 0;
    padding-left: 15px;
    padding-top: 5px;
    border-bottom: 1px solid #D9DEDD;
}

#sbeditcodedialog_wrapper .e-dialog-title {
    font-weight: 600;
}

#sbeditcodedialog.e-dialog-content {
    margin-top: -7px;
    margin-left: -15px;
}

#ejcssarea {
    padding-left: 10px;
    padding-right: 10px;
}

.htmllabel {
    height: 25px;
    width: 45px;
}

.jslabel {
    height: 25px;
    width: 70px;
}

.csslabel {
    height: 25px;
    width: 35px;
}

.tooltiplabel {
    display: none;
    position: absolute;
    z-index: 4;
    background-color: #ECEDEE;
    float: right;
}

    .tooltiplabel > span {
        vertical-align: middle;
        padding-left: 4px;
    }

iframe {
    width: 100%;
    height: 590px;
}

.controlcont {
    padding-left: 25px;
}

#spliter0 .v-arrow {
    background: none;
}

#sbeditcodedialog_overLay {
    background: black;
    opacity: 0.9;
}

.lddivider {
    background: url("../themes/images/divider-line.png") no-repeat;
    width: 3px;
    height: 24px;
    position: absolute;
}

#apply {
    width: 75px;
    height: 30px;
    background: #DB373A;
    color: white;
}

    #apply span {
        padding-left: 17px;
    }

#sbeditcodedialog_wrapper .e-icon {
    background: url("../themes/images/closebutton.png");
    float: right;
}

    #sbeditcodedialog_wrapper .e-icon:hover {
        background: url("../themes/images/closebutton-hover.png");
        float: right;
    }

#sbeditcodedialog_wrapper .e-dialog-icon, #sbeditcodedialog_wrapper .e-dialog-icon:hover {
    background: none;
}

.edittext {
    display: inline-block;
    vertical-align: middle;
    background-color: #C34043;
    width: 75px;
    height: 30px;
    line-height: 27px;
    text-align: center;
    color: white;
    font-size: 16px;
    border: 1px solid #B8383B;
}

    .edittext:hover {
        background-color: #AA2D30;
        border: 1px solid #A6282B;
    }

.editimg {
    background-image: url("../themes/images/sbeditimg.png");
    width: 35px;
    height: 32px;
    margin-top: -32px;
    margin-left: 77px;
}

/* scroll changes */

.sb-left {
    position: fixed;
    top: 0;
}

.sb-right {
    margin-left: 251px;
}


.darktheme .eventtracesection, .dark-evtpopup {
    background: #111111 !important;
    border: 1px solid #343434 !important;
}
/*Responsive Navispan*/
#auto_wrapper {
    float: left;
}

.search {
    padding-right: 0px;
}

.accordion-panel {
    position: relative;
    overflow: visible;
}

.row .control-panel.cols-content-fluid.accordionHide {
    float: none;
    margin: 100px auto 0;
    width: 79.202%;
}

.accordion-panel.accordionHide {
    display: none;
}
/**/
/*theme switcher animation*/

.animated {
    -webkit-animation-duration: 0.1s;
    -moz-animation-duration: 0.1s;
    -o-animation-duration: 0.1s;
    animation-duration: 0.1s;
    -webkit-animation-fill-mode: both;
    -moz-animation-fill-mode: both;
    -o-animation-fill-mode: both;
    animation-fill-mode: both;
}

    .animated.hinge {
        -webkit-animation-duration: 0.3s;
        -moz-animation-duration: 0.3s;
        -o-animation-duration: 0.3s;
        animation-duration: 0.3s;
    }

@-webkit-keyframes flash {
    0%, 50%, 100% {
        opacity: 1;
    }

    25%, 75% {
        opacity: 0;
    }
}

.eventtracesection .samplediv {
    width: 300px;
    min-width: 300px;
}

.eventtracesection .eventclear, .eventtracesection .eventclear:hover {
    background: black;
    color: white;
    width: 50px;
    height: 25px;
}

.eventtracesection .evtbtn {
    padding-left: 10px;
}

.samplename > div {
    float: right;
}

#selectControls_wrapper .e-in-wrap .e-dropdownlist {
    display: none;
}

    #selectControls_wrapper .e-in-wrap .e-dropdownlist.e-input.e-focus, #selectControls_wrapper.e-focus {
        box-shadow: none;
    }

#selectControls_container {
    border: none;
    background: none;
    box-shadow: none;
}

#selectControls_dropdown {
    top: -15px;
    border: none;
    background: none;
}

    #selectControls_dropdown .e-down-arrow {
        background: url('../themes/images/evttracer.png') no-repeat;
        height: 29px;
        width: 29px;
        top: 25px;
        right: 10px;
    }

    #selectControls_dropdown > .e-icon.e-down-arrow:before {
        content: "";
    }

    #selectControls_dropdown .e-down-arrow:hover {
        background: url('../themes/images/evttracerhover.png') no-repeat;
    }

#selectControls_popup, #selectControls_popup .e-innerspan {
    border: 1px solid #D9DEDD;
}

#selectControls_popup li {
    color: #807F7F;
}

#selectControls_popup .e-chkbox-wrap .e-chkbox-small > span {
    top: 2px;
}

.eventarea {
    border-top: 1px solid #D9DEDD;
}

.eventtracesection .sf-event-panel .eventLog {
    display: inline-block;
    width: 100%;
}

.eventtracesection .sf-event-panel .eventTitle {
    color: #1dabce;
    width: 33%;
    padding: 5px 0;
}

.eventtracesection .sf-event-panel hr {
    background: none repeat scroll 0 0 #ECECEC;
    border: 0 none;
    height: 1px;
    margin: 0;
    padding: 0;
    margin-top: 5px;
}

.eventtracesection .sf-event-panel .divColon {
    padding: 0 5px 0 0;
}

/* for properties panel */
.propertiesdiv {
    width: 300px;
    min-height: 400px;
    min-width: 300px;
    height: 100%;
    margin-left: 20px;
    float: right;
    background-color: white;
    border: 1px solid #D9DEDD;
}

.propertypanelheading {
    height: 40px;
    line-height: 40px;
    width: 96%;
    display: inline-block;
    padding-left: 10px;
    color: #807F7F;
    font-size: 16px;
}

.propertypanelcontent {
    min-height: 365px;
    height: 365px;
    overflow-y: auto;
    border-top: 1px solid #D9DEDD;
}

.propertiesdiv table {
    width: 100%;
    height: auto;
    font-size: 14px;
    color: #807F7F;
    padding: 3%;
}

.propertiesdiv td {
    width: 59%;
    height: 30px;
    vertical-align: middle;
}

    .propertiesdiv td.leftalign {
        text-align: left;
        padding-left: 12px;
    }

    .propertiesdiv td.rightalign {
        text-align: right;
        padding-right: 15px;
    }

/*check and radio*/
.chkrad {
    width: 150px;
}

.btnsht {
    height: 50px;
    width: 150px;
}

.clslab {
    margin-left: 10px;
}

/*common td*/
.splttd {
    padding: 0;
}

.btnframe {
    border: 1px solid #D9DEDD;
    padding: 110px;
    border-radius: 10px 10px 10px 10px;
}

.btncontrol {
    margin-top: 10px;
    margin-left: 30px;
    color: gray;
}

.nbtnframe {
    padding: 50px;
}

.nbtncontrol {
    border: 1px solid #D9DEDD;
    padding-left: 65px;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 10px;
    color: gray;
}

.chkframe {
    padding: 50px;
}

.chkcontrol {
    border: 1px solid #D9DEDD;
}

    .chkcontrol .chkalign {
        margin-bottom: 10px;
        margin-left: 60px;
        margin-top: 10px;
        color: gray;
    }

    .chkcontrol .radioalign {
        margin-bottom: 10px;
        margin-left: 15px;
        margin-top: 10px;
        color: gray;
    }
/**/

/*----------------------- Gauge gradients -----------------*/

.circularlightgradient {
    background-image: url(../themes/images/gauge/Gauge_01light.png);
    background-size: contain;
    background-repeat: no-repeat;
    height: 363px;
    width: 500px;
    background-position: center;
}

.circulardarkgradient {
    background-image: url(../themes/images/gauge/Gauge_01dark.png);
    background-size: contain;
    background-repeat: no-repeat;
    height: 363px;
    width: 500px;
    background-position: center;
}

.linearlightgradient {
    background-image: url(../themes/images/gauge/Gauge_linear_light.png);
    background-size: contain;
    background-repeat: no-repeat;
    width: 500px;
    height: 400px;
    background-position: center;
}

.lineardarkgradient {
    background-image: url(../themes/images/gauge/Gauge_linear_dark1.png);
    background-size: contain;
    background-repeat: no-repeat;
    width: 500px;
    height: 400px;
    background-position: center;
}

.digitallightgradient {
    background-image: url(../themes/images/gauge/digi-1-light_03.png);
    background-size: contain;
    background-repeat: no-repeat;
    width: 525px;
    height: 305px;
    background-position: center;
    margin-left: 15px;
}

.digitaldarkgradient {
    background-image: url(../themes/images/gauge/digi-1-dark_03.png);
    background-size: contain;
    background-repeat: no-repeat;
    width: 525px;
    height: 305px;
    background-position: center;
    margin-left: 15px;
}

.thermolightgradient {
    background-image: url(../themes/images/gauge/thermo-light_03.png);
    background-size: contain;
    background-repeat: no-repeat;
    height: 465px;
    background-position: center;
    width: 500px;
}

.thermodarkgradient {
    background-image: url(../themes/images/gauge/thermo-Dark_05.png);
    background-size: contain;
    background-repeat: no-repeat;
    height: 465px;
    background-position: center;
    width: 500px;
}

.aligntop {
    margin-top: 7px !important;
}

.aligntop1 {
    margin-top: 6px !important;
}

/*CSS styles for  dark theme background*/
.page .darktheme {
    border: none !important;
}

.darktheme #auto, .darktheme #auto_dropdown {
    background-color: #393939 !important;
}

#productdropdown_popup {
    position: fixed !important;
    top: 47px !important;
}

.product-naviation .e-input, #productdropdown_popup, .product-naviation .e-select {
    background: none repeat scroll 0 0 #1F1F1F !important;
    color: #FFFFFF;
}

    #productdropdown_popup .txt {
        padding: 5px;
        color: #FFFFFF !important;
        display: block;
        text-decoration: none;
    }

.product-naviation .e-in-wrap, #productdropdown_popup {
    border: 1px solid #484848 !important;
}

    #productdropdown_popup.e-ddl-popup div > ul li {
        padding: 0px;
    }

.product-naviation .e-select {
    border-color: transparent;
}

.darktheme #auto_dropdown {
    border-left: none !important;
}

.darktheme #auto_suggestion {
    background-color: #393939 !important;
    border: 1px solid #535454;
}

    .darktheme #auto_suggestion .content ul li {
        border-bottom: 1px solid #484848;
    }

.darktheme #auto {
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
}

.darktheme .anchor.itemselected {
    color: white !important;
}

.darktheme .bgautocomplete {
    color: #939393 !important;
    border-bottom: 1px solid #484848 !important;
}

.darktheme .highlighttextbg {
    color: white !important;
    text-shadow: none !important;
}

.darktheme #scrollcontainer .anchor {
    color: #D2CECE !important;
}

.darktheme .dashboardhover, .dark-dashboardhover {
    background: url("../themes/images/dark left side tab hover.png");
}

.darktheme .dashboardheader {
    color: #c7c7c7;
    background: url("../themes/images/dark-left-side-tab-header.png");
}

    .darktheme .dashboardheader:hover {
        background: #1b1c1a;
    }

.darktheme .accordion-panel {
    background: url("../themes/images/dark left side tab bg.png");
    border-right: 1px solid #2d2d2d;
    -moz-box-shadow: -2px 0 5px 2px #2d2d2d;
    -webkit-box-shadow: -2px 0 5px -5px #2d2d2d;
    box-shadow: -2px 8px 5px 2px #2D2D2D;
}

.darktheme, .darktheme .control-panel {
    background: url("../themes/images/dark right side BG texture.png");
}

    .darktheme .producttitle {
        color: #ededed;
        text-shadow: 0 1px #EDEDED;
    }

    .darktheme .productContent {
        color: #969696;
    }

    .darktheme .sampleheadingtext, .darktheme .evtsamplename, .darktheme .samplename, .darktheme .heading {
        color: #ededed;
    }

    .darktheme .evtsamplename {
        text-shadow: none;
    }

    .darktheme .sampledescription {
        color: #868686;
    }

    .darktheme .cols-sample-area, .darktheme .cols-prop-area, .darktheme .event-tracer {
        background: #111111 !important;
        border: 1px solid #343434 !important;
        color: #ededed !important;
        text-shadow: none;
    }

    .darktheme .CodeMirror {
        background: #111111 !important;
        color: white !important;
    }

    .darktheme .event-tracer {
        border: none;
    }

    .darktheme .cols-prop-area .content, .darktheme .eventarea {
        border-top: 1px solid #343434;
    }

    .darktheme .event-tracer .sf-event-panel hr {
        background: #343434 !important;
    }

    .darktheme .arrow {
        background: url("../themes/images/dark-arrow2.png");
    }

    .darktheme .backarrow {
        background: url("../themes/images/dark-arrowleft.png");
    }

    .darktheme #selectControls_dropdown .e-arrow {
        background: url("../themes/images/dark-evttracer.png") no-repeat !important;
    }

        .darktheme #selectControls_dropdown .e-arrow:hover {
            background: url("../themes/images/dark-evttracerhover.png") no-repeat !important;
        }

.anchor.sbheading.dark-anchor {
    color: #929292 !important;
}

.darktheme .listsampleimage .img1 {
    background: url("../themes/images/dashboard_img/dark-theme-health-thumb.png");
}

.darktheme .listsampleimage .img2 {
    background: url("../themes/images/dashboard_img/dark-theme-stack-thumb.png");
}

.darktheme .listsampleimage .img3 {
    background: url("../themes/images/dashboard_img/dark-theme-weather-thumb.png");
}

.darktheme .listsampleimage .img4 {
    background: url("../themes/images/dashboard_img/dark-theme-expense-thumb.png");
}

.darktheme .listsampleimage .img5 {
    background: url("../themes/images/dashboard_img/dark-theme-sales-analysis.png");
}

.darktheme .listsampleimage .img6 {
    background: url("../themes/images/dashboard_img/dark-theme-Diagram-Builder.png");
}

.darktheme .listsampleimage .img7 {
    background: url("../themes/images/dashboard_img/dark-theme-Flight-Reservation.png");
}

.darktheme .listsampleimage .img8 {
    background: url("../themes/images/dashboard_img/dark-theme-projecttracker.png");
}

.darktheme .listsampleimage .img9 {
    background: url("../themes/images/dashboard_img/dark-theme-spreadsheet.png");
}

.darktheme .listsampleimage .anchorclass {
    color: white;
}

.darktheme .listsampleimage .litext {
    color: #747474;
}

.darktheme .event-tracer .evtsamplename {
    color: none !important;
}

.darktheme .evtpopup, .darktheme #selectControls_popup {
    background: #1f1f1f !important;
    border: 1px solid #4d4e4e !important;
}

.darktheme .sbloadingpopup {
    /*background:url("../themes/images/dark right side BG texture.png") repeat scroll 0 0 transparent;*/
    background: none;
    opacity: 1;
}

.darktheme .CodeMirror {
    background: #0C1021;
    color: #F8F8F8;
}

.darktheme .CodeMirror-selected {
    background: #253B76 !important;
}

.darktheme .CodeMirror-gutter {
    background: #0C1021 !important;
    border-right: 0;
}

.darktheme .CodeMirror-gutter-text {
    color: #888 !important;
}

.darktheme .CodeMirror-cursor {
    border-left: 1px solid #A7A7A7 !important;
}

.darktheme .cm-property {
    color: white !important;
}

.darktheme .cm-keyword {
    color: #FBDE2D !important;
}

.darktheme .cm-atom {
    color: #D8FA3C !important;
}

.darktheme .cm-number {
    color: #D8FA3C !important;
}

.darktheme .cm-def {
    color: #8DA6CE !important;
}

.darktheme .cm-variable {
    color: #FF6400 !important;
}

.darktheme .cm-operator {
    color: #FBDE2D !important;
}

.darktheme .cm-comment {
    color: #AEAEAE !important;
}

.darktheme .cm-string {
    color: #61CE3C !important;
}

.darktheme .cm-string-2 {
    color: #61CE3C !important;
}

.darktheme .cm-meta {
    color: #D8FA3C !important;
}

.darktheme .cm-error {
    background: #9D1E15 !important;
    color: #F8F8F8 !important;
}

.darktheme .cm-builtin {
    color: #8DA6CE !important;
}

.darktheme .cm-tag {
    color: #8DA6CE !important;
}

.darktheme .cm-attribute {
    color: #8DA6CE !important;
}

.darktheme .cm-header {
    color: #FF6400 !important;
}

.darktheme .cm-hr {
    color: #AEAEAE !important;
}

.darktheme .cm-link {
    color: #8DA6CE !important;
}

.sbloadingpopup {
    background: none;
}

    .sbloadingpopup .e-image {
        background: url("../themes/images/sbloading-popup.gif") no-repeat scroll 0 0 transparent !important;
        width: 256px;
        height: 23px;
    }

.metroclstxt, .graclstxt, .liteclstxt, .darkclstxt {
    float: right;
    margin-top: -19px;
}

.sbtooltip {
    background: url("../themes/images/sbtooltip.png") no-repeat;
    width: 176px;
    height: 86px;
}

#sbtooltipbox {
    padding: 0;
    margin: 0;
    background: none;
}

#sbtooltipbox_wrapper {
    background: transparent !important;
    border: none !important;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    position: fixed !important;
    top: 65px;
}

    #sbtooltipbox_wrapper > .e-dialog-scroller {
        border: none;
    }
/* scroller style */
#scrollcontainer.e-scroller .e-vhandle:hover, #scrollcontainer.e-scroller .e-button:hover, #auto_suggestion .e-vhandle:hover {
    background: #d8d8d8;
    color: #797979;
}

#scrollcontainer .e-scrollbar .e-hscroll .e-icon, #scrollcontainer .e-scrollbar .e-vscroll .e-icon, #auto_suggestion .e-scrollbar .e-hscroll .e-icon, #auto_suggestion .e-scrollbar .e-vscroll .e-icon {
    display: block;
}

.darktheme #scrollcontainer.e-scroller .e-vhandle:hover, .darktheme #scrollcontainer.e-scroller .e-button:hover, .darktheme #auto_suggestion .e-vhandle:hover {
    background: #444444;
}

.darktheme #auto_suggestion .e-vhandle {
    background: #4F4F4F;
}

#scrollcontainer .e-vhandle, #auto_suggestion .e-vhandle {
    border-radius: 4px;
}

#scrollcontainer > .e-scrollbar, #scrollcontainer > .e-scrollbar > .e-vscroll {
    width: 8px !important;
}

@-webkit-keyframes fadeInRight {
    0% {
        opacity: 0;
        -webkit-transform: translateX(20px);
    }

    100% {
        opacity: 1;
        -webkit-transform: translateX(0);
    }
}

@-moz-keyframes fadeInRight {
    0% {
        opacity: 0;
        -moz-transform: translateX(20px);
    }

    100% {
        opacity: 1;
        -moz-transform: translateX(0);
    }
}

@-o-keyframes fadeInRight {
    0% {
        opacity: 0;
        -o-transform: translateX(20px);
    }

    100% {
        opacity: 1;
        -o-transform: translateX(0);
    }
}

@keyframes fadeInRight {
    0% {
        opacity: 0;
        transform: translateX(20px);
    }

    100% {
        opacity: 1;
        transform: translateX(0);
    }
}

.fadeInRight {
    -webkit-animation-name: fadeInRight;
    -moz-animation-name: fadeInRight;
    -o-animation-name: fadeInRight;
    animation-name: fadeInRight;
}

#sbloadingcontent .customimg {
    height: 100px;
}

.azure .jslogo, .jslogo {
    background: url("../themes/images/azure-logo.png") no-repeat;
}

.lime .jslogo {
    background: url("../themes/images/lime-logo.png") no-repeat;
}

.saffron .jslogo {
    background: url("../themes/images/saffron-logo.png") no-repeat;
}
/************************************************************************************
Bootstrap v3 Override
*************************************************************************************/
.content-container-fluid .row {
    margin: 0;
}

#copy-wrapper{
    display:none !important;
}

.content-container-fluid .col-md-3 {
    float: left;
}
/************************************************************************************
MEDIA QUERIES
*************************************************************************************/

@media screen and (max-width: 1367px) {
    .controlpage, .controlmainpage {
        padding-left: 50px;
        padding-top: 2%;
    }
}


.content-container-fluid {
    padding-right: 0px;
    padding-left: 0px;
    *zoom: 1;
}

    .content-container-fluid:before,
    .content-container-fluid:after {
        display: table;
        content: "";
        line-height: 0;
    }

    .content-container-fluid:after {
        clear: both;
    }

[class*="cols-"] {
    float: left;
    min-height: 1px;
    margin-left: 20px;
}

.row [class*="cols-"] {
    display: block;
    width: 100%;
    min-height: 30px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    float: left;
    margin-left: 1%;
    *margin-left: 2.074468085106383%;
}

.row .cols-content-fluid.scrollit {
    margin-left: 0px;
}

.row [class*="cols-"]:first-child {
    margin-left: 0;
}

    .row [class*="cols-"]:first-child > div:first-child {
        margin: 0 auto;
    }

.row .cols-fixed-sidebar {
    width: 250px;
    *width: 250px;
}

.row .cols-sample-area {
    background-color: white;
    border: 1px solid #D9DEDD;
    margin-bottom: 25px;
    padding: 25px;
    min-width: 250px;
}

.row .cols-prop-area {
    background-color: white;
    border: 1px solid #D9DEDD;
}

.row .cols-source, .row .cols-iframe {
    padding-right: 25px;
    margin-left: 0px;
}

.row .cols-source {
    margin-bottom: 56px;
}

.cols-iframe .sample-container {
    width: 100%;
    min-height: 431px;
    height: 100%;
    overflow-y: auto;
}

.row .cols-content-fluid1 {
    width: 82.22916666666667%;
    *width: 82.22916666666667%;
}

.row .cols-content-fluid {
    width: 77.202%;
    *width: 77.202%;
}

.content-container-fluid > .row:first-child {
    width: 99.58%;
}

#samplefile {
    height: 1200px;
}

.frame {
    border: 1px solid #BBBCBB;
    border-radius: 10px;
    padding: 30px 20px;
    width: 350px;
    color: #5C5C5C;
}

@media (min-width: 1920px) {
    .row .cols-iframe {
        width: 100%;
        *width: 100%;
    }

    .row .cols-content-fluid1 {
        width: 83.22916666666667%;
        *width: 83.22916666666667%;
    }

    .row .cols-source {
        width: 99.58%;
        *width: 99.58%;
        margin-bottom: 56px;
    }

    .cols-iframe .sample-container1, .row .cols-source1 {
        min-height: 940px;
    }
}

@media (min-width: 1681px) and (max-width: 1920px) {
    .row .cols-content-fluid1 {
        width: 83.22916666666667%;
        *width: 83.22916666666667%;
    }
}

@media (min-width: 1441px) and (max-width: 1680px) {
    .row .cols-content-fluid1 {
        width: 80.20277777777779%;
        *width: 80.20277777777779%;
    }
}

@media (max-width: 1024px) {
	#copy-wrapper {
		display:none !important;
	}
	#edit-wrapper {
		display:none !important;
	}
	.copycodedown {
			display:none !important;
	}
}
@media (min-width: 1366px) and (max-width: 1440px) {
    .row .cols-iframe {
        width: 100%;
        *width: 100%;
    }

    .row .cols-content-fluid1 {
        width: 82.20238095238095%;
        *width: 82.20238095238095%;
    }

    .row .cols-source {
        width: 99.58%;
        *width: 99.58%;
        margin-bottom: 56px;
    }

    .row .cols-prop-area {
        height: 100%;
        margin-left: 20px;
        min-height: 406px;
    }

    .cols-iframe .sample-container1, .row .cols-source1 {
        min-height: 940px;
    }
}
/* product-naviation style */
.Desktop .sbheader > div:last-child {
    margin-right: 12px;
}

.Desktop .product-naviation {
    float: left;
    font-size: 16px;
    margin-left: 45px !important;
}

    .Desktop .product-naviation > div {
        cursor: pointer;
        float: left;
        color: grey;
        padding: 15px 11px 11px;
    }

.azure .Desktop .selectedproduct, .Desktop div.selectedproduct {
    color: #66c1dc;
    border-bottom: 4px solid #66c1dc;
}

.lime .Desktop .selectedproduct {
    color: #aecf49;
    border-bottom: 4px solid #aecf49;
}

.saffron .Desktop .selectedproduct {
    color: #f9920b;
    border-bottom: 4px solid #f9920b;
}

.product-naviation .not-selected:hover {
    color: #f2f2f2;
}

.Mobile .jslogo {
    padding-left: 0px;
}
/* product-naviation style */
.Mobile .product-naviation {
    position: absolute;
    font-size: 16px;
    width: 150px;
    margin-top: 56px;
    background: #2D2E2D;
	line-height:30px;
	z-index:1;
}

    .Mobile .product-naviation > div {
        margin: 15px;
        cursor: pointer;
        color: grey;
    }
	.header.Desktop .product-naviation span {
		display:none !important;
	}

.Mobile div.selectedproduct, .azure .selectedproduct {
    color: #66c1dc;
}

.lime .Mobile .selectedproduct {
    color: #aecf49;
}

.saffron .Mobile .selectedproduct {
    color: #f9920b;
}

.Mobile .menulogo {
    background: url('../themes/images/burger icon.png') no-repeat;
    cursor: pointer;
    height: 55px;
    float: right;
    width: 47px;
    margin-top: -5px;
}
.Mobile .productlogo{
    background: url('../themes/images/js sb responsive-06.png') no-repeat;
    cursor: pointer;
    height: 55px;
    float: right;
    width: 47px;
    margin-top: 5px;
}
.Mobile .mobilelogo {
    background: url('../themes/images/js sb responsive-12.png') no-repeat;
}
.Mobile .desktoplogo {
    background: url('../themes/images/js sb responsive-06.png') no-repeat;
}
.mobile_pro  {
    background: url('../themes/images/js sb responsive-07.png') no-repeat;
    cursor: pointer;
    height: 55px;
    float: left;
    width: 40px;
	margin-left:-46px;
	padding-right:3px;
}
.lime .selectedproduct .mobile_pro {
	    background: url('../themes/images/js sb responsive-16.png') no-repeat;
}
.lime  .selectedproduct .desktop_pro {
		    background: url('../themes/images/js sb responsive-15.png') no-repeat;
}
.saffron .selectedproduct .mobile_pro {
	    background: url('../themes/images/js sb responsive-14.png') no-repeat;
}
.saffron .selectedproduct .desktop_pro {
		    background: url('../themes/images/js sb responsive-13.png') no-repeat;
}
.showCaseTab .e-addborderbottom .e-header {
	border:none !important;
}

span.e-icon.slidepanel-nav:before {
	content:"\e76b";
	margin-left:-10px;
	margin-top:-13px;
}
span.e-icon.slidepanel-nav {
	font-size: 30px !important;
}
#slidepanel.e-corner {
	border-radius:2px !important;
	margin:-1px 0px -9px 0px !important;
}
.desktop_pro{
	background: url('../themes/images/js sb responsive-10.png') no-repeat;
    cursor: pointer;
    height: 55px;
    float: left;
    width: 40px;
	padding-right:3px;
}
.selectedproduct .desktop_pro {
		background: url('../themes/images/js sb responsive-08.png') no-repeat;

}
.selectedproduct .mobile_pro {
		background: url('../themes/images/js sb responsive-07.png') no-repeat;
}
.Mobile .hideIt {
    visibility: hidden;
}
@media (max-width: 979px) {
	.slidemenuicon.e-button:hover{
		background:none !important;
	}
	.navigation-btn .e-btn {
        display:none !important;
    }
	.darktheme  .res_header {
		background-color:#3A3737 ;
	}
    .e-custom-theme{
        margin-top:3px;
        float: right;
    }
	.irresponsive {
		 display: none !important;
	}
    .e-custom-theme .e-horizontal .e-list > ul{
        left:-269px !important;
    }
    .darktheme .e-custom-theme #themebutton > li.e-list.e-mhover, .darktheme .e-custom-theme #themebutton > li.e-list.e-mhover > a, .darktheme .e-custom-theme #themebutton > li.e-list.e-active,.darktheme .e-custom-theme #themebutton > li.e-list.e-active > a,
    .darktheme .e-custom-theme #res_themebutton > li.e-list.e-mhover, .darktheme .e-custom-theme #res_themebutton > li.e-list.e-mhover > a, .darktheme .e-custom-theme #res_themebutton > li.e-list.e-active,.darktheme .e-custom-theme #res_themebutton > li.e-list.e-active > a  {
        background: #3A3737;
    }
    .darktheme .e-custom-theme #themebutton.e-menu.e-horizontal > li:hover,.darktheme .e-custom-theme #res_themebutton.e-menu.e-horizontal > li:hover{
        background: #3A3737;
    }
    .e-custom-theme #themebutton > li.e-list.e-mhover, .e-custom-theme #themebutton > li.e-list.e-mhover > a, .e-custom-theme #themebutton > li.e-list.e-active, .e-custom-theme #themebutton > li.e-list.e-active > a,
    .e-custom-theme #res_themebutton > li.e-list.e-mhover, .e-custom-theme #res_themebutton > li.e-list.e-mhover > a, .e-custom-theme #res_themebutton > li.e-list.e-active, .e-custom-theme #res_themebutton > li.e-list.e-active > a  {
        background: #EEE;
    }
    .e-custom-theme #themebutton.e-menu.e-horizontal > li:hover,.e-custom-theme #res_themebutton.e-menu.e-horizontal > li:hover{
        background: #EEE;
    }
    #themebutton .e-icon, #res_themebutton .e-icon{
        width: 35px;
        height: 35px;
    }
	.slidemenuicon.e-btn.e-select:focus {
		box-shadow:none;
	}
	.slidemenuicon div {
		position:relative !important;
		margin-left:5px !important;
		margin-top:-2px !important;
	}
	.res_header span.e-icon.slidepanel-nav:hover {
		color:#179bd7;
	}
	.res_header span.e-icon.slidepanel-nav:before {
	   content:"\e76b";
	   margin-left:-5px;
	   margin-top:-15px;
    }
    .themegallery  {
	   display:none;
     }

	.res_header .slidemenuicon .e-icon.slidepanel-nav {
	   font-size: 22px !important;
	}
	.res_header .slidemenuicon {
		display:block !important;
		width:26px !important;
		height:26px !important;
		background:none;
		margin-left:30px;
		margin-top:10px;
		font-size:20px !important;
		padding-bottom:50px;
		float:left;
		border:none !important;
	}
	.res_header .sampleheadingtext{
	    line-height:25px !important;
	    margin-left:10px !important;
	    font-size: 20px !important;
		margin-right:-100px !important;
		width:auto !important;
	}
	.producttitle {
		font-size:21px !important;
		line-height:42px !important;
	}
	.res_header {
		background-color:#EEE;
		margin-top:-10px;
		margin-left:-30px;
		margin-right:-10px;
		height:40px;
	}
}

@media (min-width: 979px) {
    .res_header .e-custom-theme {
        display:none;
    }
}

@media (max-width: 563px) {
    .cols-prop-area [class^="col-md-"] {
        display: block;
        width: 100%;
    }
}

@media (min-width: 979px) and (max-width: 1366px) {
    .row .cols-content-fluid {
        width: 78.202%;
        *width: 78.202%;
    }

    .row {
        margin-left: 0px !important;
        margin-right: 0px !important;
    }

        .row .cols-fixed-sidebar {
            left: 0px !important;
        }
}

@media (max-width: 1320px) {
    .row .cols-content-fluid {
        margin-right: 0px !important;
        width: 70%;
        *width: 70%;
    }
}


@media (min-width: 440px) and (max-width:979px) {
	
	.e-showcasetab.e-tab.e-js {
		padding-left:20px !important
	}
}

@media (min-width: 312px) and (max-width: 979px) {
    .frame {
        width: 350px;
        padding: 35px 20px;
		border: none !important;
    }
    .row [class*="cols-"] {
        margin-left: 0 !important;
    }

    .row .cols-content-fluid {
        width: 62.890625%;
        *width: 62.890625%;
    }

    /**/
    .content-container-fluid > .row .accordion-panel {
        display: none;
    }
    .content-container-fluid > .row .accordion-panel.expandPanel {
        display: block;
    }

    .control-panel > .content-container-fluid {
        min-width: 342px;
    }

    .content-container-fluid > .row {
        width: 100%;
        margin: 0px auto;
    }


        .content-container-fluid > .row .control-panel {
            float: none;
            padding: 0;
        }

        .content-container-fluid > .row .accordion-panel {
            clear: both;
            z-index: 1;
            position: absolute;
        }

        .content-container-fluid > .row .accordionHide {
            display: none;
        }

    .controlText-section {
        padding: 0;
    }

    .controlSamples-section {
    }

    .controlText-section {
        text-align: center;
    }

    .navigation-btn {
        margin-right: 62px !important;
    }
	.samplename,#samplefile  {
		margin-left: 0px !important;

	}
    /**/
}
 /*listbox sample*/
 
 .listbox.frame {
    display: table;
    width: auto !important;
    padding: 50px;
 }
 
 @media (max-width: 625px) {
     .listbox.frame {
         width: 260px !important;
         padding: 35px 20px !important;
         border: none !important;
     }
 }
 @media (max-width: 380px) and (min-width: 312px) {
     .listbox.frame {
         width: 247px !important;
         padding: 35px 10px !important;
         border: none !important;
     }
 
     .listbox .grouplist {
         padding-left: 25px;
     }
 }

@media (max-width: 670px){
    .rotatorApi .cols-sample-area .frame{
        width: auto !important;
    }
	.wrapper-demo {
		display:none !important;
	}
	.ejthemestudio {
		display:none !important;
	}
	#sourceTab {
		display:none !important;
	}
	.samplename .controlname {
		display:none !important;
	}
	.res_header .samplename .sbtxt {
    font-size: 18px;
}
}
@media (max-width: 550px) {
    .e-acrdn, .e-tab.e-js.e-widget, .e-splitter,
    .cols-sample-area > #target, .cols-sample-area div #docfile,
    .cols-sample-area div #menuRTL {
        width: auto !important;
    }
	.scrollit .row {
		padding-left:10px !important;
		padding-top:10px !important;
    }
    .rotators .cols-sample-area .frame{
        width: auto;
    }
    /* div > #binding{
		width: 50% !important;
		margin-top: 20px;
	} */
    
    .windsep {
        width: 0px !important;
    }

    .navigation-btn .e-btn {
        height: 18px !important;
        width: 15px !important;
    }

    .e-btn .e-icon {
        padding: 2px 1px !important;
    }

    .e-rarrowright-2x::before, .e-rarrowleft-2x::before {
        width: 13px !important;
        height: 18px !important;
    }

    .samplename .navigation-btn {
        padding: 0 !important;
        right: 0 !important;
    }
    #newsamplewindow {
        display: none !important;
    }

    .drag > .cols-sample-area, .tiles > .cols-sample-area {
        min-width: 350px;
    }

    .scroller > .cols-sample-area {
        min-width: 500px;
    }

    .progres .cols-sample-area .imgframe {
        width: auto;
        height: auto;
    }

    .imgframe > #syncfusionProducts, .imgframe {
        width: auto !important;
    }

    #scrollTarget .group {
        padding-left: 0px !important;
    }
}

@media (max-width: 440px) {
    .frame, .e-tagcloud,
    .cols-sample-area > #defaultlistbox {
        width: auto !important;
    }

    .rating > .cols-sample-area, .verticalMenu > .cols-sample-area, .datetime > .cols-sample-area {
        min-width: 400px;
    }
	.templatesample > .cols-sample-area, .colorpick > .cols-sample-area {
        min-width: 440px;
	}
	.res_header .sampleheadingtext{
		line-height:56px !important;
		margin-left:60px !important;
		margin-top:-25px !important;
	}
	.qrcode .qrimage {
		display:none !important;
	}
	.lisampleimage .qrcode  {
		display:none !important;
	}
	.lisampleimage .imgstyle  {
		background-size:235px 345px;
	}
	.featuredsamples {
		padding-left:10%;
	}
	.sampleheadingtext .sbsamplename {	
	margin-left:-50px !important;
	margin-top:10px !important;
	}
	.sync-text {
		font-size:13px !important;
		margin-left:-58px !important;
	}
	.cols-sample-area .presets-col , .cols-sample-area #inlinePicker{
		margin-left: -42px !important;

	}
	
}

@media (max-width: 360px) {
    .sampleheadingtext {
        padding: 7px 0 20px !important;
    }

    #dateTime_popup{
        left: 0 !important;
    }
	.featuredsamples {
		margin-left:-2px !important;
	}
}

@media (max-width: 400px) {
    .e-colorpicker .e-popup {
        left: 25px !important;
    }

    .frame {
        padding: 10px 5px;
		border: none !important;
    }

    .rating > #bindng {
        margin: 40px 130px 0 0;
    }
	
	.frame > .autocomplete{
		float: left !important;
	}
.featuredsamples {
	margin-left:3%;
}	
	}	



@media (max-width: 315px) {
    /**/
    #e-datepick {
        left: 11px !important;
    }
	.sbheader .title {
		padding-left:0px;
	}
    .scrollit {
        overflow-x: scroll;
    }
    .scrollit > .row {
        padding: 10px 0px 10px 7px;
    }

    #scrollcontainer .dashboard {
        padding-left: 33px;
    }

    .content-container-fluid > .row .accordion-panel {
        display: none;
    }

    

    .content-container-fluid > .row .accordion-panel.expandPanel {
        display: block;
    }
    .control-panel > .content-container-fluid {
        min-width: 300px;
    }

    .content-container-fluid > .row {
        width: 100%;
        margin: 0px auto;
    }


    .content-container-fluid > .row .control-panel {
        float: none;
        padding: 0;
    }

    .content-container-fluid > .row .accordion-panel {
        clear: both;
        z-index: 1;
        position: absolute;
    }

    .content-container-fluid > .row .accordionHide {
        display: none;
    }

    .controlText-section {
        padding: 0;
    }

    .controlSamples-section {
    }

    .controlText-section {
        text-align: center;
    }

    #samplefile {
        min-width: 680px;
    }

    .sampleheadingtext, #samplefile {
        margin-left: 0 !important;
    }

    .control-panel > .row {
        min-width: 680px;
    }
    /**/
    .row .cols-content-fluid {
        width: 12.9%;
        *width: 12.9%;
    }

    .row .cols-source, .row .cols-iframe {
        padding-right: 0px;
    }

    .producttitle {
        white-space: nowrap;
    }

    #auto_wrapper {
        width: 84% !important;
    }

    .dashboard {
        display: block;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
    }

    .row .cols-fixed-sidebar {
        overflow: hidden;
        width: 33%;
        min-width: 200px;
    }

    .arrow {
        position: absolute;
        right: -3%;
    }

    .sampleheadingtext {
        font-size: 19px !important;
    }

    .cols-prop-area {
        width: 98% !important;
        margin-left: 0 !important;
    }

    .row {
        margin-left: 0px;
        margin-right: 0px;
    }

    .row [class*="cols-"] {
        margin-left: 0 !important;
    }
}

.darktheme .SB-groupIt {
    color: white;
}

.SB-groupIt {
    padding: 8px 0px 8px 34px;
    font-weight: 600;
    cursor: default;
}

.cols-prop-area .heading {
    color: #807F7F;
    display: inline-block;
    font-size: 16px;
    height: 40px;
    line-height: 40px;
    padding-left: 10px;
    width: 98.29931972789116%;
}

.cols-prop-area .content {
    border-top: 1px solid #D9DEDD;
    overflow-y: auto;
    width: 94%;
    height: auto;
    font-size: 14px;
    color: #807F7F;
    padding: 3%;
}

.cols-prop-area .e-prop {
    width: 100%;
}

.cols-prop-area [class^="col-md-"] {
    margin-top: 3px;
    margin-bottom: 3px;
    vertical-align: middle;
    height: 30px;
}

.cols-prop-area .row [class^="col-md-"], .row [class^="col-md-"]:first-child {
    padding: 0 0 0 5px;
}

.cols-prop-area .row [class^="col-md-12"] {
    width: 100%;
    padding: 3px;
    text-align: center;
}

    .cols-prop-area .row [class^="col-md-12"] > *:first-child {
        margin: 0 auto;
    }

.cols-prop-area .EventLog {
    color: #807F7F;
    height: 290px;
    margin: 0 0 10px;
    min-height: 275px;
    overflow: auto;
    padding: 10px 0;
    text-align: left;
}

.cols-prop-area .eventTitle {
    color: #1dabce;
    width: 33%;
    padding: 5px 0;
}

.cols-prop-area .sf-event-panel hr {
    background: none repeat scroll 0 0 #ECECEC;
    border: 0 none;
    height: 1px;
    margin: 0;
    padding: 0;
    margin-top: 5px;
}

.cols-prop-area .eventarea {
    border-top: 0px solid #D9DEDD;
}

.event-tracer .prop-grid {
    padding-top: 0px;
}

.prop-grid.keyboard [class^="col-md-"] {
    height: 45px;
    min-height: 30px;
}

.darktheme .frame {
    border: 1px solid #303030;
    color: #979797;
}

.col-md-3 a {
    color: blue;
    text-decoration: underline;
}

/*---------------------------Waiting popup----------------------------------- */

.sbloadingtemplate {
    width: 200px;
    height: 80px;
    background-color: transparent;
    text-align: center;
    top: 300px !important;
}

.sbloadingtext {
    display: inline-block;
    width: 100%;
    height: 50px;
    color: gray;
    font-family: 'lato';
    font-size: 26px;
}

.sbloadingimg {
    display: inline-block;
    width: 100%;
    height: 20px;
    background: url("../themes/images/sbloading-popup-light.gif") no-repeat scroll -10px 0 transparent;
}

.darktheme .sbloadingimg {
    background: url("../themes/images/sbloading-popup-dark.gif") no-repeat scroll -10px 0 transparent;
}

/*------------------ejGrid - Start------------------------------------*/
#commanddialog .emp-img {
    width: 150px;
}
/*------------------ejGrid - End--------------------------------------*/

.metroblue.e-radiobtn-wrapper .e-radiobtn-text {
    font-size: 14px;
}


.themestyle .skin-name, .themevarient .skin-name, .bootstraptheme .skin-name {
    cursor: pointer;
    font-weight: normal;
    margin: 0 5px;
    width: 50px;
}


.data-manager-div .datamgr-table {
    padding: 2px;
    width: 100%;
}

.data-manager-div .query-container, .datamgr-table .query-td {
    border-right: 1px solid #D9DEDD;
}

.data-manager-div .control-container, .data-manager-div .result-td {
    padding-left: 10px;
}

.datamgr-header td {
    font-size: 20px;
}

.data-manager-div .query-container .pre-query-tag {
    width: 400px;
}

.darktheme .datatable {
    background: linear-gradient(to bottom, rgba(255, 255, 255, 0.01) 0%,rgba(255, 255, 255, 0.07) 100%) repeat scroll 0 0 rgba(255, 255, 255, 0);
}

.datatable {
    border: 1px solid;
    min-width: 325px;
    padding: 10px;
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.01) 0%, rgba(0, 0, 0, 0.07) 100%) repeat scroll 0 0 rgba(0, 0, 0, 0);
}

    .datatable .datatable {
        min-width: 200px;
    }

    .datatable table {
        border: none;
        border-collapse: collapse;
        width: 100%;
    }

    .datatable th {
        color: gray;
        text-align: left;
        border-bottom: 1px solid #808080;
    }

    .datatable sup {
        color: #F08080;
    }

    .datatable tr {
        border: none;
        border-bottom: 1px solid lightgray;
    }

    .datatable tbody > tr:last-child {
        border-bottom: none;
    }


.samplename .navigation-btn {
    position: relative;
    display: inline-block;
    font-size: 14px;
    padding: 5px;
    float: right;
    right: 3px;
}

.navigation-btn span {
    padding: 5px;
}

    .navigation-btn span:hover {
        cursor: pointer;
    }

.navigation-btn .e-btn {
    height: 25px;
    padding: 0;
    width: 30px;
    border-radius: 4px;
}

.navigation-btn .prev .e-icon.e-previous {
    background-position: -236px 3px;
}

.navigation-btn .next .e-icon.e-next {
    background-position: -155px 3px;
}

.emulatordesk {
    background-image: url("../themes/images/android_phone.png");
    background-repeat: no-repeat;
    height: 735px;
    margin-left: 25%;
}

    .emulatordesk .sample-container {
        height: 493px;
    }

    .emulatordesk .sample-container {
        width: 320px;
    }

    .emulatordesk iframe {
        margin-left: 29px;
        margin-top: 112px;
    }

.emulatortap {
    background-image: url("../themes/images/android_tablet.png");
    background-repeat: no-repeat;
    height: 735px;
}

    .emulatortap .sample-container {
        height: 500px;
    }

    .emulatortap .sample-container {
        width: 100%;
    }

    .emulatortap iframe {
        margin-left: 41px;
        margin-top: 45px;
    }
/*Copy to clipboard CSS & New Window CSS*/
.newwindow {
    font-size: 19px;
    left: 8px;
    position: absolute;
    top: 13px;
}

    .newwindow:before {
        content: "\e744";
    }

.e-icon.newsrcwindow, .e-icon.copycodeicon {
    float: none !important;
}

.newsrcwindow:before {
    content: "\e780";
    font-size: 16px;
}

#copy-wrapper, #edit-wrapper {
    display: inline-block;
    float: right;
}

.copyedit .e-btntxt {
    font-size: 15px;
    font-family: 'lato';
}

.copyedit.zeroclipboard-is-hover:before, .copyedit.zeroclipboard-is-hover, .copyedit:hover {
    background-color: #004e7a !important;
}

.copyedit:active, .copyedit.zeroclipboard-is-active:before, .copyedit.zeroclipboard-is-active {
    background-color: #054866 !important;
}

.copyedit {
    display: inline-block;
    float: right;
    background-color: #015991;
    color: white;
    cursor: pointer;
    text-align: center;
    margin: 0px 0px 5px 10px;
    border-radius: 3px;
    font-size: 12pt;
    font-family: lato;
}

.copyeditText {
    vertical-align: sub;
}

.windsep {
    display: inline-block;
    width: 8px;
}

.copycodeicon:before {
    content: "\e77f";
    font-size: 17px;
}

.copycodedown {
    border: 1px solid #bbbcbb;
    border-radius: 2px;
    display: block;
    height: 30px;
    line-height: 2;
    margin: 40px 0 10px 9px;
    text-align: center;
    width: 160px;
    font-size: 13px;
    font-weight: 600;
}

    .copycodedown.zeroclipboard-is-hover {
        background-color: #f5f5f5;
        cursor: pointer;
    }

.darktheme .copycodedown.zeroclipboard-is-hover {
    background-color: #111111;
}

/*Showcase code tab CSS*/
.codebutton {
    background: #66c1dc none repeat scroll 0 0;
    color: #ffffff !important;
    display: inline-block;
    float: left;
    font-size: 13px;
    font-weight: 600;
    height: 25px;
    line-height: 23px;
    margin-left: 132px;
    margin-top: -43px;
    padding-left: 4px;
    position: relative;
    vertical-align: middle;
    width: 20px;
}

    .codebutton > a {
        color: white;
        text-decoration: none;
    }

    .codebutton .codeimg:before {
        content: "\e780";
        font-size: 20px;
        margin: 2px 0 0 -2px;
    }
.e-showcasetab.e-tab.e-js .e-header .e-link{
	color: #5B5B5B;
	font-size: 18px;
}
.e-showcasetab.e-tab.e-js .e-header .e-active .e-link
{
color:#333;
}
.darktheme .e-showcasetab.e-tab.e-js .e-header .e-link
{
    color:#ededed;
}
.e-showcasetab.e-tab.e-js .e-header .e-active,.e-showcasetab.e-tab.e-js .e-header .e-active:hover,
.azure .e-showcasetab.e-tab.e-js .e-header .e-active
{
    border:none;
    border-bottom:3px solid #179bd7;
    background:none;
}
.lime .e-showcasetab.e-tab.e-js .e-header .e-active
{
    border-bottom-color:#aecf49;
}
.saffron .e-showcasetab.e-tab.e-js .e-header .e-active
{
    border-bottom-color:#f9920b;
}
.e-showcasetab.e-tab.e-js  .e-active-content,
.e-showcasetab.e-tab.e-js .e-header .e-select:hover,.e-showcasetab.e-tab.e-js .e-header .e-select{
    border:none;
    background:none;
	padding-left:0;
 }
.e-showcasetab.e-tab.e-js .e-header{
   border-bottom:none;
   padding-left:12px;
   position:relative;
   background:none !important;
}
.e-showcasetab.e-tab.e-js{
  padding-top:10px;
}
.e-showcasetab.e-tab.e-js .e-header  a{
	 padding-left:0;
	 padding-right:0;
 }
 .e-showcasetab.e-tab.e-js .e-header  li{
 margin-right: 20px;
 }
 .e-showcasetab.e-tab.e-js .e-header  .new{
 margin-left:-10px;
 margin-top:-5px;
 }