﻿@{
    ViewBag.Title = "Auditorias";
}
<link href="@Url.Content("~/Content/AuditoriaCSS.css")" rel="stylesheet" />
@* Check to make sure your user class is not null *@
@if (ViewBag.nomSitio == null && ViewBag.Code == "")
{
    @Html.Partial("listaAuditorias")
}
else
{
<div class="auControls"  style="border-bottom: solid 1px red;">
<input id="idAuditoria" value="Nueva Auditoria!" type="text" readonly/>  
    	<ul style="margin: 5px;" >
            @*<li class="process" id="regresar" style="background-image:url('@Url.Content("~/images/back_aji.png")');float: left;display:none;"></li>  *@          
    		<li class="process" id="agregarAu" title="Agregar Empresa" style="background-image:url('@Url.Content("~/images/add_aji.png")');"></li>    		
    		<li class="process" id="guardarAu" title="Guardar cambios" style="background-image:url('@Url.Content("~/images/save_aji.png")');" onclick="saveAuth('all')"> <span style="display:none" >Guardar todo</span> </li>
    	</ul>
</div> 
<div id="saving">Guardando...</div>
<div id="sitioTitleContainer" class="auTitleContainer ">
    Datos de Auditoria para <span id="nombreSitio">@ViewBag.nomSitio</span><h1 class="autitleSection"><span id="nombreEmpresa">@ViewBag.nomEmpresa</span><img id="imgEmpresa" src="@ViewBag.imgEmpresa" /></h1>  
</div>
<div class="auMainFirst">
    @Html.Partial("Graphics/auEquipos") 
    @Html.Partial("Graphics/auClimatizacion")       
</div>
<div class="auMainSecond">
    @Html.Partial("Graphics/auAnalisis")  
</div>
<div class="auMainThird">
    @Html.Partial("Graphics/auTransporte") 
    @Html.Partial("Graphics/auAgua")
    @Html.Partial("Graphics/auAire")   
</div>
<!--[if lt IE 9]>
<script src="@Url.Content("~/Scripts/sync/scripts/jquery-1.11.3.min.js")"></script>
<![endif]-->
<!--[if gte IE 9]><!-->
<script src="@Url.Content("~/Scripts/sync/scripts/jquery-2.1.4.min.js")"></script>
<!--<![endif]-->
<script src="@Url.Content("~/Scripts/sync/scripts/jquery.easing.1.3.min.js")"></script>
<script src="@Url.Content("~/Scripts/sync/scripts/jsondata.min.js")"></script>
<script src="@Url.Content("~/Scripts/sync/scripts/jquery.globalize.min.js")"></script>
<script src="@Url.Content("~/Scripts/sync/scripts/jsrender.min.js")"></script>
<script src="@Url.Content("~/Scripts/sync/scripts/ej.web.all.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/sync/scripts/properties.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/Operaciones/operacionesAuditoria.js")"></script>
<script type="text/javascript">  
    $(document).ready(function () {
        $.ajax({
            url: "@Url.Content("~/Home/authSession")",
            type: "POST",
            dataType: "json",
            data: { 'user': "@ViewBag.User" },
            success: successFuncAuth
        });
    });
    function successFuncAuth(data, status) {
        if (data == "true") {
            colorList();
            $.ajax({
                url: "@Url.Content("~/AjaxTest/getAuditoria")",
                type: "POST",
                dataType: "json",
                traditional: true,
                data: { 'code': "@ViewBag.Code" },
            success: successFuncGetAu
            });
        }
        else { window.location.replace("@Url.Content("~/Home/login")"); }
    }

    function successFuncGetAu(data, status) {
        if (data != "search") {
            idAuditoria.value = data.cod;
            nombreSitio.innerHTML = data.sit;
            nombreEmpresa.innerHTML = data.emp;
            imgEmpresa.src = data.logo;
            setClimatizacion(data.cl);
            setAnalisis(data.an);
            setDatostransporte(data.da);
            setAgua(data.ag);
            setAire(data.ai);
            var data1 = ej.DataManager(data.eq).executeLocal(ej.Query().take(50));
            $("#Grid").ejGrid({
                dataSource: data1,
                allowPaging: true,
                pageSettings: { pageCount: 3, pageSize: 6 },
                allowSorting: true,
                allowReordering: true,
                allowResizing: true,
                //showColumnChooser: true,
                columns: [                        
                        { field: "descripcion", headerText: "Descripción", width: 80 },
                        { field: "departamento", headerText: "Departamento", width: 60 },
                        { field: "potencia", headerText: "Potencia", width: 45 },
                        { field: "cantidad", headerText: "Cantidad", width: 45 },
                        { field: "id_equipo", headerText: "Editar", width: 40 }
                ],
                create:"rowsFunction"
            });
            var data2 = ej.DataManager(data.tr).executeLocal(ej.Query().take(40));
            $("#GridTR").ejGrid({
                dataSource: data2,
                allowPaging: true,
                pageSettings: { pageCount: 3,pageSize:6 },
                allowSorting: true,
                allowReordering: true,
                allowResizing: true,
                //showColumnChooser: true,
                columns: [
                        { field: "marca_vehiculo", headerText: "Marca", width: 60 },
                        { field: "placa_vehiculo", headerText: "Placa", width: 60 },
                        { field: "tipo_combustible", headerText: "Combustible", width: 75 },
                        { field: "consumo_combustible", headerText: "Consumo", width: 60 },
                        { field: "id_transporte", headerText: "Editar", width: 40 }
                ],
                create: "rowsFunction2"
            });
            //valores
            areaUtilizada.innerHTML = data.areautilizada;
            setCogeneracion(data.cogeneracion);
            valorConsumoPromedioGasolina.innerHTML = data.ConsumoPromediaGasolina;
            valorConsumoPromedioDiesel.innerHTML = data.ConsumoPromediaDiesel;
            empleadosDeSitio.innerHTML = data.empleadosSitio
        }else{
            $('.result').remove();
            showFormTR('inline-block', 'none');
            showFormEQ('inline-block', 'none');
            $('.auAnColumn')[1].remove();
            $('.auAnColumn').css('width','auto');
            $('.auAnColumn').css('minWidth', '0px');
        }
    }
    
    function rowsFunction() {
        var row = $("#Grid div.e-gridcontent div table.e-table tbody tr.e-row,tr.e-alt_row ");
        for (i = 0; i < row.length; i++) {            
            if (row[i].getElementsByTagName("td")[4].innerHTML.indexOf("editEquipos") > -1) {
            } else {
                row[i].getElementsByTagName("td")[4].innerHTML =
                   "<div class='editEquipos' style='background-image:url(" +
                   "@Url.Content("~/images/update_aji.png")" +
                   ")' onclick='loadEq(this.innerHTML)' >" +
                   row[i].getElementsByTagName("td")[4].innerHTML +
                   "</div>";
            }
        }
    }
    function rowsFunction2() { 
        var row = $("#GridTR div.e-gridcontent div table.e-table tbody tr.e-row,tr.e-alt_row ");
        for (i = 0; i < row.length; i++) {
            if (row[i].getElementsByTagName("td")[4].innerHTML.indexOf("editEquipos") > -1) {
            } else {
                row[i].getElementsByTagName("td")[4].innerHTML =
                    "<div class='editEquipos' style='background-image:url(" +
                    "@Url.Content("~/images/update_aji.png")" +
                    ")' onclick='loadTR(this.innerHTML)' >" +
                    row[i].getElementsByTagName("td")[4].innerHTML +
                    "</div>";
            }
        }
        allOp();
    }
    $("#gridContainerEQ").click(function () { rowsFunction(); });
    $("#gridContainerTR").click(function () { rowsFunction2(); });
</script>
<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
@Html.Partial("operaciones")
<script type="text/javascript"> 

    function colorList() {
        var ls = document.getElementsByClassName("result");
        var c = 1;
        for (i = 0; i < ls.length; i++) {
            if (c == 0) {
                ls[i].style.backgroundColor = "#FF0000";
                c = 1;
            } else {
                ls[i].style.backgroundColor = "#AB0000";
                c = 0;
            }
        }
    }
    function validate(evt) {
        
        var theEvent = evt || window.event;
        var key = theEvent.keyCode || theEvent.which;
        key = String.fromCharCode(key);
        var regex = /\-|\,|[0-9]|\.|[\b]/;
        if (!regex.test(key)) {
            theEvent.returnValue = false;
            if (theEvent.preventDefault) theEvent.preventDefault();
        }
        
    }
    //************************************
    function saveAuth(param) {
        if (confirm('Desea guardar la auditoria: \n Empresa: @ViewBag.nomEmpresa \n Sitio: @ViewBag.nomSitio \n Fecha: @ViewBag.Fecha ?')) {
            saving.style.display = "block";
            var paramPersistente = param;
            if (param = "all" && document.getElementsByClassName("auEquiposColumn")[0].style.display == "inline-block" ) { param = "equipo"; }
            var dataEq = defineSet(param);
            if (param = "all") { param = "climatizacion"; }
            var dataCl = defineSet(param);
            if (param = "all") { param = "aire"; }
            var dataAi = defineSet(param);
            if (param = "all") { param = "analisis"; }
            var dataAn = defineSet(param);
            if (param = "all") { param = "transporte"; }
            var dataTr = defineSet(param);
            if (param = "all") { param = "agua"; }
            var dataAg = defineSet(param);
            var set = defineValues(param);
            var dataAu = new Array({
                'fecha_ingreso': '@ViewBag.fecha',
                'nombre_auditor': '@ViewBag.User',
                'descripcion': set
            });
            $.ajax({
                url: "@Url.Content("~/Home/saveAuditoria")",
                type: "POST",
                dataType: "json",
                traditional: true,
                data: {
                    'sitio': "@ViewBag.nomSitio",
                    'action': paramPersistente,
                    'dataAuditoria': JSON.stringify(dataAu),
                    'dataEquipos': JSON.stringify(dataEq),
                    'dataClimatizacion': JSON.stringify(dataCl),
                    'dataAire': JSON.stringify(dataAi),
                    'dataAnalisis': JSON.stringify(dataAn),
                    'dataTransporte': JSON.stringify(dataTr),
                    'dataAgua': JSON.stringify(dataAg),
                    'code':"@ViewBag.Code"
                },
                success: successFuncSaveAu
            });
        } else {

        }
    }
    
    function successFuncSaveAu(data, status) {
        saving.style.display = "none";
        if (data.toString() == "true") {
            try {
                if (accionSU.innerText.indexOf(nombreSitio.value) > -1) {
                    alert("Auditoria actualizada.");
                }
                else {
                    alert("Auditoria  almacenada.");
                }
            } catch (ex) {
                alert("Auditoria  almacenada.");
            }
            //cleanFields()
            window.location.replace(location.href);//.split("&")[0] + "&review= @ViewBag.nomEmpresa/@ViewBag.nomSitio"
        }
        else {
            alert("Error");
        }
    }
    function defineValues(param) {
        var set;
        set = 'valorcombustibleAnual:' + valorcombustibleAnual.innerHTML.replace('kWh/a', '') + "," +
            'valorCogeneracion:' + valorCogeneracion.innerHTML.replace('kWh/a', '') + "," +
            'valorelectricidadProducida:' + valorelectricidadProducida.innerHTML.replace('kWh', '') + "," +
            'valueTermico:' + valueTermico.innerHTML.replace('kWh/a', '') + "," +
            'valorelectrico:' + valorelectrico.innerHTML.replace('kWh/a', '') + "," +
            'valorperdida:' + valorperdida.innerHTML.replace('kWh/a', '') + "," +
            'valorQuemadoCogeneracion:' + valorQuemadoCogeneracion.innerHTML.replace('kWh/a', '') + "," +
            'valorQuemadoCaldera:' + valorQuemadoCaldera.innerHTML.replace('kWh/a', '') + "," +
            'valorConsumoElectricidadAutogenerada:' + valorConsumoElectricidadAutogenerada.innerHTML.replace('%', '') + "," +
            'valorSuministroElectricidadAutogenerada:' + valorSuministroElectricidadAutogenerada.innerHTML.replace('%', '');
        
        return set;
    }
    //******************************

    function cleanFields() {
        document.getElementById("nombreSitioUPD").value = "";
    }
    function areCompleteFields() {
        if (document.getElementById("nombreSitioUPD").value == "" ||
        document.getElementById("compensacionAutoconsumoUPD").value == "") {
            return false;
        }
        else {
            return true;
        }
    }
    function defineSet(param) {
        var set;
        if (param == "equipo") {
            set = new Array({
                "id_Equipo": eqIdEquipo.value,
                "descripcion": eqDescripcion.value,
                "departamento": eqDepartamento.value,
                "uso": eqUso.value,
                "potencia": eqPotencia.value,
                "cantidad": eqCantidad.value,
                "horas_uso": eqHoras.value,
                "consumo": eqConsumo.value,
                "observacion": eqObservaciones.value,
                "eq_tipo": eqTipo.value
            });
        }
        if (param == "climatizacion") {
            set = new Array({
                "Cl_tipo": tipoClimatizacion.value,
                "climatizacion_dist": $('input[name="climDist"]:checked').val(),
                "valor_gas_natural": valorCalorificoGasNatural.value,
                "trans_energia_electrica": transformacionEnergiaElectrica.value,
                "trans_energia_termica": transformacionEnergiaTermica.value,
                "cl_perdidas": Perdidas.value,
                "combustible_climatizacion": combustibleClimatizacion.value,
                "valor_aceite_combustible": valorCalorificoAceiteCombustible.value,
                "valor_pellets_madera": valorCalorificoPelletsMadera.value,
                "sistema_clima_distancia": sistemaClimatizacionDistacia.value,
                "suministro_cogeneracion_año": suministroCogeneracion.value,
                "combustible_cogenerazion": combustibleCogeneracion.value
            });
        }
        if (param == "analisis") {
            set = new Array({
                "costo_prom_combustible": costosPromedioCombustible.value,
                "costo_clima_distancia": costosClimatizacionDistancia.value,
            });
        }
        if (param == "transporte") {
            set = new Array({
                "consumo_disel_an": consumoTotalDieselAunual.value,
                "costo_disel": costosDiesel.value,
                "consumo_gasolina_an": consumoTotalGasolinaAnual.value,
                "costo_gasolina": costosGasolina.value,
                "viaje_tren": viajesTren.value,
                "consumo_energia_recorido": consumoEnergiaRecorrido.value,
                "costo_viaje_tren": costosViajeTren.value,
                "viaje_avion": viajesAvion.value,
                "consumo_kerosene": consumoKerosene.value,
                "valor_calorifico_kerosene": valorCaloríficoKerosene.value,
                "costo_viaje_avion": costosViajesAvion.value,
                /*equipo de transporte*/
                "_clT_Id_vehiculo": id_transporte.value,
                "_clT_marca_vehiculo": marcaVehiculo.value,
                "_clT_placa_vehiculo": placaVehiculo.value,
                "_clT_tipo_combustible": tipoCombustible.value,
                "_clT_consumo_combustible": consumoCombustible.value
            });
        }
        if (param == "agua") {
            set = new Array({
                "agua_fria": aguaFria.value,
                "agua_caliente": aguaCaliente.value,
            });
        }
        if (param == "aire") {
            set = new Array({
                "consumo_compresores": consumoCompresor.value,
                "consumo_aire_comprimido": consumoAireComprimido.value,
            });
        }
        return set;
    }
    
</script>
}
