﻿@{
    ViewBag.Title = "Empresas";    
}  
<link rel="stylesheet" href="@Url.Content("~/Content/EmpresaCSS.css")">
<div id="filled_containerLeft" class="leftContent_Emp" style="clear: both;
    margin: 0 auto;
    max-width: 534px;">
    <div id="headInicial" class ="listaEmpresas">
    <ul>
        <li>            
            <img id="logoEmpresa" src="" />
            <div class="datosEmpresa">
            <h2 id="nombreEmp"></h2>
            </div>
        </li>
     </ul>
    </div>
    <div id="headNuevo" class ="listaEmpresas">
    <div id="accionSU" class="accion"></div>
    <ul>
        <li>
            <input id="selectLogo" type='file' name="Logo"/>
            <img id="myImg" src="#" alt="New Image" />            
        </li>
     </ul>
    </div>
    <!--*************************************-->
    <div class="controls">
    	<ul>
            <li class="process" id="regresar" title="Regresar" style="background-image:url('@Url.Content("~/images/back_aji.png")');float: left;margin-left: -15%;display:none;"></li>
    		<li class="process" id="agregar" title="Agregar Empresa" style="background-image:url('@Url.Content("~/images/add_aji.png")');"></li>
    		<li class="process" id="modificar" title="Modificar Empresa" style="background-image:url('@Url.Content("~/images/update_aji.png")');display:inline-block;" ></li>
    		<li class="process" id="guardar" title="Guardar cambios" style="background-image:url('@Url.Content("~/images/save_aji.png")');"></li>
    	</ul>
    </div>
    <!--*************************************-->
<div id="inicial" class="empresasForm">    
    <div class="empresasCampo"><span class="empresasForm_label">Empresa: </span><input type="text" id="Empresa" class="empresasForm_txt" disabled></div>
    <div class="empresasCampo"><span class="empresasForm_label">No Fiscal: </span><input type="text" id="NoFiscal" class="empresasForm_txt" disabled></div>
    <div class="empresasCampo"><span class="empresasForm_label">Localización: </span><input type="text" id="Localizacion" class="empresasForm_txt" disabled></div>
    <div class="empresasCampo"><span class="empresasForm_label">Representante: </span><input type="text" id="Representante" class="empresasForm_txt" disabled></div>
    <div class="empresasCampo"><span class="empresasForm_label">Telefono: </span><input type="text" id="Telefono" class="empresasForm_txt" disabled></div>
    <div class="empresasCampo"><span class="empresasForm_label">Correo: </span><input type="text" id="Correo" class="empresasForm_txt" disabled></div>    
</div>
<div id="nuevo" class="empresasForm">    
    <div class="empresasCampo"><span class="empresasForm_label">Empresa: </span><input type="text" id="EmpresaNew" class="empresasForm_txt"></div>
    <div class="empresasCampo"><span class="empresasForm_label">No Fiscal: </span><input type="text" id="NoFiscalNew" class="empresasForm_txt"></div>
    <div class="empresasCampo"><span class="empresasForm_label">Localización: </span><input type="text" id="LocalizacionNew" class="empresasForm_txt"></div>
    <div class="empresasCampo"><span class="empresasForm_label">Representante: </span><input type="text" id="RepresentanteNew" class="empresasForm_txt"></div>
    <div class="empresasCampo"><span class="empresasForm_label">Telefono: </span><input type="text" id="TelefonoNew" class="empresasForm_txt"></div>
    <div class="empresasCampo"><span class="empresasForm_label">Correo: </span><input type="text" id="CorreoNew" class="empresasForm_txt"></div>    
</div>
<div class="listaMainSitios">
@Html.Partial("listaSitios")
</div>
</div>
<div id="filled_containerRight" class="rightContent_Emp">
    <div class="titleSection" onclick="fillFields()">Datos Generales de la Empresa</div>
	<div class="consumoFinal_Emp">
		<ul>
			<li><span class="consumoFinalLabel">Total Consumos</span><span class="consumoFinalValor">101,120.44 kWh/a</span></li>
			<li><span class="consumoFinalLabel">Costos de Energía</span><span class="consumoFinalValor">$ 24,600 USD/a</span></li>
		</ul>
	</div>
<!--[if lt IE 9]>
<script src="@Url.Content("~/Scripts/sync/scripts/jquery-1.11.3.min.js")"></script>
<![endif]-->
<!--[if gte IE 9]><!-->
<script src="@Url.Content("~/Scripts/sync/scripts/jquery-2.1.4.min.js")"></script>
<!--<![endif]-->
<script src="@Url.Content("~/Scripts/sync/scripts/jquery.easing.1.3.min.js")"></script>
<script src="@Url.Content("~/Scripts/sync/scripts/jsondata.min.js")"></script>
<script src="@Url.Content("~/Scripts/sync/scripts/jquery.globalize.min.js")"></script>
<script src="@Url.Content("~/Scripts/sync/scripts/jsrender.min.js")"></script>
<script src="@Url.Content("~/Scripts/sync/scripts/ej.web.all.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/sync/scripts/properties.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/Operaciones/operacionesAuditoria.js")"></script>
<div style="width: 100%; display: inline-block;">
    <div class="graphContainer">
        @Html.Partial("Graphics/MainGraph") 
    </div>
    <div class="graphContainer">
        @Html.Partial("Graphics/SecondGraph") 
    </div>
</div>
</div>
<style>
    .graphContainer {
        position: relative;
        display: inline-block;
        width: 49%;
        float: left;
        max-height: 500px;
    }
</style>
<script>
    $(document).ready(function () {
        headNuevo.style.display = "none";
        nuevo.style.display = "none";
        $(function () {
            $(":file").change(function () {
                if (this.files && this.files[0]) {
                    var reader = new FileReader();
                    reader.onload = imageIsLoaded;
                    reader.readAsDataURL(this.files[0]);
                }
            });
        });

        function imageIsLoaded(e) {
            $('#myImg').attr('src', e.target.result);
        };
        $(document).ready(function () {
            $.ajax({
                url: "@Url.Content("~/Home/authSession")",
            type: "POST",
            dataType: "json",
            data: { 'user': "@ViewBag.User" },
            success: successFuncAuth
        });
        });
        function successFuncAuth(data, status) {
            if (data == "true") {
                getEmpresa()
            }
            else { alert("getting out"); window.location.replace("@Url.Content("~/Home/login")"); }
        }
        function getEmpresa() {
            $.ajax({
                url: "@Url.Content("~/AjaxTest/getEmpresa")",
                type: "POST",
                dataType: "json",
                data: { 'par': location.href },
                success: successFuncGetEmpresa,
                error: errFunc
            });
        }
        function successFuncGetEmpresa(data, status) {
            nameToAddSite = data.nombre;
            logoEmpresa.src = data.logo;
            nombreEmp.innerHTML = data.nombre;
            Empresa.value = data.nombre;
            NoFiscal.value = data.num_fiscal;
            Localizacion.value = data.localizacion;
            Representante.value = data.representante;
            Telefono.value = data.telefono;
            Correo.value = data.correo;
            $('#nuevoSitio').attr('href', "@Url.Content("~/Home/Sitios/")" + "?User=" + document.getElementById("name").value + "&review=nuevo/" + Empresa.value);            
            if (data.toString() == "search") {
                listaMainEmpresas.style.display = "inline-block";
                $("#filled_containerLeft").remove();
                $("#filled_containerRight").remove();
            }
        }
        function errFunc(data, status) {
            alert(data.responseText);
        }
        $("#modificar").click(function () {
            accionSU.innerHTML = "Actualizar " + Empresa.value;
            EmpresaNew.value = Empresa.value; 
            NoFiscalNew.value = NoFiscal.value;
            LocalizacionNew.value = Localizacion.value;
            RepresentanteNew.value = Representante.value;
            TelefonoNew.value = Telefono.value;
            CorreoNew.value = Correo.value;
            document.getElementById('myImg').src = document.getElementById('logoEmpresa').src;
        });

        $("#agregar, #regresar, #modificar").click(function () {
            $("#headInicial, #inicial").dequeue().stop();
            $('#headInicial, #inicial').toggle({ marginLeft: '-110%' });//, 500, function () { $('#headInicial').css('display', 'none') });            
            $('#headNuevo, #nuevo').toggle({ marginLeft: '-110%' });
            $('#regresar, #agregar, #modificar').toggle({ display: 'inline-block' });
        });

        $("#agregar").click(function () {
            accionSU.innerHTML = "Nueva Empresa";
            EmpresaNew.value = "";
            NoFiscalNew.value = "";
            LocalizacionNew.value = "";
            RepresentanteNew.value = "";
            Telefono.valueNew = "";
            Correo.valueNew = "";
            document.getElementById('myImg').src = "";
        });      
        
        $("#guardar").click(function () {
            var date = now.getFullYear() + "-" + (now.getMonth() + 1) + "-" + now.getDate();
            var action = "";
            var val = areCompleteFields();
            if (val == true) {
                if (accionSU.innerHTML.indexOf(nombreEmp.innerHTML) > -1) {
                    action = "update";
                }
                else { action = "save"; }
                var data = new Array({
                    'user': document.getElementById("name").value,
                    'nombre': document.getElementById("EmpresaNew").value,
                    'nombreNuevo': document.getElementById("Empresa").value,
                    'correo': document.getElementById("CorreoNew").value,
                    'fecha_ingreso':date,
                    'localizacion': document.getElementById("LocalizacionNew").value,
                    'logo': document.getElementById('myImg').src, 
                    'num_fiscal': document.getElementById("NoFiscalNew").value,
                    'representante': document.getElementById("RepresentanteNew").value,
                    'telefono': document.getElementById("TelefonoNew").value,
                });
                $.ajax({
                    url: "@Url.Content("~/Home/saveEmpresa")",
                    type: "POST",
                    dataType: "json",
                    traditional: true,
                    data: {
                        'action': action,
                        'data': JSON.stringify(data),
                    },
                    success: successFuncSave
                });
                
            } else { alert("Complete todos lo datos.") }
        });
    });
    function successFuncSave(data, status) {
        if (data.toString() == "true") {
            if (accionSU.innerHTML.indexOf(nombreEmp.innerHTML) > -1) {
                alert(document.getElementById("EmpresaNew").value + " actualizada.");
            }
            else {
                alert(document.getElementById("EmpresaNew").value + " almacenada.");
            }

            cleanFields()
            window.location.replace(location.href.split('&')[0]);
        }
        else {
            alert("Error");
        }
    }
    function cleanFields() {
        document.getElementById("CorreoNew").value = "";
        document.getElementById("LocalizacionNew").value = "";
        document.getElementById("EmpresaNew").value = "";
        document.getElementById("NoFiscalNew").value = "";
        document.getElementById("RepresentanteNew").value = "";
        document.getElementById("TelefonoNew").value = "";
    }
    function areCompleteFields() {
        if (document.getElementById("CorreoNew").value == "" ||
           document.getElementById("LocalizacionNew").value == "" ||
           document.getElementById("EmpresaNew").value == "" ||
           document.getElementById("NoFiscalNew").value == "" ||
           document.getElementById("RepresentanteNew").value == "" ||
           document.getElementById("TelefonoNew").value == "") {
            return false;
        }
        else {
            return true;
        }
    }
    </script>
<div id="listaMainEmpresas" class="listaMainEmpresas">
@Html.Partial("listaEmpresas")
</div>


