﻿@{
    ViewBag.Title = "Home Page";
}

<div class="listaMainEmpresas">
@Html.Partial("listaEmpresas")
</div>
<div class="listaMainSitios">
@Html.Partial("listaSitios")
</div>
<script>
    $(document).ready(function () {
        $.ajax({
            url: "@Url.Content("~/Home/authSession")",
            type: "POST",
            dataType: "json",
            data: { 'user': "@ViewBag.User" },
            success: successFuncAuth
        });
    });
    function successFuncAuth(data, status) {
        if (data == "true") {
        }
        else { window.location.replace("@Url.Content("~/Home/login")"); }
    }
</script>

