﻿@{
    ViewBag.Title = "Login";
}
<body style="background-image:url('@Url.Content("~/images/gray_aji.png")')" class="login">
    <div id="loader-wrapper" style="background-image:url(@Url.Content("~/images/aji_texture.png"));background-color: rgba(0, 0, 0, 0.17);background-size: 1% 1%;">
  <main>       
      <div class="loader">
        <div class="loader-inner ball-scale-ripple-multiple">
          <div></div>
          <div></div>
          <div></div>
        </div>
      </div>
  </main>
</div>
    <div class="loginContent">
         <div class="LoginForm">
             <div class="logoContainer">
             <img src="@Url.Content("~/images/logo_aji_H.png")" />
             </div>
             <span>Usuario</span>
             <input id="email" type="text" value="calito" placeholder="User" />
             <span>Clave</span>
             <input id="password" type="password" value="calito" placeholder="Password" style=""/>
             <div id="LoginBtn" class="loginButton" >Login</div>
         </div>
    </div>
     <script type="text/javascript">
         $(document).ready(function () {
             document.getElementById("revenueSector").innerHTML = "";
             document.getElementById("footer").innerHTML = "";;
             document.getElementById("scripts").innerHTML = "";
             $('#LoginBtn').click(function () {
                 $.ajax({
                     url: "@Url.Content("~/Home/Login")",
                     type: "POST",
                     dataType: "json",
                     data: {
                         'user': document.getElementById("email").value,
                         'pass': document.getElementById("password").value },//JSON.stringify({ 'param': param, 'fromDate': from.toString(), 'toDate': to.toString() }),
                     success: successFunc
                 });                 
             });
         });
         function successFunc(data, status) {
             if (data == true) {
                 window.location.replace("@Url.Content("~/")?User=" + document.getElementById("email").value);
             }
             else {
                 alert("Usuario o contraseña equivocados.");
             }
         }
     </script>
    <style>
        .logoContainer {
                width: 100%;
    background-color: rgb(255, 255, 255);
        }
        .foot {
        display:none;
        }              
    </style>
</body>

