﻿@{
    ViewBag.Title = "Sitios";
}
<link rel="stylesheet" href="@Url.Content("~/Content/SitioCSS.css")">
<div id="sitioTitleContainer" class="sitioTitleContainer">
    <h1 class="titleSection">Sitio de <br> <input id="nombreEmpresa" value="Nombre de empresa" readonly/><img id="imgEmpresa" src="" /></h1>
    <div class="controls">
    	<ul>
            <li class="process" id="regresar" title="Regresar" style="background-image:url('@Url.Content("~/images/back_aji.png")');float: left;display:none;"></li>
            <li id="accionSU" ></li>
    		<li class="process" id="agregar" title="Agregar Empresa" style="background-image:url('@Url.Content("~/images/add_aji.png")');"></li>
    		<li class="process" id="modificar" title="Modificar Empresa" style="background-image:url('@Url.Content("~/images/update_aji.png")');" ></li>
    		<li class="process" id="guardar" title="Guardar cambios" style="background-image:url('@Url.Content("~/images/save_aji.png")');"></li>
    	</ul>
    </div>    
</div>
<div id="searchEmpresas" style="display:none; width: 90%; margin-left: auto; margin-right: auto; background-color: #E3E3E3; padding: 1%;">
    <span>Empresa para sitio nuevo: </span>
    <select name="empresas" id="empresas">    
</select>
</div>
<div id="LeftSitios" class="containerLeftSitios">
	<div style="min-width: 300px;padding-right: 6%;">           
        <h1>Datos de Sitio</h1>
        <div>
            <span>Nombre: </span>
            <input id="nombreSitio" type="text" value="asdasd" disabled="disabled">
        </div>
        <div>
            <span>Tipo de Uso: </span>
            <select name="" id="tipoUso" disabled="disabled">
	            <option value="Oficina">Oficina</option>
                <option value="Taller">Taller</option>
                <option value="Vivienda">Vivienda</option>
            </select>
        </div> 
        <div>
            <span>Area Utilizada: </span>
            <input id="areaUtilizada" type="text" disabled="disabled">
        </div>
        <div>
            <span>Propiedad</span>
            <select name="" id="Propiedad" disabled="disabled">
            	<option value="Alquilada">Alquilada</option>
            	<option value="Propia">Propia</option>
            </select>
        </div>
        <div>
            <span>Dirección: </span>
            <input id="direccion" type="text" disabled="disabled">
        </div>
        <div class="spliter"></div>
        <h1>Empleados</h1>
        <div>
            <span>Tiempo Completo</span><input id="tiempoCompleto" type="number" disabled="disabled">
        </div>
        <div>
            <span>Tiempo Parcial</span><input id="tiempoParcial" type="number" disabled="disabled">
        </div>
        <div>
            <span>En el Extrangero</span><input id="extrangero" type="number" disabled="disabled">
        </div>
        <div><span>
            En Instruccion</span><input id="instruccion" type="number" disabled="disabled">
        </div>
        <div id="EmpleadosSitio" style="width:100% !important;max-width:150px !important;" class="result"><span>empleados en Sitio</span></div>
	</div>
	<div class="plazasTrabajo" >
        <h1>Plazas de Trabajo</h1> 
        <div class="plazas" >
    	    <span>Potencia de computadora por plaza</span>
    	    <input id="potenciaDeComputadora" type="number" disabled="disabled" placeholder="[w]">
    	    <span>Potencia de iluminación por plaza</span>
    	    <input id="potenciaDeIluminacion" type="number" disabled="disabled" placeholder="[w]">
    	    <span>Plazas Utilizadas en horarios de trabajo</span>
    	    <input id="plazasUtilizadas" type="number" disabled="disabled">
        </div>
        <div class="result2">250 <span>Dias laborales por año</span></div>
        <div></div>
        <div id="ConsumoElectrico" class="result2" style="background-color: #AA0000;">10000 <span style="display: inline;">kWh/a</span><span>Consumo eléctrico de plaza de trabajo</span></div> 
        <div></div>        
	</div>
	<div class="datosEnergia">
        <h1>Datos de Energía</h1>
        <div class="leftSitios">
            <div><span>Proveedor</span><input id="proveedor" type="text" disabled="disabled"></div>
            <div><span>Factor de mezcla de energía usada</span><input id="factorMezcla" type="number" disabled="disabled" placeholder="[g/kWh]"></div>
            <div><span>Consumo eléctrico anual</span><input id="consumoElectricoAnual" type="number" disabled="disabled" placeholder="[kWh/a]"></div>
            <div><span>Suministrado de la red</span><input id="suministradoRed" type="number" disabled="disabled" placeholder="[kWh/a]"></div>
        </div>
        <div class="leftSitios">	
            <div><span>Cogeneración</span><input id="cogeneracion" type="number" disabled="disabled" placeholder="[kWh/a]"></div>
            <div><span>Consumo eléctrico según factura</span><input id="consumoElectricoFactura" type="number" disabled="disabled" placeholder="[€]"></div>
            <div><span>Compensación por autoconsumo</span><input id="compensacionAutoconsumo" type="number" disabled="disabled" placeholder="[€]"></div>  
        </div><br />
        <div class="result2Container">
        <div id="costosCogeneracion" class="result2" style="min-width: 0px;">€De Auditoria<span>Costos por Cogeneración</span></div>
        <div id="CTConsumoElectrico" class="result2" style="background-color: #AA0000;min-width: 0px;margin-top: 10px;">€30,960.00<span>Costos Totales Consumo Electrico</span></div>
        </div>
	</div>
</div>
<div id="LeftSitiosUPD" class="containerLeftSitios" style="display:none;">
	<div style="min-width: 300px;padding-right: 6%;">
        <h1>Datos de Sitio</h1>
        <div>
            <span>Nombre: </span>
            <input id="nombreSitioUPD" type="text" value="">
        </div>
        <div>
            <span>Tipo de Uso: </span>
            <select name="" id="tipoUsoUPD">
	            <option value="Oficina">Oficina</option>
                <option value="Taller">Taller</option>
                <option value="Vivienda">Vivienda</option>
            </select>
        </div> 
        <div>
            <span>Area Utilizada: </span>
            <input id="areaUtilizadaUPD" type="text">
        </div>
        <div>
            <span>Propiedad</span>
            <select name="" id="PropiedadUPD">
            	<option value="Alquilada">Alquilada</option>
            	<option value="Propia">Propia</option>
            </select>
        </div>
        <div>
            <span>Dirección: </span>
            <input id="direccionUPD" type="text">
        </div>
        <div class="spliter"></div>
        <h1>Empleados</h1>
        <div>
            <span>Tiempo Completo</span><input id="tiempoCompletoUPD" type="number" onkeypress="validate(event)">
        </div>
        <div>
            <span>Tiempo Parcial</span><input id="tiempoParcialUPD" type="number" onkeypress="validate(event)">
        </div>
        <div><span>
            En el Extrangero</span><input id="extrangeroUPD" type="number" onkeypress="validate(event)">
        </div>
        <div><span>
            En Instruccion</span><input id="instruccionUPD" type="number" onkeypress="validate(event)">
        </div>
        <div id="EmpleadosSitioUPD" style="width:100% !important;max-width:150px !important;" class="result"><span>empleados en Sitio</span></div>
	</div>
	<div class="plazasTrabajo">
        <h1>Plazas de Trabajo</h1> 
        <div class="plazas" >
    	    <span>Potencia de computadora por plaza</span>
    	    <input id="potenciaDeComputadoraUPD" type="number" onkeypress="validate(event)"  placeholder="[w]">
    	    <span>Potencia de iluminación por plaza</span>
    	    <input id="potenciaDeIluminacionUPD" type="number" onkeypress="validate(event)" step="any" placeholder="[w]">
    	    <span>Plazas Utilizadas en horarios de trabajo</span>
    	    <input id="plazasUtilizadasUPD" type="number" onkeypress="validate(event)" step="any">
        </div>
        <div class="result2">250 <span>Dias laborales por año</span></div>
        <div></div>
        <div id="ConsumoElectricoUPD" class="result2" style="background-color: #AA0000;">10000 <span style="display: inline;">kWh/a</span><span>Consumo eléctrico de plaza de trabajo</span></div> 
        <div></div>
	</div>
	<div class="datosEnergia">
        <h1>Datos de Energía</h1>
        <div class="leftSitios">
            <div><span>Proveedor</span><input id="proveedorUPD" type="text" ></div>
            <div><span>Factor de mezcla de energía usada</span><input id="factorMezclaUPD" type="number" onkeypress="validate(event)" placeholder="[g/kWh]"></div>
            <div><span>Consumo eléctrico anual</span><input id="consumoElectricoAnualUPD" type="number" onkeypress="validate(event)" placeholder="[kWh/a]"></div>
            <div><span>Suministrado de la red</span><input id="suministradoRedUPD" type="number" onkeypress="validate(event)" placeholder="[kWh/a]"></div>
        </div>
        <div class="leftSitios">	
            <div><span>Cogeneración</span><input id="cogeneracionUPD" type="number" onkeypress="validate(event)" placeholder="[kWh/a]"></div>
            <div><span>Consumo eléctrico según factura</span><input id="consumoElectricoFacturaUPD" type="number" onkeypress="validate(event)" placeholder="[€]"></div>
            <div><span>Compensación por autoconsumo</span><input id="compensacionAutoconsumoUPD" type="number" onkeypress="validate(event)" placeholder="[€]"></div>  
        </div><br />
        <div class="result2Container">
        <div id="costosCogeneracionUPD" class="result2" style="min-width: 0px;">€De Auditoria<span>Costos por Cogeneración</span></div>
        <div id="CTConsumoElectricoUPD" class="result2" style="background-color: #AA0000;min-width: 0px;margin-top: 10px;">€30,960.00<span>Costos Totales Consumo Electrico</span></div>
        </div>
	</div>
</div>

<div id="RightSitios" class="containerRightSitios">
    <div id="routebtn" >Como llegar?</div>
    <div id="geo" class="geo" ></div> 
    <div id="Unablecanvas" style="display:block; width: 100%;height: 300px;background-color: rgba(0, 0, 0, 0.19);margin-bottom: -300px;z-index: 1;position: relative;"></div>   
    <div id="map-canvas" style="width: 100%;height: 300px;"></div>
      
    <div id="infoPanel">
    <div id="markerStatus" style="display:none;"><i>Arrastre el marcador rojo:</i></div>
    <b>Direccion mas cercana en google:</b>
    <div id="address"></div>
    </div>
    <div class="verDatos"><a id="verdatos" href="@Url.Content("~/Home/Sitios")/?User=@ViewBag.User" >Ver auditoria de sitio</a></div>
</div>
<script type="text/javascript" src="@Url.Content("~/Scripts/Operaciones/operaciones.js")"></script>
<script type="text/javascript" src="http://maps.google.com/maps/api/js?sensor=false"></script>
<script type="text/javascript">  
    $(document).ready(function () {
        $.ajax({
            url: "@Url.Content("~/Home/authSession")",
            type: "POST",
            dataType: "json",
            data: { 'user': "@ViewBag.User" },
            success: successFuncAuth
        });
    });
    function successFuncAuth(data, status) {
        if (data == "true") {
        }
        else { window.location.replace("@Url.Content("~/Home/login")"); }
    }
    var latFromDB = "";
    var longFromDB = "";
    var founded = "";
    var zm = 15;
    $.ajax({
        url: "@Url.Content("~/AjaxTest/getSitio")",
        type: "POST",
        dataType: "json",
        traditional: true,
        data: { 'par': location.href },
        success: successFuncGetSite
    });
    
    function successFuncGetSite(data, status) {
        if (data != "search") {
            if (data.toString().split("/")[0] == "nuevo") {
                $("#LeftSitios").remove();
                $("#Unablecanvas").remove();
                $("#modificar").remove();
                $("#agregar").remove();                
                nombreEmpresa.value = data.toString().split('/')[1];
                getPicEmpresa(data.toString().split('/')[1]);
                LeftSitiosUPD.style.display = "block";
                zm = 8;
                latFromDB = "13.659534499626877";
                longFromDB = "-88.9036442640625";
                window.setTimeout('getLocation()', '1000');
                $("#searchEmpresas").remove();
            } else {
                nombreEmpresa.value = data.nombre_empresa;
                $("#searchEmpresas").remove();
                cleanFields();
                latFromDB = data.geo_latitud;
                longFromDB = data.geo_longitud;
                getPicEmpresa(data.nombre_empresa);
                nombreEmpresa.innerHTML = data.nombre_empresa;                
                nombreSitio.value = data.nombre_sitio;
                verdatos.href = "@Url.Content("~/Home/Auditoria/")?User=@ViewBag.User&review=" + data.nombre_empresa + '/' + data.nombre_sitio;
                tipoUso.value = data.tipo_uso;
                areaUtilizada.value = data.area_utilizada;
                Propiedad.value = data.propiedad;
                direccion.value = data.direccion;
                tiempoCompleto.value = data.tiempo_completo;
                tiempoParcial.value = data.tiempo_parcial;
                extrangero.value = data.extrangero;
                instruccion.value = data.instruccion;
                potenciaDeComputadora.value = data.potencia_pc;
                potenciaDeIluminacion.value = data.potencia_iluminacion;
                plazasUtilizadas.value = data.plazas_utilizadas;
                proveedor.value = data.proveedor;
                factorMezcla.value = data.factor_mezcla;
                consumoElectricoAnual.value = data.consumo_electrico_anual;
                suministradoRed.value = data.suministrado_red;
                cogeneracion.value = data.cogeneracion;
                consumoElectricoFactura.value = data.consumo_electrico_factura;
                compensacionAutoconsumo.value = data.compensacion_auto_consumo;
                founded = "yes";
                window.setTimeout('getLocation()', '1000');
                EmpleadosSitioOP();
                ConsumoElectricoOP();
                CTConsumoElectricoOP();
            }
        }
        else {
            $(document).ready(function () {
                $.ajax({
                    url: "@Url.Content("~/AjaxTest/getEmpresas")",
                    type: "POST",
                    dataType: "json",
                    data: {},
                    success: successFuncGetEmpresas
                });                
            });
            $("#empresas").change(function () {
                $('#nuevoSitio').attr('href', "@Url.Content("~/Home/Sitios/")" + "?User=" +
                    document.getElementById("name").value + "&review=nuevo/" +
                    document.getElementById("empresas").value);
                document.getElementById("nuevoSitio").style.display  = "block";
                $("#nuevoSitio li").text("Nuevo Sitio para " + document.getElementById("empresas").value + " +");
            });
            $("#sitioTitleContainer").remove();
            $("#LeftSitios").remove();
            $("#LeftSitiosUPD").remove();
            $("#RightSitios").remove();
            document.getElementById("listaMainSitios").style.display = "block";
        }
    }
    function successFuncGetEmpresas(data, status) {
        searchEmpresas.style.display = "block";
        $('#nuevoSitio').attr('href', "@Url.Content("~/Home/Sitios/")" + "?User=" +
                        document.getElementById("name").value + "&review=nuevo/" + data[0].nombre);
                    $("#nuevoSitio li").text("Nuevo Sitio para " + data[0].nombre + " +");
                    for (i = 0; i < data.length; i++) {
                        document.getElementById("empresas").innerHTML = document.getElementById("empresas").innerHTML +
                        "<option value='" + data[i].nombre + "'>" + data[i].nombre + "</option></a>";
                    }
                }
    </script>
<div id="listaMainSitios" class="listaMainSitios">
@Html.Partial("listaSitios")
</div>

<script type="text/javascript"> 
    
        function getPicEmpresa(dtnm) {
            var srcV = "";
            $.ajax({
                url: "@Url.Content("~/AjaxTest/getEmpresa")",
                type: "POST",
                dataType: "json",
                data: { 'par': "", 'name': dtnm },
                success: successFunc
            });
            function successFunc(data, status) {
                imgEmpresa.src = data.logo;
            }
        }
    var directionsDisplay;
    var directionsService = new google.maps.DirectionsService();
    var map;
    var Act = "";
    function getLocation(actt) {        
        if (navigator.geolocation) {
            navigator.geolocation.getCurrentPosition(showPosition);
            if (document.getElementById("LeftSitiosUPD").style.display == "none") {
                Act = actt;
                if (document.getElementById("geo").innerHTML != "") {
                    window.setTimeout('initialize1()', '5000');
                } else { window.setTimeout('getLocation()', '3000'); }
            } else {
                Act = actt;
                if (document.getElementById("geo").innerHTML != "") {
                    window.setTimeout('initialize1()', '5000');                    
                } else { window.setTimeout('getLocation()', '3000'); }
            }
        } else {}
    }

    function showPosition(position) {
        document.getElementById("geo").innerHTML = "Mi ubicación: <span id='latMy'>" + position.coords.latitude +
        "</span>,<span id='longMy'>" + position.coords.longitude + "</span>,<br>" + "Ubicación de Sitio: <span id='latSitio'>" + latFromDB + "</span>, <span id='longSitio'>" + longFromDB + " </span>";
    }

    function initialize1() {
        var location = new google.maps.LatLng(document.getElementById('latSitio').innerHTML, document.getElementById('longSitio').innerHTML);
        if (Act == "nada") {            
            location = new google.maps.LatLng(document.getElementById('latSitio').innerHTML, document.getElementById('longSitio').innerHTML);
        }
        if (Act == "nuevo") {
            location = new google.maps.LatLng(document.getElementById('latMy').innerHTML, document.getElementById('longMy').innerHTML);
        }
        var mapCanvas = document.getElementById('map-canvas');
        directionsDisplay = new google.maps.DirectionsRenderer();
        var mapOptions = {
            center: location,
            zoom: zm,
            mapTypeId: google.maps.MapTypeId.ROADMAP
        };
        var nomS = "Nuevo Sitio";
        try{
            nomS = document.getElementById('nombreSitio').value;
        }catch(ex){}
        map = new google.maps.Map(document.getElementById('map-canvas'), mapOptions);
        var marker = new google.maps.Marker({
            position: location,
            map: map,
            title: nomS,
            draggable: true
        });
        directionsDisplay.setMap(map);
        // Update current position info.
        updateMarkerPosition(location);
        geocodePosition(location);

        // Add dragging event listeners.
        google.maps.event.addListener(marker, 'dragstart', function () {
            updateMarkerAddress('Arrastrando...');
        });
        
        google.maps.event.addListener(marker, 'drag', function () {
            updateMarkerStatus('Arrastrando...');
            updateMarkerPosition(marker.getPosition());
        });

        google.maps.event.addListener(marker, 'dragend', function () {
            updateMarkerStatus('Listo.');
            geocodePosition(marker.getPosition());
        });
        google.maps.event.addDomListener(document.getElementById('routebtn'), 'click', calcRoute);
    }
    
    var geocoder = new google.maps.Geocoder();

    function geocodePosition(pos) {
        geocoder.geocode({
            latLng: pos
        }, function (responses) {
            if (responses && responses.length > 0) {
                updateMarkerAddress(responses[0].formatted_address);
            } else {
                updateMarkerAddress('Cannot determine address at this location.');
            }
        });
    }

    function updateMarkerStatus(str) {
        document.getElementById('markerStatus').innerHTML = str;
    }

    function updateMarkerPosition(latLng) {
        document.getElementById("latSitio").innerHTML = latLng.lat();
        document.getElementById("longSitio").innerHTML = latLng.lng();
    }

    function updateMarkerAddress(str) {
        document.getElementById('address').innerHTML = str;
    }    

    function calcRoute() {
        var start = new google.maps.LatLng(document.getElementById('latSitio').innerHTML, document.getElementById('longSitio').innerHTML);
        var end = new google.maps.LatLng(document.getElementById('latMy').innerHTML, document.getElementById('longMy').innerHTML);

        var bounds = new google.maps.LatLngBounds();
        bounds.extend(start);
        bounds.extend(end);
        map.fitBounds(bounds);
        var request = {
            origin: start,
            destination: end,
            travelMode: google.maps.TravelMode.DRIVING
        };
        directionsService.route(request, function (response, status) {
            if (status == google.maps.DirectionsStatus.OK) {
                directionsDisplay.setDirections(response);
                directionsDisplay.setMap(map);
            } else {
                alert("Directions Request from " + start.toUrlValue(6) + " to " + end.toUrlValue(6) + " failed: " + status);
            }
        });
    }
    //******************************
    $(document).ready(function () {
        $(".verDatos").click(function () {
            window.location.replace("@Url.Content("~/Home/Auditoria/")" + "?User=" + document.getElementById("name").value +
                "&review=" + nombreEmpresa.val +
                "/" + nombreSitio.value
            );
        });
        $("#agregar, #regresar, #modificar").click(function () {
            $("#LeftSitios, #LeftSitiosUPD").dequeue().stop();
            $('#LeftSitios').toggle({ marginLeft: '-110%' },3000);//, 500, function () { $('#headInicial').css('display', 'none') });            
            $('#LeftSitiosUPD').toggle({ marginLeft: '-110%' }, 3000);
            $('#regresar, #agregar, #modificar, #Unablecanvas, #markerStatus, #accionSU').toggle({ display: 'inline-block' }, 3000);
        });
        $("#modificar").click(function () {
            accionSU.innerHTML = "Actualizar " + nombreSitio.value;
            modificar();
        });
        $("#agregar").click(function () {
            accionSU.innerHTML = "Nuevo Sitio"
            getLocation('nuevo');
            cleanFields();
        });
        $("#regresar").click(function () {
            accionSU.innerHTML = "";
            getLocation('nada');
            cleanFields();
        });

        $("#guardar").click(function () {
            var action = "";
            var val = areCompleteFields();
            if (val == true) {
                try {
                    if (accionSU.innerHTML.indexOf(nombreSitio.value) > -1) {
                        action = "update";
                    }
                    else { action = "save"; }
                } catch (ex) { action = "save"; }
                var data = new Array({
                    "nombreEmpresaParaSitio": document.getElementById("nombreEmpresa").innerHTML,
                    "nombreSitio": document.getElementById("nombreSitioUPD").value,
                    "nombreSitioViejo": document.getElementById("nombreSitio").value,
                    "tipoUso": document.getElementById("tipoUsoUPD").value,
                    "areaUtilizada": document.getElementById("areaUtilizadaUPD").value,
                    "Propiedad": document.getElementById("PropiedadUPD").value,
                    "direccion": document.getElementById("direccionUPD").value,
                    "geoLatitud": document.getElementById("latSitio").innerHTML,
                    "geoLongitud": document.getElementById("longSitio").innerHTML,
                    "tiempoCompleto": document.getElementById("tiempoCompletoUPD").value,
                    "tiempoParcial": document.getElementById("tiempoParcialUPD").value,
                    "extrangero": document.getElementById("extrangeroUPD").value,
                    "instruccion": document.getElementById("instruccionUPD").value,
                    "potenciaDeComputadora": document.getElementById("potenciaDeComputadoraUPD").value,
                    "potenciaDeIluminacion": document.getElementById("potenciaDeIluminacionUPD").value,
                    "plazasUtilizadas": document.getElementById("plazasUtilizadasUPD").value,
                    "proveedor": document.getElementById("proveedorUPD").value,
                    "factorMezcla": document.getElementById("factorMezclaUPD").value,
                    "consumoElectricoAnual": document.getElementById("consumoElectricoAnualUPD").value,
                    "suministradoRed": document.getElementById("suministradoRedUPD").value,
                    "cogeneracion": document.getElementById("cogeneracionUPD").value,
                    "consumoElectricoFactura": document.getElementById("consumoElectricoFacturaUPD").value,
                    "compensacionAutoconsumo": document.getElementById("compensacionAutoconsumoUPD").value
                });

                $.ajax({
                    url: "@Url.Content("~/Home/saveSitio")",
                    type: "POST",
                    dataType: "json",
                    traditional: true,
                    data: {
                        'action': action,
                        'data': JSON.stringify(data),
                    },
                    success: successFuncSaveSitio
                });
            } else { alert("Complete todos lo datos.") }
        });
    });
    function successFuncSaveSitio(data, status) {
        if (data.toString() == "true") {
            try {
                if (accionSU.innerHTML.indexOf(nombreSitio.value) > -1) {
                    alert("Sitio " + nombreSitio.value + " actualizado.");
                }
                else {
                    alert("Sitio " + nombreSitioUPD.value + " almacenado.");
                }
            } catch (ex) {
                alert("Sitio " + nombreSitioUPD.value + " almacenado.");
            }
            cleanFields()
            window.location.replace(location.href.split("&")[0]);
        }
        else {
            alert("Error");
        }
    }
    function cleanFields() {
        document.getElementById("nombreSitioUPD").value = "";
        document.getElementById("tipoUsoUPD").value = "Oficina";
        document.getElementById("areaUtilizadaUPD").value = "";
        document.getElementById("PropiedadUPD").value = "Alquilada";
        document.getElementById("direccionUPD").value = "";
        document.getElementById("tiempoCompletoUPD").value = "";
        document.getElementById("tiempoParcialUPD").value = "";
        document.getElementById("extrangeroUPD").value = "";
        document.getElementById("instruccionUPD").value = "";
        document.getElementById("potenciaDeComputadoraUPD").value = "";
        document.getElementById("potenciaDeIluminacionUPD").value = "";
        document.getElementById("plazasUtilizadasUPD").value = "";
        document.getElementById("proveedorUPD").value = "";
        document.getElementById("factorMezclaUPD").value = "";
        document.getElementById("consumoElectricoAnualUPD").value = "";
        document.getElementById("suministradoRedUPD").value = "";
        document.getElementById("cogeneracionUPD").value = "";
        document.getElementById("consumoElectricoFacturaUPD").value = "";
        document.getElementById("compensacionAutoconsumoUPD").value = "";
    }
    function modificar() {
        document.getElementById("nombreSitioUPD").value = document.getElementById("nombreSitio").value;
        document.getElementById("tipoUsoUPD").value = document.getElementById("tipoUso").value;
        document.getElementById("areaUtilizadaUPD").value = document.getElementById("areaUtilizada").value;
        document.getElementById("PropiedadUPD").value = document.getElementById("Propiedad").value;
        document.getElementById("direccionUPD").value = document.getElementById("direccion").value;
        document.getElementById("tiempoCompletoUPD").value = document.getElementById("tiempoCompleto").value;
        document.getElementById("tiempoParcialUPD").value = document.getElementById("tiempoParcial").value;
        document.getElementById("extrangeroUPD").value = document.getElementById("extrangero").value;
        document.getElementById("instruccionUPD").value = document.getElementById("instruccion").value;
        document.getElementById("potenciaDeComputadoraUPD").value = document.getElementById("potenciaDeComputadora").value;
        document.getElementById("potenciaDeIluminacionUPD").value = document.getElementById("potenciaDeIluminacion").value;
        document.getElementById("plazasUtilizadasUPD").value = document.getElementById("plazasUtilizadas").value;
        document.getElementById("proveedorUPD").value = document.getElementById("proveedor").value;
        document.getElementById("factorMezclaUPD").value = document.getElementById("factorMezcla").value;
        document.getElementById("consumoElectricoAnualUPD").value = document.getElementById("consumoElectricoAnual").value;
        document.getElementById("suministradoRedUPD").value = document.getElementById("suministradoRed").value;
        document.getElementById("cogeneracionUPD").value = document.getElementById("cogeneracion").value;
        document.getElementById("consumoElectricoFacturaUPD").value = document.getElementById("consumoElectricoFactura").value;
        document.getElementById("compensacionAutoconsumoUPD").value = document.getElementById("compensacionAutoconsumo").value;
        EmpleadosSitioUPDOP();
        ConsumoElectricoUPDOP();
        CTConsumoElectricoUPDOP();
    }    
    function areCompleteFields() {
        if (document.getElementById("nombreSitioUPD").value == "" ||
        document.getElementById("areaUtilizadaUPD").value  == "" ||
        document.getElementById("direccionUPD").value  == "" ||
        document.getElementById("tiempoCompletoUPD").value == "" ||
        document.getElementById("tiempoParcialUPD").value == "" ||
        document.getElementById("extrangeroUPD").value  == "" ||
        document.getElementById("instruccionUPD").value  == "" ||
        document.getElementById("potenciaDeComputadoraUPD").value  == "" ||
        document.getElementById("potenciaDeIluminacionUPD").value  == "" ||
        document.getElementById("plazasUtilizadasUPD").value  == "" ||
        document.getElementById("proveedorUPD").value  == "" ||
        document.getElementById("factorMezclaUPD").value  == "" ||
        document.getElementById("consumoElectricoAnualUPD").value  == "" ||
        document.getElementById("suministradoRedUPD").value  == "" ||
        document.getElementById("cogeneracionUPD").value  == "" ||
        document.getElementById("consumoElectricoFacturaUPD").value  == "" ||
        document.getElementById("compensacionAutoconsumoUPD").value  == "") {
            return false;
        }
        else {
            return true;
        }
    }
    function validate(evt) {
        var theEvent = evt || window.event;
        var key = theEvent.keyCode || theEvent.which;
        key = String.fromCharCode(key);
        var regex = /\-|\,|[0-9]|\./;
        if (!regex.test(key)) {
            theEvent.returnValue = false;
            if (theEvent.preventDefault) theEvent.preventDefault();
        }
    }
</script>
