﻿@{
    ViewBag.Title = "Cliente";
}   
<script>
    $(document).ready(function () {
        $.ajax({
            url: "@Url.Content("~/Home/authSession")",
            type: "POST",
            dataType: "json",
            data: { 'user': "@ViewBag.User" },
            success: successFuncAuth
        });
    });
    function successFuncAuth(data, status) {
        if (data == "true") {
            loadUser();
        }
        else { window.location.replace("@Url.Content("~/")"); }
    }
    $(function () {
        $(":file").change(function () {
            if (this.files && this.files[0]) {
                var reader = new FileReader();
                reader.onload = imageIsLoaded;
                reader.readAsDataURL(this.files[0]);
            }
        });
    });

    function imageIsLoaded(e) {
        $('#myImg').attr('src', e.target.result);
    };
    function loadUser() {
        $.ajax({
            url: "@Url.Content("~/Home/getUsuario")",
            type: "POST",
            dataType: "json",
            data: { 'nombre': '@ViewBag.User' },
            success: successFuncgetUs
        });
        
    }
    function successFuncgetUs(data, status) {
        myImg.src = data.foto;
        labName.innerHTML = data.usuario1;
        usuario.value = data.usuario1;
        tipoU.value = data.tipo;
        pass.value = data.contraseña;
        document.getElementById("adminForm").style.display = "inline-block";
    }
    function createUser() {
        if (pass.value == pass2.value) {
            $.ajax({
                url: "@Url.Content("~/Home/crearUsuario")",
                type: "POST",
                dataType: "json",
                data: { 'nombre': usuario.value, 'tipo': tipoU.value, 'pass': pass.value, 'foto': myImg.src, 'antiguoNombre': labName.innerHTML },
                success: successFuncCrearUs
            });

            
        }
        else { alert("Las contraseñas no concuerdan!!!");}
    }
    function successFuncCrearUs(data, status) {
        if (data == "trueact") {
            alert("Usuario '" + usuario.value + "' actualizado exitosamete.")
            location.replace("@Url.Content("~/Home/Usuario/")?User=" + document.getElementById("name").value);
        }
    }
    
    </script>
<div class="adminMain">
    <div id="adminForm" class="adminForm">        
        <div class="infoForm">Información de ususario <span id="labName"></span></div>
        <div class="actions save" id="save" onclick="createUser()">✔</div>
        <div class="field"><input id="selectLogo" type='file' name="Logo"/>
        <img id="myImg" src="#" alt="New Image" class="userMain" style="float:left;"/></div>        
	    <div class="field"><span>Nombre:</span><input id="usuario" type="text"></div>
	    <div class="field"><span>Tipo:</span><select id="tipoU" name="" >
	    	<option value="Administrador">Administrador</option>
	    	<option value="Cliente">Cliente</option>
	    </select></div>
	    <div class="field"><span>Contraseña:</span><input id="pass" type="password"></div>
        <div class="field"><span>Confirmación de contraseña</span><input id="pass2" type="password"></div>
        
    </div>
</div>
<style>
    /**/

    #labName {
            color: #777777;
    }
    .infoForm {
        font-size: 1.3rem;
        border-bottom: solid 2px #FF0000;
        margin-bottom: 10px;
        color: red;
    }
    .adminForm {
        width: 50%;
        max-width: 300px;
        min-width: 200px;
        padding: 10px;
        display: inline-block;
        margin: auto;
        border: solid 1px #A5A1A2;
        height: auto;
    }
    
    .actions {
        margin-right: 15px;
        text-align: center;
        width: 40px;
        height: 40px;
        font-size: 0.8rem;
        line-height: 35px;
        border-radius: 50%;
        border: solid 3px gray;
        float: right;
        display: inline-block;
        cursor: pointer;
    }
    .save {
        cursor: pointer;
    }
    .save:hover {
        border: solid 6px #77BF82 !important;
    }
    .actions:hover {
        font-size:1.2rem;
        border: solid 6px gray;
        width: 34px;
        height: 34px;

    }
    .adminMain {
        width: 100%;
        display: inline-block;
        min-height: 600px;
        padding:0% 5%;
    }
</style>
